<div class="weapon-details">
  <p>{{localize "mythic.armorSheet.details.variant"}}</p>
  <input name="system.variant" type="text" value="{{system.variant}}"/>
  <p>{{localize "mythic.armorSheet.details.faction"}}</p>
  <input name="system.faction" type="text" value="{{system.faction}}"/>
  <p>{{localize "mythic.armorSheet.details.size"}}</p>
  <select name="system.size">
    {{#select system.size}}
      {{#each config.size as |size key|}}
        <option value="{{key}}">{{localize size}}</option>
      {{/each}}
    {{/select}}
  </select>
  <p>{{localize "mythic.armorSheet.details.training"}}</p>
  <select name="system.trainings.faction">
    {{#select system.trainings.faction}}
      {{#each config.trainings.factions as |value key|}}
        <option value="{{key}}">{{localize value}}</option>
      {{/each}}
    {{/select}}
  </select>
</div>
{{!-- Armor Basics --}}
<div class="item-tables">
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.armorSheet.details.weight"}}</th>
        <th>{{localize "mythic.armorSheet.details.price"}}</th>
        <th>{{localize "mythic.armorSheet.details.material"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            name="system.weight.each"
            type="number"
            data-dtype="Number"
            value="{{system.weight.each}}"
            onfocus="this.select()"
          />
        </td>
        <td>
          <input
            name="system.price.base"
            type="number"
            data-dtype="Number"
            value="{{system.price.base}}"
            onfocus="this.select()"
          />
        </td>
        <td>
          <input
            name="system.material"
            type="text"
            value="{{system.material}}"
            onfocus="this.select()"
          />
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>{{localize "mythic.armorSheet.details.selfSupported"}}</th>
        <th>{{localize "mythic.armorSheet.details.hasShields"}}</th>
        <th>{{localize "mythic.armorSheet.details.hasStats"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            name="system.weight.selfSupported"
            type="checkbox"
            {{checked system.weight.selfSupported}}
          />
        </td>
        <td>
          <input
            name="system.shields.has"
            type="checkbox"
            {{checked system.shields.has}}
          />
        </td>
        <td>
          <input
            name="system.characteristics.has"
            type="checkbox"
            {{checked system.characteristics.has}}
          />
        </td>
      </tr>
    </tbody>
  </table>
  {{!-- Armor Locations --}}
  <table class="armor-locations">
    <thead>
      <tr>
        <th colspan="7">{{localize "mythic.armorSheet.locations.label"}}</th>
      </tr>
      <tr>
        <th>{{localize "mythic.armorSheet.source.label"}}</th>
        {{#each system.protection as |_ loc|}}
          <th>{{localize (concat "mythic.armorSheet.locations." loc)}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{localize "mythic.armorSheet.source.armor"}}</td>
        {{#each system.protection as |values loc|}}
          <td>
            <input
              name="system.protection.{{loc}}.armor"
              type="number"
              data-dtype="Number"
              value="{{values.armor}}"
              onfocus="this.select()"
            />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td>{{localize "mythic.armorSheet.source.variant"}}</td>
        {{#each system.protection as |values loc|}}
          <td>
            <input
              name="system.protection.{{loc}}.variant"
              type="number"
              data-dtype="Number"
              value="{{values.variant}}"
              onfocus="this.select()"
            />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td>{{localize "mythic.armorSheet.source.other"}}</td>
        {{#each system.protection as |values loc|}}
          <td>
            <input
              name="system.protection.{{loc}}.other"
              type="number"
              data-dtype="Number"
              value="{{values.other}}"
              onfocus="this.select()"
            />
          </td>
        {{/each}}
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>{{localize "mythic.armorSheet.total"}}</th>
        {{#each system.protection as |values|}}
          <th>{{values.total}}</th>
        {{/each}}
      </tr>
    </thead>
  </table>
  {{!-- Shields --}}
    {{> "systems/mythic/templates/partials/shields.hbs" system.shields}}
  {{!-- Characteristic Adjustments --}}
  <table
    class="item-stats"
    {{#unless system.characteristics.has}} hidden {{/unless}}
  >
    <thead>
      <tr>
        <th colspan="5">{{localize "mythic.armorSheet.characteristics"}}</th>
      </tr>
      <tr>
        <th>{{localize "mythic.armorSheet.source.label"}}</th>
        <th>STR</th>
        <th>AGI</th>
        <th>{{localize "mythic.armorSheet.mythic"}} STR</th>
        <th>{{localize "mythic.armorSheet.mythic"}} AGI</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{localize "mythic.armorSheet.source.armor"}}</td>
        {{#each system.characteristics as |values stat|}}
          {{#unless (eq stat "has")}}
            <td>
              <input
                name="system.characteristics.{{stat}}.item"
                type="number"
                data-dtype="Number"
                value="{{values.item}}"
                onfocus="this.select()"
              />
            </td>
          {{/unless}}
        {{/each}}
      </tr>
      <tr>
        <td>{{localize "mythic.armorSheet.source.variant"}}</td>
        {{#each system.characteristics as |values stat|}}
          {{#unless (eq stat "has")}}
            <td>
              <input
                name="system.characteristics.{{stat}}.variant"
                type="number"
                data-dtype="Number"
                value="{{values.variant}}"
                onfocus="this.select()"
              />
            </td>
          {{/unless}}
        {{/each}}
      </tr>
      <tr>
        <td>{{localize "mythic.armorSheet.source.other"}}</td>
        {{#each system.characteristics as |values stat|}}
          {{#unless (eq stat "has")}}
            <td>
              <input
                name="system.characteristics.{{stat}}.other"
                type="number"
                data-dtype="Number"
                value="{{values.other}}"
                onfocus="this.select()"
              />
            </td>
          {{/unless}}
        {{/each}}
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>{{localize "mythic.armorSheet.total"}}</th>
        {{#each system.characteristics as |values stat|}}
          {{#unless (eq stat "has")}} <th>{{values.total}}</th> {{/unless}}
        {{/each}}
      </tr>
    </thead>
  </table>
  <div></div>
</div>
