<tr>
  <td>
    <a class="postable-item clickable picture-name" data-item-id="{{this._id}}">
      <img alt="{{this.name}}" src="{{this.img}}"/>
      <p>{{this.name}}</p>
    </a>
  </td>
  <td>
    <div class="ability-summary">
      <p>{{this.system.summary}}</p>
      <div class="item-management">
        <a class="item-edit" data-item-id="{{this._id}}">
          <i class="clickable fas fa-edit"></i>
        </a>
        <a class="item-delete" data-item-id="{{this._id}}">
          <i class="clickable fas fa-trash"></i>
        </a>
      </div>
    </div>
  </td>
  <td>{{localnum this.system.cost}}</td>
</tr>
