<section class="character-sheet-summary tab">
  <div class="characteristics-settings">
    <h2>Characteristics Settings</h2>
    <table>
      <thead>
        <tr>
          <th>Source</th>
          {{#each config.characteristic as |name _|}}
            <td>{{name}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Soldier Type</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.soldierType" value="{{stat.soldierType}}" type="number" data-dtype="Number" placeholder="0"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>Ability Pool (100)</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.abilityPool" value="{{stat.abilityPool}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>Background</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.background" value="{{stat.background}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>Equipment</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.equipment" value="{{stat.equipment}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>Advancements</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.advancements" value="{{stat.advancements}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>Other</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.other" value="{{stat.other}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Total</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
        </tr>
      </thead>
    </table>
    <textarea name="data.characteristics.notes" placeholder="Notes about characteristics.">{{data.data.characteristics.notes}}</textarea>
  </div>
</section>