<section class="character-sheet-skills">
  <table id="skill-table">
    <thead>
      <tr>
        <th colspan="7">{{localize "mythic.characterSkills.skillsTitle"}}</th>
      </tr>
      <tr>
        <th>{{localize "mythic.characterSkills.name"}}</th>
        <th>{{localize "mythic.characterSkills.difficulty"}}</th>
        <th>{{localize "mythic.characterSkills.type"}}</th>
        <th>{{localize "mythic.characterSkills.characteristic"}}</th>
        <th>{{localize "mythic.characterSkills.training"}}</th>
        <th style="width:90px">{{localize "mythic.characterSkills.mods"}}</th>
        <th>{{localize "mythic.characterSkills.roll"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each actor.data.data.skills as |details skill|}}
        {{#unless (cond "||" (eq skill "notes") (eq skill "medMgalekgolo"))}}
          <tr>
            <td>{{localize (concat "mythic.skillNames." skill)}}</td>
            {{#with (lookup ../config.skills [skill])~}}
              <td>{{localize this.difficulty}}</td>
              <td>{{localize this.type}}</td>
            {{/with}}
            <td>
              <select name="data.skills.{{skill}}.characteristic">
                {{#select details.characteristic}}
                  {{#with (lookup ../config.skills [skill])~}}
                    {{#if (eq ../../actor.type "Flood")}}
                      {{#each this.floodCharacteristics as |stat|}}
                        <option value="{{stat}}">{{stat}}</option>
                      {{/each}}
                    {{else}}
                      {{#each this.characteristics as |stat|}}
                        <option value="{{stat}}">{{stat}}</option>
                      {{/each}}
                    {{/if}}
                  {{/with}}
                {{/select}}
              </select>
            </td>
            <td>
              <select name="data.skills.{{skill}}.training.tier">
                {{#select details.training.tier}}
                  {{#each ../config.skillTraining as |content option|}}
                    <option value="{{option}}">{{localize content}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </td>
            <td>
              <input
                name={{concat "data.skills." skill ".mods"}}
                type="number"
                data-dtype="Number"
                value="{{details.mods}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <button
                class="skill
                rollable"
                name="{{localize (concat "mythic.skillNames." skill)}} ({{details.characteristic}})"
                value="{{details.roll}}"
              >
                <b>{{details.roll}}</b>
              </button>
            </td>
          </tr>
        {{/unless}}
      {{/each}}
      <tr>
        <td colspan="7">
          <textarea
            name="data.skills.notes"
            placeholder="{{localize "mythic.characterSkills.skillNotes"}}"
          >
            {{data.data.skills.notes}}
          </textarea>
        </td>
      </tr>
    </tbody>
  </table>
</section>
