<section>
  <div class="weight-tracker" style="background:{{data.data.carryingCapacity.bar.bgBar}}">
    <div 
      class="encumbrance"
      style="background:{{data.data.carryingCapacity.bar.bgFill}};width:{{data.data.carryingCapacity.bar.width}}"
    >
      <p style="margin-left:{{data.data.carryingCapacity.bar.left}}">
        {{data.data.carryingCapacity.bar.width}}
      </p>
    </div>
  </div>
  <p style="text-align:center"><b>{{localize (concat "mythic.characterStatBlock.capacity." data.data.carryingCapacity.bar.tier)}}</b></p>
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.characterInventory.name"}}</th>
        <th>{{localize "mythic.characterInventory.carried"}}</th>
        <th>{{localize "mythic.characterInventory.equipped"}}</th>
        <th>{{localize "mythic.characterInventory.selfSupported"}}</th>
        <th>{{localize "mythic.characterInventory.quantity"}}</th>
        <th>{{localize "mythic.characterInventory.felt"}}</th>
        <th>{{localize "mythic.characterInventory.total"}}</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th colspan="7">{{localize "mythic.characterInventory.weapon.label"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each weapons as |weapon|}}
        {{> "systems/mythic/templates/partials/character-sheet-items.hbs" weapon}}
      {{else}}
        <tr>
          <td colspan="7">{{localize "mythic.characterInventory.weapon.empty"}}</td>
        </tr>
      {{/each}}
    </tbody>
    <thead>
      <tr>
        <th colspan="7">{{localize "mythic.characterInventory.armor.label"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each armors as |armor|}}
        {{> "systems/mythic/templates/partials/character-sheet-items.hbs" armor}}
      {{else}}
        <tr>
          <td colspan="7">{{localize "mythic.characterInventory.armor.empty"}}</td>
        </tr>
      {{/each}}
    </tbody>
    <thead>
      <tr>
        <th colspan="7">{{localize "mythic.characterInventory.equipment.label"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each equipment as |equip|}}
        {{> "systems/mythic/templates/partials/character-sheet-items.hbs" equip}}
      {{else}}
        <tr>
          <td colspan="7">{{localize "mythic.characterInventory.equipment.empty"}}</td>
        </tr>
      {{/each}}
      <td colspan="7">
        <textarea name="data.equipmentNotes" placeholder="Write equipment notes here.">{{data.data.equipmentNotes}}</textarea>
      </td>
    </tbody>
    <thead>
      <tr>
        <th>
          {{localize "mythic.characterInventory.characterTotal"}}:&nbsp;{{localnum data.data.carryingCapacity.character}}&nbsp;kg
        </th>
        <th colspan="2">
          +{{data.data.carryingCapacity.hearing}}&nbsp;{{localize "mythic.characterInventory.heard"}}
        </th>
        <th colspan="2">
          <span class="cR-field">
            cR
            <input name="data.cR" type="number" data-dtype="Number" value="{{data.data.cR}}" onfocus="this.select()"/>
          </span>
        </th>
        </th>
        <th>{{localnum data.data.carryingCapacity.felt}}&nbsp;kg</th>
        <th>{{localnum data.data.carryingCapacity.total}}&nbsp;kg</th>
      </tr>
    </thead>
  </table>
</section>