<section class="character-sheet-summary tab">
  <div class="characteristics-settings">
    <h2>Characteristics Settings</h2>
    <table>
      <thead>
        <tr>
          <th>Source</th>
          {{#each config.characteristic as |name _|}}
            <td>{{name}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Soldier Type</td>
          <td>
            <input class="calc-str" name="data.characteristics.str.soldierType" type="number" value="{{data.data.characteristics.str.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-tou" name="data.characteristics.tou.soldierType" type="number" value="{{data.data.characteristics.tou.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-agi" name="data.characteristics.agi.soldierType" type="number" value="{{data.data.characteristics.agi.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfr" name="data.characteristics.wfr.soldierType" type="number" value="{{data.data.characteristics.wfr.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfm" name="data.characteristics.wfm.soldierType" type="number" value="{{data.data.characteristics.wfm.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-int" name="data.characteristics.int.soldierType" type="number" value="{{data.data.characteristics.int.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-per" name="data.characteristics.per.soldierType" type="number" value="{{data.data.characteristics.per.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-cr" name="data.characteristics.cr.soldierType" type="number" value="{{data.data.characteristics.cr.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ch" name="data.characteristics.ch.soldierType" type="number" value="{{data.data.characteristics.ch.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ld" name="data.characteristics.ld.soldierType" type="number" value="{{data.data.characteristics.ld.soldierType}}" data-dtype="Number" placeholder="0"/>
          </td>
        </tr>
        <tr>
          <td>Ability Pool (100)</td>
          <td>
            <input class="calc-str" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-tou" name="data." type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-agi" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfr" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfm" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-int" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-per" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-cr" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ch" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ld" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
        </tr>
        <tr>
          <td>Background</td>
          <td>
            <input class="calc-str" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-tou" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-agi" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfr" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfm" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-int" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-per" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-cr" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ch" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ld" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
        </tr>
        <tr>
          <td>Equipment</td>
          <td>
            <input class="calc-str" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-tou" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-agi" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfr" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfm" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-int" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-per" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-cr" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ch" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ld" name="" type="number" value="data." data-dtype="Number" placeholder="0"/>
          </td>
        </tr>
        <tr>
          <td>Advancements</td>
          <td>
            <select class="calc-str" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
          <td>
            <select class="calc-tou" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
          <td>
            <select class="calc-agi" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
          <td>
            <select class="calc-wfr" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
          <td>
            <select class="calc-wfm" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
          <td>
            <select class="calc-int" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
          <td>
            <select class="calc-per" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
          <td>
            <select class="calc-cr" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
          <td>
            <select class="calc-ch" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
          <td>
            <select class="calc-ld" name="">
              <option value="0" selected>--</option>
              <option value="1">+5</option>
              <option value="2">+10</option>
              <option value="3">+15</option>
              <option value="4">+20</option>
              <option value="5">+25</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Other</td>
          <td>
            <input class="calc-str" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-tou" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-agi" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfr" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-wfm" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-int" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-per" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-cr" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ch" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
          <td>
            <input class="calc-ld" name="" type="number" value="" data-dtype="Number" placeholder="0"/>
          </td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Total</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
        </tr>
      </thead>
    </table>
    <textarea name="data.characteristics.notes" placeholder="Notes about characteristics.">{{data.data.characteristics.notes}}</textarea>
  </div>
</section>