<table class="abilities-table">
  <thead>
    <tr>
      <th colspan="3">{{localize "mythic.characterTalents.abilities.label"}}</th>
    </tr>
    <tr>
      <th>{{localize "mythic.characterTalents.abilities.name"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.summary"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.cost"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each abilities as |ability _|}}
      <tr>
        <td>
          <a class="postable picture-name" data-item_id="{{ability._id}}">
            <img alt="{{ability.name}}" src="{{ability.img}}"/>
            <p>{{ability.name}}</p>
          </a>
        </td>
        <td>{{ability.data.summary}}</td>
        <td>{{ability.data.cost}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="3">{{localize "mythic.characterTalents.abilities.empty"}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<textarea name="data.abilityNotes" placeholder="{{localize "mythic.characterTalents.abilities.notes"}}">{{data.data.abilityNotes}}</textarea>