<div class="sheet-content">
  <table class="exp">
    <thead>
      <tr>
        <th>{{localize "mythic.characterStatBlock.experience.tier"}}</th>
        <th>{{localize "mythic.characterStatBlock.experience.total"}}</th>
        <th>{{localize "mythic.characterStatBlock.experience.spent"}}</th>
        <th>{{localize "mythic.characterStatBlock.experience.current"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>{{data.data.experience.tier}}</b></td>
        <td>
          <div class="exp-edit">
            <b>{{localnum data.data.experience.total}}</b>
            <input id="exp-total-value" type="number" data-dtype="Number"/>
            <button class="exp-total-apply">{{localize "mythic.characterStatBlock.experience.button"}}</button>
          </div>
        </td>
        <td>
          <div class="exp-edit">
            <b>{{localnum data.data.experience.spent}}</b>
            <input id="exp-spent-value" type="number" data-dtype="Number"/>
            <button class="exp-spent-apply">{{localize "mythic.characterStatBlock.experience.button"}}</button>
          </div>
        </td>
        <td><b>{{localnum data.data.experience.current}}</b></td>
      </tr>
    </tbody>
  </table>
  <h2>{{localize "mythic.characterStatBlock.experience.notes"}}</h2>
  {{editor content=data.data.experience.notes target="data.experience.notes" button=true owner=owner editable=this.options.editable}}
</div>