<section>
  <div
    class="weight-tracker"
    style="background:{{system.carryingCapacity.bar.bgBar}}"
  >
    <div
      class="encumbrance"
      style="background:{{system.carryingCapacity.bar.bgFill}};width:{{system.carryingCapacity.bar.width}}"
    >
      <p style="margin-left:{{system.carryingCapacity.bar.left}}">
        {{system.carryingCapacity.bar.width}}
      </p>
    </div>
  </div>
  <div class="inventory-bar-labels">
    <p>
      {{#if (eq system.carryingCapacity.bar.tier "push")}}
        {{localize "mythic.characterStatBlock.capacity.lift"}}
      {{else if (eq system.carryingCapacity.bar.tier "lift")}}
        {{localize "mythic.characterStatBlock.capacity.carry"}}
      {{/if}}
    </p>
    <p>
      {{#if system.carryingCapacity.overencumbered}}
        {{localize "mythic.characterInventory.overencumbered"}}
      {{/if}}
    </p>
    <p>{{localize (concat "mythic.characterStatBlock.capacity." system.carryingCapacity.bar.tier)}}</p>
  </div>
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.characterInventory.name"}}</th>
        <th>{{localize "mythic.characterInventory.carried"}}</th>
        <th>{{localize "mythic.characterInventory.equipped"}}</th>
        <th>{{localize "mythic.characterInventory.selfSupported"}}</th>
        <th>{{localize "mythic.characterInventory.quantity"}}</th>
        <th>{{localize "mythic.characterInventory.felt"}}</th>
        <th>{{localize "mythic.characterInventory.total"}}</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th colspan="7">
          {{localize "mythic.characterInventory.weapon.label"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each weapons as |weapon|}}
        {{> "systems/mythic/templates/partials/character-sheet-items.hbs" weapon}}
      {{else}}
        <tr>
          <td colspan="7">
            {{localize "mythic.characterInventory.weapon.empty"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
    <thead>
      <tr>
        <th colspan="7">
          {{localize "mythic.characterInventory.armor.label"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each armors as |armor|}}
        {{> "systems/mythic/templates/partials/character-sheet-items.hbs" armor}}
      {{else}}
        <tr>
          <td colspan="7">
            {{localize "mythic.characterInventory.armor.empty"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
    <thead>
      <tr>
        <th colspan="7">
          {{localize "mythic.characterInventory.equipment.label"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each equipment as |equip|}}
        {{> "systems/mythic/templates/partials/character-sheet-items.hbs" equip}}
      {{else}}
        <tr>
          <td colspan="7">
            {{localize "mythic.characterInventory.equipment.empty"}}
          </td>
        </tr>
      {{/each}}
      <td colspan="7">
        <textarea
          name="system.equipmentNotes"
          placeholder="{{localize "mythic.characterInventory.equipment.notes"}}"
        >{{system.equipmentNotes}}</textarea>
      </td>
    </tbody>
    <thead>
      <tr>
        <th>
          {{localize "mythic.characterInventory.characterTotal"}}:&nbsp;{{localnum system.carryingCapacity.character}}&nbsp;kg
        </th>
        <th colspan="2">
          +{{system.carryingCapacity.hearing}}&nbsp;{{localize "mythic.characterInventory.heard"}}
        </th>
        <th colspan="2">
          <span class="cR-field">
            cR
            <input
              name="system.cR"
              type="number"
              data-dtype="Number"
              value="{{system.cR}}"
              onfocus="this.select()"
            />
          </span>
        </th>
        </th>
        <th>{{localnum system.carryingCapacity.felt}}&nbsp;kg</th>
        <th>{{localnum system.carryingCapacity.total}}&nbsp;kg</th>
      </tr>
    </thead>
  </table>
</section>
