<section class="character-sheet-summary tab">
  {{#if (eq actor.type "Bestiary Character")}}
    <div>
      <h2>{{localize "mythic.characterSettings.bestiary.difficultyLabel"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{localize "mythic.characterSettings.bestiary.normalOnly"}}</th>
            <th>
              {{localize "mythic.characterSettings.bestiary.advancesMythics"}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                name="system.difficulty.normalOnly"
                type="checkbox"
                {{checked system.difficulty.normalOnly}}
              />
            </td>
            <td>
              <input
                name="system.difficulty.advancesMythics"
                type="checkbox"
                {{checked system.difficulty.advancesMythics}}
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>{{localize "mythic.characterSettings.bestiary.expPayoutLabel"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{localize "mythic.characterSettings.bestiary.total"}}</th>
            <th>{{localize "mythic.characterSettings.bestiary.base"}}</th>
            <th>{{localize "mythic.characterSettings.bestiary.kit"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width:100px">
              <b>{{localnum system.experiencePayout.total}}</b>
            </td>
            <td>
              {{#if system.difficulty.normalOnly}}
                <input
                  style="width:60px"
                  name="system.experiencePayout.difficulty.normal"
                  value="{{system.experiencePayout.difficulty.normal}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              {{else}}
                <div class="by-difficulty-tier">
                  {{#each system.experiencePayout.difficulty as |payout tier|}}
                    <input
                      {{#if (eq ../system.experiencePayout.tier tier)}}
                        style="font-weight:bold"
                      {{/if}}
                      class="exp-input"
                      name="system.experiencePayout.difficulty.{{tier}}"
                      value="{{payout}}"
                      type="number"
                      data-dtype="Number"
                      onfocus="this.select()"
                    />
                  {{/each}}
                </div>
              {{/if}}
            </td>
            <td style="width:110px">
              <input
                name="system.experiencePayout.kit"
                value="{{system.experiencePayout.kit}}"
                type="number"
                data-dtype="Number"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/if}}
  <div class="characteristics-settings wide">
    <h2>{{localize "mythic.characterSettings.characteristics.charLabel"}}</h2>
    <table class="characteristics-settings">
      <thead>
        <tr>
          <th>
            {{localize "mythic.characterSettings.characteristics.source"}}
          </th>
          {{#each config.characteristic as |name _|}}
            <td>{{name}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{localize "mythic.characterSettings.characteristics.soldierType"}}
          </td>
          {{#each actor.system.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input
                  class="calc-{{name}}"
                  name="system.characteristics.{{name}}.soldierType"
                  value="{{stat.soldierType}}"
                  type="number"
                  data-dtype="Number"
                  placeholder="0"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>
            {{localize "mythic.characterSettings.characteristics.creationPoints"}}
            &nbsp;({{system.characteristics.extra.poolTotal}})
          </td>
          {{#each actor.system.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input
                  class="calc-{{name}}
                  calc-pool"
                  name="system.characteristics.{{name}}.abilityPool"
                  value="{{stat.abilityPool}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>
            {{localize "mythic.characterSettings.characteristics.background"}}
          </td>
          {{#each actor.system.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input
                  class="calc-{{name}}"
                  name="system.characteristics.{{name}}.background"
                  value="{{stat.background}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td style="height:33px">
            {{localize "mythic.characterSettings.characteristics.equipment"}}
          </td>
          <td>{{actor.system.characteristics.str.equipment}}</td>
          <td>--</td>
          <td>{{actor.system.characteristics.agi.equipment}}</td>
          {{#times 7}}
            <td>--</td>
          {{/times}}
        </tr>
        <tr>
          {{#if (eq actor.type "Named Character")}}
            <td>
              {{localize "mythic.characterSettings.characteristics.advancements"}}
            </td>
            {{#each actor.system.characteristics as |stat name|}}
              {{#unless (eq name "extra")}}
                <td>
                  <select name="system.characteristics.{{name}}.advancements">
                    {{#select stat.advancements}}
                      {{#each ../config.advancements.characteristics as |text num|}}
                        <option value="{{num}}">{{text}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </td>
              {{/unless}}
            {{/each}}
          {{else}}
            <td style="height:33px">
              {{localize "mythic.characterSettings.characteristics.difficulty"}}
            </td>
            {{#each actor.system.characteristics as |stat name|}}
              {{#unless (eq name "extra")}}
                {{#if ../this.system.difficulty.normalOnly}}
                  <td>{{stat.difficulty}}</td>
                {{else}}
                  <td>
                    <div class="check-cell">
                      <input
                        name="system.characteristics.{{name}}.advances"
                        type="checkbox"
                        {{checked stat.advances}}
                      />
                      {{stat.difficulty}}
                    </div>
                  </td>
                {{/if}}
              {{/unless}}
            {{/each}}
          {{/if}}
        </tr>
        <tr>
          <td style="height:33px">
            {{localize "mythic.characterSettings.characteristics.medical"}}
          </td>
          {{#each actor.system.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>{{stat.medical}}</td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td style="height:33px">
            {{localize "mythic.characterSettings.characteristics.penalty"}}
          </td>
          {{#each actor.system.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>(&nbsp;&ndash;{{stat.penalty}}&nbsp;)</td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.other"}}</td>
          {{#each actor.system.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input
                  class="calc-{{name}}"
                  name="system.characteristics.{{name}}.other"
                  value="{{stat.other}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.total"}}</th>
          {{#each actor.system.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <th>{{stat.total}}</th>
            {{/unless}}
          {{/each}}
        </tr>
      </thead>
    </table>
    <textarea
      name="system.characteristics.extra.notes"
      placeholder="{{localize "mythic.characterSettings.characteristics.charNotes"}}"
    >{{system.characteristics.extra.notes}}</textarea>
  </div>
  <div class="characteristics-settings">
    <h2>
      {{localize "mythic.characterSettings.characteristics.mythicsLabel"}}
    </h2>
    <table>
      <thead>
        <tr>
          <th>
            {{localize "mythic.characterSettings.characteristics.source"}}
          </th>
          <th>{{config.characteristic.str}}</th>
          <th>{{config.characteristic.tou}}</th>
          <th>{{config.characteristic.agi}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{localize "mythic.characterSettings.characteristics.soldierType"}}
          </td>
          {{#each actor.system.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input
                  class="calc-mythic-{{name}}"
                  name="system.mythicCharacteristics.{{name}}.soldierType"
                  value="{{stat.soldierType}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td style="height:33px">
            {{localize "mythic.characterSettings.characteristics.equipment"}}
          </td>
          <td>{{actor.system.mythicCharacteristics.str.equipment}}</td>
          <td>--</td>
          <td>{{actor.system.mythicCharacteristics.agi.equipment}}</td>
        </tr>
        <tr>
          {{#if (eq actor.type "Named Character")}}
            <td>
              {{localize "mythic.characterSettings.characteristics.advancements"}}
            </td>
            {{#each actor.system.mythicCharacteristics as |stat name|}}
              {{#unless (eq name "notes")}}
                <td>
                  <select name="system.mythicCharacteristics.{{name}}.advancements">
                    {{#select stat.advancements}}
                      {{#each ../config.advancements.mythicCharacteristics as |text num|}}
                        <option value="{{num}}">{{text}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </td>
              {{/unless}}
            {{/each}}
          {{else}}
            <td style="height:33px">
              {{localize "mythic.characterSettings.characteristics.difficulty"}}
            </td>
            {{#each actor.system.mythicCharacteristics as |stat name|}}
              {{#unless (eq name "notes")}}
                <td>{{stat.difficulty}}</td>
              {{/unless}}
            {{/each}}
          {{/if}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.other"}}</td>
          {{#each actor.system.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input
                  class="calc-mythic-{{name}}"
                  name="system.mythicCharacteristics.{{name}}.other"
                  value="{{stat.other}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.total"}}</th>
          <th>{{system.mythicCharacteristics.str.total}}</th>
          <th>{{system.mythicCharacteristics.tou.total}}</th>
          <th>{{system.mythicCharacteristics.agi.total}}</th>
        </tr>
      </thead>
    </table>
    <textarea
      name="system.mythicCharacteristics.notes"
      placeholder="{{localize "mythic.characterSettings.characteristics.mythicsNotes"}}"
    >{{system.mythicCharacteristics.notes}}</textarea>
  </div>
  <div class="character-sheet-summary">
    <div>
      <h2>{{localize "mythic.characterSettings.supportPoints.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th>
              {{localize "mythic.characterSettings.supportPoints.rank"}}
            </th>
            <th>{{localize "mythic.characterSettings.other"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                style="width:60px"
                name="system.supportPoints.rank"
                type="number"
                data-dtype="Number"
                value="{{system.supportPoints.rank}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                style="width:60px"
                name="system.supportPoints.other"
                type="number"
                data-dtype="Number"
                value="{{system.supportPoints.other}}"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>{{localize "mythic.characterSettings.defense.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{localize "mythic.characterSettings.defense.enduring"}}</th>
            <th>{{localize "mythic.characterSettings.defense.naturalArmor"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                style="width:60px"
                name="system.fatigue.enduring"
                type="number"
                data-dtype="Number"
                value="{{system.fatigue.enduring}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                style="width:60px"
                name="system.naturalArmor"
                type="number"
                data-dtype="Number"
                value="{{system.naturalArmor}}"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="wide">
      <h2>{{localize "mythic.characterSettings.carry.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{{localize "mythic.characterSettings.carry.doubleStr"}}}</th>
            <th>{{{localize "mythic.characterSettings.carry.doubleTou"}}}</th>
            <th>{{localize "mythic.characterSettings.carry.strongBack"}}</th>
            <th>{{localize "mythic.characterSettings.carry.strongman"}}</th>
            <th>{{localize "mythic.characterSettings.carry.imposing"}}</th>
            <th>{{localize "mythic.characterSettings.carry.mod"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                name="system.carryingCapacity.doubleStr"
                type="checkbox"
                {{checked system.carryingCapacity.doubleStr}}
              />
            </td>
            <td>
              <input
                name="system.carryingCapacity.doubleTou"
                type="checkbox"
                {{checked system.carryingCapacity.doubleTou}}
              />
            </td>
            <td>
              <input
                name="system.carryingCapacity.strongBack"
                type="checkbox"
                {{checked system.carryingCapacity.strongBack}}
              />
            </td>
            <td>
              <input
                name="system.carryingCapacity.strongman"
                type="checkbox"
                {{checked system.carryingCapacity.strongman}}
              />
            </td>
            <td>
              <input
                name="system.carryingCapacity.imposing"
                type="checkbox"
                {{checked system.carryingCapacity.imposing}}
              />
            </td>
            <td>
              <input
                style="width:60px"
                name="system.carryingCapacity.mod"
                type="number"
                data-dtype="Number"
                value="{{system.carryingCapacity.mod}}"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="wide">
      <h2>{{localize "mythic.characterSettings.luck.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th style="width:50px">
              {{localize "mythic.characterSettings.total"}}
            </th>
            <th>{{localize "mythic.characterSettings.luck.starting"}}</th>
            {{#if (eq actor.type "Named Character")}}
              <th style="width:105px">
                {{localize "mythic.characterSettings.luck.advancements"}}
              </th>
            {{else}}
              <th style="width:105px">
                {{localize "mythic.characterSettings.luck.difficulty"}}
              </th>
            {{/if}}
            <th>{{localize "mythic.characterSettings.other"}}</th>
            <th>{{localize "mythic.characterSettings.luck.burnt"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>{{system.luck.max}}</b></td>
            <td>
              <input
                style="width:60px"
                name="system.luck.starting"
                type="number"
                value="{{system.luck.starting}}"
                data-dtype="Number"
                onfocus="this.select()"
              />
            </td>
            <td>
              {{#if (eq actor.type "Named Character")}}
                <input
                  style="width:60px"
                  name="system.luck.advancements"
                  type="number"
                  value="{{system.luck.advancements}}"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              {{else}}
                {{#if system.difficulty.normalOnly}}
                  <input
                    style="width:60px"
                    name="system.luck.difficulty.normal"
                    type="number"
                    value="{{system.luck.difficulty.normal}}"
                    data-dtype="Number"
                    onfocus="this.select()"
                  />
                {{else}}
                  <div class="by-difficulty-tier">
                    {{#each system.luck.difficulty as |luck tier|}}
                      <input
                        {{#if (eq ../system.luck.tier tier)}}
                          style="font-weight:bold"
                        {{/if}}
                        class="luck-input"
                        name="system.luck.difficulty.{{tier}}"
                        type="number"
                        value="{{luck}}"
                        data-dtype="Number"
                        onfocus="this.select()"
                      />
                    {{/each}}
                  </div>
                {{/if}}
              {{/if}}
            </td>
            <td>
              <input
                style="width:60px"
                name="system.luck.other"
                type="number"
                value="{{system.luck.other}}"
                data-dtype="Number"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                style="width:60px"
                name="system.luck.burnt"
                type="number"
                value="{{system.luck.burnt}}"
                data-dtype="Number"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="wide">
    <div class="offset-cols">
      <div>
        <h2>{{localize "mythic.characterSettings.wounds.label"}}</h2>
        <table>
          <thead>
            <tr>
              <th style="width:75px">
                {{localize "mythic.characterSettings.total"}}
              </th>
              <th>{{{localize "mythic.characterSettings.wounds.doubleTou"}}}</th>
              <th style="width: 140px">
                {{localize "mythic.characterSettings.wounds.aiDegen"}}
              </th>
              <th style="width:120px">
                {{#if (eq actor.type "Named Character")}}
                  {{localize "mythic.characterSettings.wounds.advancements"}}
                {{else}}
                  {{localize "mythic.characterSettings.wounds.difficulty"}}
                {{/if}}
              </th>
              <th style="width:75px">
                {{localize "mythic.characterSettings.other"}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>{{system.wounds.max}}</b></td>
              <td>
                <input
                  name="system.wounds.doubleTou"
                  type="checkbox"
                  {{checked system.wounds.doubleTou}}
                />
              </td>
              <td>
                <input
                  style="width:60px"
                  name="system.wounds.aiDegen"
                  type="number"
                  data-dtype="Number"
                  value="{{system.wounds.aiDegen}}"
                  onfocus="this.select()"
                />
              </td>
              <td>
                {{#if (eq actor.type "Named Character")}}
                  <select name="system.wounds.advancements">
                    {{#select system.wounds.advancements}}
                      {{#each config.advancements.wounds as |text num|}}
                        <option value="{{num}}">{{text}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                {{else}}
                  {{system.wounds.difficulty}}
                {{/if}}
              </td>
              <td>
                <input
                  style="width:60px"
                  name="system.wounds.other"
                  type="number"
                  data-dtype="Number"
                  value="{{system.wounds.other}}"
                  onfocus="this.select()"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2>{{localize "mythic.characterSettings.initiative.label"}}</h2>
        <table>
          <thead>
            <tr>
              <th>{{localize "mythic.characterSettings.initiative.battleMind"}}</th>
              <th>{{localize "mythic.characterSettings.initiative.fastFoot"}}</th>
              <th>{{localize "mythic.characterSettings.initiative.grandEntrance"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  name="system.initiative.battleMind"
                  type="checkbox"
                  {{checked system.initiative.battleMind}}
                />
              </td>
              <td>
                <input
                  name="system.initiative.fastFoot"
                  type="checkbox"
                  {{checked system.initiative.fastFoot}}
                />
              </td>
              <td>
                <input
                  name="system.initiative.grandEntrance"
                  type="checkbox"
                  {{checked system.initiative.grandEntrance}}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="wide">
    <h2>{{localize "mythic.characterSettings.movement.label"}}</h2>
    <table>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.movement.jumpMultiplier"}}</th>
          <th>{{localize "mythic.characterSettings.movement.leapAgiBonus"}}</th>
          <th>{{localize "mythic.characterSettings.movement.leapMultiplier"}}</th>
          <th>{{localize "mythic.characterSettings.movement.agiBonusRunCharge"}}</th>
          <th>{{localize "mythic.characterSettings.movement.blur"}}</th>
          <th>{{localize "mythic.characterSettings.movement.rush"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              style="width:60px"
              name="system.movement.jumpMultiplier"
              type="number"
              value="{{system.movement.jumpMultiplier}}"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              style="width:60px"
              name="system.movement.leapAgiBonus"
              type="number"
              value="{{system.movement.leapAgiBonus}}"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              style="width:60px"
              name="system.movement.leapMultiplier"
              type="number"
              value="{{system.movement.leapMultiplier}}"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              style="width:60px"
              name="system.movement.agiBonusRunCharge"
              type="number"
              value="{{system.movement.agiBonusRunCharge}}"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              name="system.movement.blur"
              type="checkbox"
              {{checked system.movement.blur}}
            />
          </td>
          <td>
            <input
              name="system.movement.rush"
              type="checkbox"
              {{checked system.movement.rush}}
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="wide">
    <div class="equal-cols">
      <div>
        <h2>{{localize "mythic.characterSettings.education.label"}}</h2>
        <table>
          <thead>
            <tr>
              <th>{{localize "mythic.characterSettings.education.total"}}</th>
              <th>{{localize "mythic.characterSettings.education.mult"}}</th>
              <th>{{localize "mythic.characterSettings.education.mod"}}</th>
              <th>{{localize "mythic.characterSettings.education.unlimited"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <b>
                  {{#if system.educations.unlimited}}
                    &infin;
                  {{else}}
                    {{system.educations.max}}
                  {{/if}}
                </b>
              </td>
              <td>
                <input
                  style="width:60px"
                  {{#if system.educations.unlimited}} disabled {{/if}}
                  name="system.educations.intMultiplier"
                  type="number"
                  value="{{system.educations.intMultiplier}}"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
              <td>
                <input
                  style="width:60px"
                  {{#if system.educations.unlimited}} disabled {{/if}}
                  name="system.educations.mod"
                  type="number"
                  value="{{system.educations.mod}}"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
              <td>
                <input
                  name="system.educations.unlimited"
                  type="checkbox"
                  {{checked system.educations.unlimited}}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2>{{localize "mythic.characterSettings.perceptiveRange.label"}}</h2>
        <table>
          <thead>
            <tr>
              <th>{{localize "mythic.characterSettings.perceptiveRange.total"}}</th>
              <th>{{localize "mythic.characterSettings.perceptiveRange.base"}}</th>
              <th>{{localize "mythic.characterSettings.perceptiveRange.mod"}}</th>
              <th>{{localize "mythic.characterSettings.perceptiveRange.vigil"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>{{localnum system.perceptiveRange.total}}</b></td>
              <td>{{localnum system.perceptiveRange.base}}</td>
              <td>
                <input
                  style="width:60px"
                  name="system.perceptiveRange.mod"
                  type="number"
                  value="{{system.perceptiveRange.mod}}"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
              <td>
                <input
                  name="system.perceptiveRange.vigil"
                  type="checkbox"
                  {{checked system.perceptiveRange.vigil}}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
