<div class="character-details">
  <img src="{{actor.img}}" data-edit="img" title="{{data.data.rank}} {{actor.name}}"/>
  <div class="basic-info">
    <div class="identity">
      <h1 id="rank">
        <input name="data.rank" type="text" value="{{data.data.rank}}" placeholder="{{localize "mythic.characterDetails.rank"}}"/>
      </h1>
      <h1 id="name">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "mythic.characterDetails.name"}}"/>
      </h1>
      <h1 id="faction">
        <input name="data.faction" type="text" value="{{data.data.faction}}" placeholder="{{localize "mythic.characterDetails.faction"}}"/>
      </h1>
    </div>
    <div class="background">
      <p>
        <input name="data.soldierType" type="text" value="{{data.data.soldierType}}" placeholder="{{localize "mythic.characterDetails.soldierType"}}"/>
      </p>
      <p>
        <input name="data.race" type="text" value="{{data.data.race}}" placeholder="{{localize "mythic.characterDetails.race"}}"/>
      </p>
      <p>
        <input name="data.specialization" type="text" value="{{data.data.specialization}}" placeholder="{{localize "mythic.characterDetails.specialization"}}"/>
      </p>
      <p>
        <input name="data.upbringing" type="text" value="{{data.data.upbringing}}" placeholder="{{localize "mythic.characterDetails.upbringing"}}"/>
      </p>
      <p>
        <input name="data.environment" type="text" value="{{data.data.environment}}" placeholder="{{localize "mythic.characterDetails.environment"}}"/>
      </p>
      <p>
        <input name="data.lifestyle" type="text" value="{{data.data.lifestyle}}" placeholder="{{localize "mythic.characterDetails.lifestyle"}}"/>
      </p>
    </div>
    <div class="physical">
      <select name="data.size">
        {{#select data.data.size}}
          {{#each config.size as |name size|}}
            <option value="{{size}}">{{localize name}}</option>
          {{/each}}
        {{/select}}
      </select>
      <p>
        <input name="data.height" type="text" value="{{data.data.height}}" placeholder="{{localize "mythic.characterDetails.height"}}"/>
      </p>
      <p>
        <input name="data.weight" type="number" data-dtype="Number" value="{{data.data.weight}}" placeholder="{{localize "mythic.characterDetails.weight"}}"/>
      </p>
      <p>
        <input name="data.age" type="number" value="{{data.data.age}}" placeholder="{{localize "mythic.characterDetails.age"}}"/>
      </p>
      <p>
        <input name="data.gender" type="text" value="{{data.data.gender}}" placeholder="{{localize "mythic.characterDetails.gender"}}"/>
      </p>
    </div>
  </div>
</div>