<section class="character-sheet-educations">
  <table class="educations-table">
    <thead>
      <tr>
        <th colspan="6">
          {{localize "mythic.characterEducations.title"}}
          &nbsp;&nbsp;
          <a class="postable-details" data-roll="educations">
            <i class="clickable fas fa-dice-d20"></i>
          </a>
        </th>
      </tr>
      <tr>
        <th>{{localize "mythic.characterEducations.name"}}</th>
        <th>{{localize "mythic.characterEducations.details"}}</th>
        <th>{{localize "mythic.characterEducations.skill"}}</th>
        <th>{{localize "mythic.characterEducations.training"}}</th>
        <th style="width:90px">
          {{localize "mythic.characterEducations.mods"}}
        </th>
        <th>{{localize "mythic.characterEducations.roll"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each educations as |edu _|}}
        <tr>
          <td>
            <div class="education-name">
              <a
                class="education-link postable-item clickable"
                data-item-id="{{edu._id}}"
              >
                <img alt="{{edu.name}}" src="{{edu.img}}"/>
                <p>{{edu.name}}</p>
              </a>
              <div class="item-management">
                <a class="item-edit" data-item-id="{{edu._id}}">
                  <i class="clickable fas fa-edit"></i>
                </a>
                <a class="item-delete" data-item-id="{{edu._id}}">
                  <i class="clickable fas fa-trash"></i>
                </a>
              </div>
            </div>
          </td>
          <td>
            <p>{{localize (concat "mythic.educationSheet.difficulties." edu.system.difficulty)}}</p>
            <p>{{localize (concat "mythic.educationSheet.types." edu.system.type)}}</p>
          </td>
          <td>
            <select
              class="item-edit-inline"
              data-field="roll.skill"
              data-item-id="{{edu._id}}"
            >
              {{#select edu.system.roll.skill}}
                <option value="int">INT</option>
                {{#each edu.system.skills as |skill key|}}
                  {{#if skill}}
                    <option value="{{key}}">
                      {{localize (concat "mythic.skillNames." key)}}
                    </option>
                  {{/if}}
                {{/each}}
              {{/select}}
            </select>
          </td>
          <td>
            <select
              class="item-edit-inline"
              data-field="roll.training"
              data-item-id="{{edu._id}}"
            >
              {{#select edu.system.roll.training}}
                {{#each ../config.educationTraining as |value key|}}
                  <option value="{{key}}">{{localize value}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
          <td style="width:90px">
            <input
              class="item-edit-inline"
              data-field="roll.mods"
              data-item-id="{{edu._id}}"
              type="number" data-dtype="Number"
              value="{{edu.system.roll.mods}}"
              onfocus="this.select()"
            />
          </td>
          <td style="width:48px">
            <button
              class="education rollable"
              name="{{edu.name}}"
              value="{{edu.system.roll.roll}}"
              {{#if (eq edu.system.roll.training "none")}}
                disabled="true" aria-disabled="true"
              {{/if}}
            >
              <b>{{edu.system.roll.roll}}</b>
            </button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="6">{{localize "mythic.characterEducations.empty"}}</td>
        </tr>
      {{/each}}
      <tr>
        <td colspan="6">
          <textarea
            name="system.educations.notes"
            placeholder="{{localize "mythic.characterEducations.notes"}}"
          >{{system.educations.notes}}</textarea>
        </td>
      </tr>
    </tbody>
  </table>
</section>
