<section class="character-stat-block">
  <table>
    <thead>
      <tr>
        {{#each config.characteristic as |value _|}}
          <th>{{value}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each data.data.characteristics as |details stat|}}
          {{#unless (eq stat "extra")}}
            <td><button class="characteristic rollable" name="{{stat}}" value="{{details.roll}}">{{details.roll}}</button></td>
          {{/unless}}
        {{/each}}
      </tr>
    </tbody>
  </table>
  <div class="physical-stats">
    <table>
      <thead>
        <tr>
          <th colspan="3">{{localize "mythic.characterStatBlock.mythics"}}</th>
        </tr>
        <tr>
          <th>STR</th>
          <th>TOU</th>
          <th>AGI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.data.mythicCharacteristics.str.total}}</td>
          <td>{{data.data.mythicCharacteristics.tou.total}}</td>
          <td>{{data.data.mythicCharacteristics.agi.total}}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="7">{{localize "mythic.characterStatBlock.movement.title"}}</th>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.movement.half"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.full"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.charge"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.run"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.sprint"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.jump"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.leap"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localnum data.data.movement.half}}</td>
          <td>{{data.data.movement.full}}</td>
          <td>{{data.data.movement.charge}}</td>
          <td>{{data.data.movement.run}}</td>
          <td>{{data.data.movement.sprint}}</td>
          <td>{{localnum data.data.movement.jump}}</td>
          <td>{{data.data.movement.leap}}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="3">{{localize "mythic.characterStatBlock.capacity.title"}}</th>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.capacity.carry"}}</th>
          <th>{{localize "mythic.characterStatBlock.capacity.lift"}}</th>
          <th>{{localize "mythic.characterStatBlock.capacity.push"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localnum data.data.carryingCapacity.carry}}</td>
          <td>{{localnum data.data.carryingCapacity.lift}}</td>
          <td>{{localnum data.data.carryingCapacity.push}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="scaled">
    <table >
      <thead>
        <tr>
          <th colspan="2">{{localize "mythic.characterStatBlock.physical.wounds"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td>
            <input name="data.wounds.current" value="{{data.data.wounds.current}}" type="number" data-dtype="Number" onfocus="this.select()"/>
          </td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{data.data.wounds.max}}</td>
        </tr>
      </tbody>
    </table>
    <table >
      <thead>
        <tr>
          <th colspan="2">{{localize "mythic.characterStatBlock.physical.fatigue"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td>
            <input name="data.fatigue.current" value="{{data.data.fatigue.current}}" type="number" data-dtype="Number" onfocus="this.select()"/>
          </td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{data.data.fatigue.max}}</td>
        </tr>
      </tbody>
    </table>
    <table >
      <thead>
        <tr>
          <th colspan="2">{{localize "mythic.characterStatBlock.physical.luck"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td>
            <input name="data.luck.current" value="{{data.data.luck.current}}" type="number" data-dtype="Number" onfocus="this.select()"/>
          </td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{data.data.luck.max}}</td>
        </tr>
      </tbody>
    </table>
    <table >
      <thead>
        <tr>
          <th colspan="2">{{localize "mythic.characterStatBlock.physical.support"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td><input name="data.supportPoints.current" value="{{data.data.supportPoints.current}}" type="number" data-dtype="Number" onfocus="this.select()"/></td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{data.data.supportPoints.max}}</td>
        </tr>
      </tbody>
    </table>
    <table >
      <thead>
        <tr>
          <th colspan="4">{{localize "mythic.characterStatBlock.physical.shields"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td><input name="data.shields.value" value="{{data.data.shields.value}}" type="number" data-dtype="Number" onfocus="this.select()"/></td>
          <th>{{localize "mythic.characterStatBlock.physical.delay"}}</th>
          <td>{{data.data.shields.delay}}</td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{data.data.shields.max}}</td>
          <th>{{localize "mythic.characterStatBlock.physical.charge"}}</th>
          <td>{{data.data.shields.recharge}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="scaled">
    <table style="grid-column: span 2">
      <thead>
        <tr>
          <th colspan="4">{{localize "mythic.characterStatBlock.experience.label"}}</th>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.experience.tier"}}</th>
          <th>{{localize "mythic.characterStatBlock.experience.total"}}</th>
          <th>{{localize "mythic.characterStatBlock.experience.spent"}}</th>
          <th>{{localize "mythic.characterStatBlock.experience.current"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data.data.experience.tier}}</td>
          <td>{{localnum data.data.experience.total}}</td>
          <td>{{localnum data.data.experience.spent}}</td>
          <td>{{localnum data.data.experience.current}}</td>
        </tr>
      </tbody>
    </table>
    <table style="grid-column: span 3">
      <thead>
        <tr>
          <th colspan="7">{{localize "mythic.characterStatBlock.physical.damageResistance"}}</th>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.head"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.chest"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.arms.left"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.arms.right"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.legs.left"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.legs.right"}}</th>
          <th>TOU</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {{#each data.data.armor as |stats loc|}}
            <td><b>{{stats.resistance}}</b>&nbsp;&nbsp;({{stats.protection}})</td>
          {{/each}}
          <td>{{data.data.characteristics.extra.touDR}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>