<header class="sheet-header">
  <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
  <div class="basic-info">
    <div class="identity">
      <h1 id="rank">
        <input name="rank" type="text" value="{{actor.rank}}" placeholder="Rank"/>
      </h1>
      <h1 id="name">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </h1>
      <h1 id="faction">
        <input name="faction" type="text" value="{{actor.faction}}" placeholder="Faction"/>
      </h1>
    </div>
    <div class="background">
      <p>
        <input name="soldier-type" type="text" value="{{actor.soldierType}}" placeholder="Soldier Type"/>
      </p>
      <p>
        <input name="race" type="text" value="{{actor.race}}" placeholder="Race"/>
      </p>
      <p>
        <input name="specialization" type="text" value="{{actor.specialization}}" placeholder="Specialization"/>
      </p>
      <p>
        <input name="upbringing" type="text" value="{{actor.upbringing}}" placeholder="Upbringing"/>
      </p>
      <p>
        <input name="environment" type="text" value="{{actor.environment}}" placeholder="Environment"/>
      </p>
      <p>
        <input name="lifestyle" type="text" value="{{actor.lifestyle}}" placeholder="Lifestyle"/>
      </p>
    </div>
    <div class="physical">
      <select name="size">
        <option value="mini">Mini</option>
        <option value="small">Small</option>
        <option value="normal" selected>Normal</option>
        <option value="large">Large</option>
        <option value="huge">Huge</option>
        <option value="hulking">Hulking</option>
        <option value="giant">Giant</option>
        <option value="immense">Immense</option>
        <option value="massive">Massive</option>
        <option value="great">Great</option>
        <option value="monumental">Monumental</option>
      </select>
      <p>
        <input name="height" type="text" value="{{actor.height}}" placeholder="Height"/>
      </p>
      <p>
        <input name="weight" type="text" value="{{actor.weight}}" placeholder="Weight"/>
      </p>
      <p>
        <input name="age" type="number" value="{{actor.age}}" placeholder="Age"/>
      </p>
      <p>
        <input name="gender" type="text" value="{{actor.gender}}" placeholder="Gender"/>
      </p>
    </div>
  </div>
</header>