<section class="character-weapon-summary summary-table">
  <table>
    <thead>
      <tr>
        <th
          {{#if (eq actor.type "Vehicle")}}
            colspan="7"
          {{else}}
            colspan="3"
          {{/if}}>
          {{localize "mythic.characterWeaponSummary.title"}}
        </th>
        {{#unless (eq actor.type "Vehicle")}}
          <th>
            <button
              class="initiative rollable"
              data-roll="{{system.initiative.formula}}"
              data-label="initiative"
            >
              {{localize "mythic.characterWeaponSummary.initiative"}}:&nbsp;{{system.initiative.mods}}
            </button>
          </th>
          <th colspan="3">
            <button
              class="evade"
              name="{{localize "mythic.skillNames.evasion"}} ({{system.skills.evasion.characteristic}})"
              value="{{system.skills.evasion.roll}}"
            >
              {{#if (eq system.skills.evasion.characteristic "AGI")}}
                {{localize "mythic.skillNames.evasion"}}:&nbsp;{{system.skills.evasion.roll}}
              {{else}}
                {{localize "mythic.skillNames.parry"}}:&nbsp;{{system.skills.evasion.roll}}
              {{/if}}
            </button>
          </th>
        {{/unless}}
      <tr>
        <th>
          {{localize "mythic.characterWeaponSummary.name"}}&nbsp;({{localize "mythic.characterWeaponSummary.target"}})
        </th>
        <th>{{localize "mythic.characterWeaponSummary.fireMode"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.range"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.mag"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.one"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.half"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.full"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#if weapons}}
        {{#if equippedWeapons}}
          {{#each equippedWeapons as |weapon _|}}
            {{#with (lookup weapon.system.ammoList weapon.system.currentAmmo)}}
              <tr>
              {{!-- Nickname or Name --}}
                <td>
                  <div class="weapon-name">
                  <img alt="{{weapon.name}}" src="{{weapon.img}}"/>
                  <div class="name-and-selectors">
                    <div>
                      {{#unless weapon.system.nickname}}
                        <b>{{weapon.name}}</b>
                      {{else}}
                        <b>{weapon.system.nickname}}</b>
                      {{/unless}}
                      &nbsp;({{this.target}})
                    </div>
                    {{#if (eq ../../actor.type "Vehicle")}}
                      <select
                        class="item-edit-inline special-focus"
                        style="width: 50px"
                        data-field="owner"
                        data-item-id="{{weapon._id}}"
                      >
                        {{#select weapon.system.owner}}
                          <option value="">--</option>
                          {{#each ../../actor.system.crew.operators as |operator|}}
                            {{#if operator.display}}
                              <option value="{{concat "o_" operator.id}}">
                                [O{{doMath "+" operator.idx 1}}]
                              </option>
                            {{/if}}
                          {{/each}}
                          {{#each ../../actor.system.crew.gunners as |gunner|}}
                            {{#if gunner.display}}
                              <option value="{{concat "g_" gunner.id}}">
                                [G{{doMath "+" gunner.idx 1}}]
                              </option>
                            {{/if}}
                          {{/each}}
                          {{#each ../../actor.system.crew.complement as |complement|}}
                            {{#if complement.display}}
                              <option value="{{concat "c_" complement.id}}">
                                [C{{doMath "+" complement.idx 1}}]
                              </option>
                            {{/if}}
                          {{/each}}
                        {{/select}}
                      </select>
                    {{/if}}
                  </div>
                  <a class="item-edit" data-item-id="{{weapon._id}}">
                    <i class="clickable fas fa-edit"></i>
                  </a>
                  </div>
                </td>
                {{!-- Fire Mode --}}
                <td>
                  {{#if (eq weapon.system.group "ranged")}}
                    <select
                      class="item-edit-inline special-focus"
                      data-field="attack.fireMode"
                      data-item-id="{{weapon._id}}"
                    >
                      {{#select weapon.system.attack.fireMode}}
                        <option value="none">--</option>
                        {{#each weapon.system.fireMode as |rate mode|}}
                          {{#if rate}}
                            <option value="{{mode}}-{{rate}}">
                              {{localize (concat "mythic.weaponSheet.fireMode." mode)}}&nbsp;({{rate}})
                            </option>
                          {{/if}}
                        {{/each}}
                      {{/select}}
                    </select>
                  {{else if (eq weapon.system.group "thrown")}}
                    <select
                      class="item-edit-inline special-focus"
                      data-field="ammoList.{{weapon.system.currentAmmo}}.range.grip"
                      data-item-id="{{weapon._id}}"
                    >
                      {{#select this.range.grip}}
                        {{#each ../../config.grips as |value grip|}}
                          <option value="{{grip}}">{{localize value}}</option>
                        {{/each}}
                      {{/select}}
                    </select>
                  {{else}}
                    {{localize (concat "mythic.weaponGroups." weapon.system.group)}}
                  {{/if}}
                </td>
                {{!-- Range --}}
                <td>
                  {{#if (eq weapon.system.group "thrown")}}
                    {{this.range.thrown}}&nbsp;/&nbsp;{{this.range.thrownMax}}&nbsp;m&nbsp;
                    {{#with (lookup this.system.ammoList this.system.currentAmmo)}}
                      {{#if this.special.blast.has}}
                        ({{this.special.blast.value}}&nbsp;/&nbsp;
                      {{else}}
                        (0&nbsp;/&nbsp;
                      {{/if}}
                      {{#if this.special.kill.has}}
                        {{this.special.kill.value}})
                      {{else}}
                        0)
                      {{/if}}
                    {{/with}}
                  {{else if (eq weapon.system.group "melee")}}
                    {{this.range.melee}}&nbsp;m
                  {{else if (eq weapon.system.group "ranged")}}
                    <div>
                      {{this.range.close}}&nbsp;-&nbsp;{{this.range.long}}&nbsp;m
                      <div class="scope">
                        {{localnum weapon.system.scopeMinimum}}&nbsp;-
                        {{localnum
                            (doMath "*"
                                    ../../system.perceptiveRange.total
                                    weapon.system.scopeMagnification)}}&nbsp;m
                        (&times;
                        <input
                          style="width:25px;height:20px"
                          class="item-edit-inline"
                          data-field="scopeMagnification"
                          data-item-id="{{weapon._id}}"
                          type="number"
                          data-dtype="Number"
                          value="{{weapon.system.scopeMagnification}}"
                          onfocus="this.select()"
                        />
                        )
                      </div>
                    </div>
                  {{/if}}
                </td>
                {{!-- Magazine --}}
                <td style="width:120px">
                  {{#if (eq weapon.system.group "ranged")}}
                    <div class="magazine">
                      <input
                        class="item-edit-inline"
                        data-field="ammoList.{{weapon.system.currentAmmo}}.currentMag"
                        data-item-id="{{weapon._id}}"
                        type="number"
                        data-dtype="Number"
                        value="{{this.currentMag}}"
                        onfocus="this.select()"
                      />
                      <p>/</p>
                      <p>{{weapon.system.magazineCapacity}}</p>
                      <div class="item-management">
                        {{#with (lookup weapon.system.ammoList weapon.system.currentAmmo)}}
                          {{#if this.special.singleLoading.has}}
                            <p>&plus;{{weapon.system.reload.total}}</p>
                          {{else}}
                            <p>{{weapon.system.reload.total}}</p>
                          {{/if}}
                        {{/with}}
                        <a class="reload" data-item-id="{{weapon._id}}">
                          <i class="clickable fas fa-sync-alt"></i>
                        </a>
                      </div>
                    </div>
                  {{else if (eq weapon.system.group "melee")}}
                    --
                  {{else if (eq weapon.system.group "thrown")}}
                    <div class="magazine">
                      <input
                        class="item-edit-inline"
                        data-field="ammoList.{{weapon.system.currentAmmo}}.currentMag"
                        data-item-id="{{weapon._id}}"
                        type="number"
                        data-dtype="Number"
                        value="{{this.currentMag}}"
                        onfocus="this.select()"
                      />
                      <p style="grid-column:3">
                        &nbsp;{{localize "mythic.characterWeaponSummary.carried"}}
                      </p>
                    </div>
                  {{/if}}
                </td>
                {{!-- Buttons --}}
                <td
                  style="width:40px"
                  {{#if (eq weapon.system.group "thrown")}} colspan="3" {{/if}}
                >
                  <button
                  class="attack rollable"
                  data-item-id="{{weapon._id}}"
                  value="single"
                  {{#if (eq weapon.system.attack.fireMode "none")}}
                    disabled="true" aria-disabled="true"
                  {{/if}}
                  {{#unless this.currentMag}}
                    {{#unless (eq weapon.system.attack.fireMode "melee")}}
                    disabled="true" aria-disabled="true"
                    {{/unless}}
                  {{/unless}}
                  >
                  1
                  </button>
                </td>
                {{#unless (eq weapon.system.group "thrown")}}
                  <td style="width:40px">
                  <button
                    class="attack rollable"
                    data-item-id="{{weapon._id}}"
                    value="half"
                    {{#if (eq weapon.system.attack.fireMode "none")}}
                    disabled="true" aria-disabled="true"
                    {{/if}}
                    {{#unless weapon.system.attack.half}}
                    disabled="true" aria-disabled="true"
                    {{/unless}}
                  >
                    {{weapon.system.attack.half}}
                  </button>
                  </td>
                  <td style="width:40px">
                  <button
                    class="attack rollable"
                    data-item-id="{{weapon._id}}"
                    value="full"
                    {{#if (eq weapon.system.attack.fireMode "none")}}
                    disabled="true" aria-disabled="true"
                    {{/if}}
                    {{#unless weapon.system.attack.full}}
                    disabled="true" aria-disabled="true"
                    {{/unless}}
                  >
                    {{weapon.system.attack.full}}
                  </button>
                  </td>
                {{/unless}}
              </tr>
            {{/with}}
          {{/each}}
        {{else}}
          <td colspan="8">
            {{localize "mythic.characterWeaponSummary.unequipped"}}
          </td>
        {{/if}}
      {{else}}
        <td colspan="8">{{localize "mythic.characterWeaponSummary.empty"}}</td>
      {{/if }}
    </tbody>
  </table>
</section>
