<section class="sheet-trainings">
  <table>
    <thead>
      <tr>
        <th colspan="4">{{localize "mythic.characterTalents.trainings.factionTraining"}}</th>
      </tr>
      <tr>
        {{#each config.trainings.factions as |value _|}}
          <th>{{localize value}}</th>
        {{/each}}
        <th>{{localize "mythic.characterTalents.trainings.alienTech"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each data.data.trainings.faction as |trained faction|}}
          <td><input name="data.trainings.faction.{{faction}}" type="checkbox" {{checked trained}}/></td>
        {{/each}}
        <td><input name="data.trainings.alienTech" type="checkbox" {{checked data.data.trainings.alienTech}}/></td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="4">{{localize "mythic.characterTalents.trainings.abilities"}}</th>
      </tr>
      <tr>
        <th>{{localize "mythic.characterTalents.trainings.hth"}}</th>
        <th>{{localize "mythic.characterTalents.trainings.mac"}}</th>
        <th>{{localize "mythic.characterTalents.trainings.rapidReload"}}</th>
        <th>{{localize "mythic.characterTalents.trainings.unarmedCombatant"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input name="data.trainings.weapons.hth" type="checkbox" {{checked data.data.trainings.weapons.hth}}/></td>
        <td>
          <input
            name="data.trainings.weapons.mac"
            type="checkbox"
            {{#unless data.data.trainings.weapons.hth}}
              disabled="true"
            {{/unless}}
            {{checked data.data.trainings.weapons.mac}}
          />
        </td>
        <td><input name="data.trainings.weapons.rapidReload" type="checkbox" {{checked data.data.trainings.weapons.rapidReload}}/></td>
        <td>
          <input name="data.trainings.weapons.unarmedCombatant" type="checkbox" {{checked data.data.trainings.weapons.unarmedCombatant}}/>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="3">{{localize "mythic.characterTalents.trainings.equipmentTraining"}}</th>
      </tr>
      <tr>
        <th>{{localize "mythic.characterTalents.trainings.equipmentGroup"}}</th>
        <th>{{localize "mythic.characterTalents.trainings.included"}}</th>
        <th>{{localize "mythic.characterTalents.trainings.trained"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each data.data.trainings.equipment as |trained group|}}
        <tr>
          <td>{{localize (concat "mythic.trainings.equipment." group)}}</td>
          <td>{{localize (concat "mythic.trainings.examples." group)}}</td>
          <td><input name="data.trainings.equipment.{{group}}" type="checkbox" {{checked trained}}/></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <h2>{{localize "mythic.characterTalents.trainings.languages"}}</h2>
  <textarea class="languages" name="data.trainings.languages.notes" placeholder="{{localize "mythic.characterTalents.trainings.languagesTextarea"}}">{{data.data.trainings.languages.notes}}</textarea>
</section>