<section class="character-sheet-summary tab">
  {{#if (eq actor.type "Bestiary Character")}}
    <div>
      <h2>{{localize "mythic.characterSettings.bestiary.difficultyLabel"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{localize "mythic.characterSettings.bestiary.normalOnly"}}</th>
            <th>
              {{localize "mythic.characterSettings.bestiary.advancesMythics"}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                name="data.difficulty.normalOnly"
                type="checkbox"
                {{checked data.data.difficulty.normalOnly}}
              />
            </td>
            <td>
              <input
                name="data.difficulty.advancesMythics"
                type="checkbox"
                {{checked data.data.difficulty.advancesMythics}}
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>{{localize "mythic.characterSettings.bestiary.expPayoutLabel"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{localize "mythic.characterSettings.bestiary.total"}}</th>
            <th>{{localize "mythic.characterSettings.bestiary.base"}}</th>
            <th>{{localize "mythic.characterSettings.bestiary.kit"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width:100px">
              <b>{{localnum data.data.experiencePayout.total}}</b>
            </td>
            <td>
              {{#if data.data.difficulty.normalOnly}}
                <input
                  style="width:60px"
                  name="data.experiencePayout.difficulty.normal"
                  value="{{data.data.experiencePayout.difficulty.normal}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              {{else}}
                {{!-- TODO: #each data.data.experiencePayout.difficulty as |payout tier| --}}
                <div class="by-difficulty-tier">
                  <input
                    {{#if (eq data.data.experiencePayout.tier "easy")}}
                      style="font-weight:bold"
                    {{/if}}
                    class="exp-input"
                    name="data.experiencePayout.difficulty.easy"
                    value="{{data.data.experiencePayout.difficulty.easy}}"
                    type="number"
                    data-dtype="Number"
                    onfocus="this.select()"
                  />
                  <input
                    {{#if (eq data.data.experiencePayout.tier "normal")}}
                      style="font-weight:bold"
                    {{/if}}
                    class="exp-input"
                    name="data.experiencePayout.difficulty.normal"
                    value="{{data.data.experiencePayout.difficulty.normal}}"
                    type="number"
                    data-dtype="Number"
                    onfocus="this.select()"
                  />
                  <input
                    {{#if (eq data.data.experiencePayout.tier "heroic")}}
                      style="font-weight:bold"
                    {{/if}}
                    class="exp-input"
                    name="data.experiencePayout.difficulty.heroic"
                    value="{{data.data.experiencePayout.difficulty.heroic}}"
                    type="number"
                    data-dtype="Number"
                    onfocus="this.select()"
                  />
                  <input
                    {{#if (eq data.data.experiencePayout.tier "legendary")}}
                      style="font-weight:bold"
                    {{/if}}
                    class="exp-input"
                    name="data.experiencePayout.difficulty.legendary"
                    value="{{data.data.experiencePayout.difficulty.legendary}}"
                    type="number"
                    data-dtype="Number"
                    onfocus="this.select()"
                  />
                  <input
                    {{#if (eq data.data.experiencePayout.tier "nemesis")}}
                      style="font-weight:bold"
                    {{/if}}
                    class="exp-input"
                    name="data.experiencePayout.difficulty.nemesis"
                    value="{{data.data.experiencePayout.difficulty.nemesis}}"
                    type="number"
                    data-dtype="Number"
                    onfocus="this.select()"
                  />
                </div>
              {{/if}}
            </td>
            <td style="width:110px">
              <input
                name="data.experiencePayout.kit"
                value="{{data.data.experiencePayout.kit}}"
                type="number"
                data-dtype="Number"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/if}}
  <div class="characteristics-settings wide">
    <h2>{{localize "mythic.characterSettings.characteristics.charLabel"}}</h2>
    <table class="characteristics-settings">
      <thead>
        <tr>
          <th>
            {{localize "mythic.characterSettings.characteristics.source"}}
          </th>
          {{#each config.characteristic as |name _|}}
            <td>{{name}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{localize "mythic.characterSettings.characteristics.soldierType"}}
          </td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input
                  class="calc-{{name}}"
                  name="data.characteristics.{{name}}.soldierType"
                  value="{{stat.soldierType}}"
                  type="number"
                  data-dtype="Number"
                  placeholder="0"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>
            {{localize "mythic.characterSettings.characteristics.creationPoints"}}
            &nbsp;({{data.data.characteristics.extra.poolTotal}})
          </td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input
                  class="calc-{{name}}
                  calc-pool"
                  name="data.characteristics.{{name}}.abilityPool"
                  value="{{stat.abilityPool}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>
            {{localize "mythic.characterSettings.characteristics.background"}}
          </td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input
                  class="calc-{{name}}"
                  name="data.characteristics.{{name}}.background"
                  value="{{stat.background}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td style="height:33px">
            {{localize "mythic.characterSettings.characteristics.equipment"}}
          </td>
          <td>{{actor.data.data.characteristics.str.equipment}}</td>
          <td>--</td>
          <td>{{actor.data.data.characteristics.agi.equipment}}</td>
          {{#times 7}}
            <td>--</td>
          {{/times}}
        </tr>
        <tr>
          {{#if (eq actor.type "Named Character")}}
            <td>
              {{localize "mythic.characterSettings.characteristics.advancements"}}
            </td>
            {{#each actor.data.data.characteristics as |stat name|}}
              {{#unless (eq name "extra")}}
                <td>
                  <select name="data.characteristics.{{name}}.advancements">
                    {{#select stat.advancements}}
                      {{#each ../config.advancements.characteristics as |text num|}}
                        <option value="{{num}}">{{text}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </td>
              {{/unless}}
            {{/each}}
          {{else}}
            <td style="height:33px">
              {{localize "mythic.characterSettings.characteristics.difficulty"}}
            </td>
            {{#each actor.data.data.characteristics as |stat name|}}
              {{#unless (eq name "extra")}}
                {{#if ../this.data.data.difficulty.normalOnly}}
                  <td>{{stat.difficulty}}</td>
                {{else}}
                  <td>
                    <div class="check-cell">
                      <input
                        name="data.characteristics.{{name}}.advances"
                        type="checkbox"
                        {{checked stat.advances}}
                      />
                      {{stat.difficulty}}
                    </div>
                  </td>
                {{/if}}
              {{/unless}}
            {{/each}}
          {{/if}}
        </tr>
        <tr>
          <td style="height:33px">
            {{localize "mythic.characterSettings.characteristics.medical"}}
          </td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>{{stat.medical}}</td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td style="height:33px">
            {{localize "mythic.characterSettings.characteristics.penalty"}}
          </td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>(&nbsp;&ndash;{{stat.penalty}}&nbsp;)</td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.other"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input
                  class="calc-{{name}}"
                  name="data.characteristics.{{name}}.other"
                  value="{{stat.other}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.total"}}</th>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <th>{{stat.total}}</th>
            {{/unless}}
          {{/each}}
        </tr>
      </thead>
    </table>
    <textarea
      name="data.characteristics.extra.notes"
      placeholder="{{localize "mythic.characterSettings.characteristics.charNotes"}}"
    >{{data.data.characteristics.extra.notes}}</textarea>
  </div>
  <div class="characteristics-settings">
    <h2>
      {{localize "mythic.characterSettings.characteristics.mythicsLabel"}}
    </h2>
    <table>
      <thead>
        <tr>
          <th>
            {{localize "mythic.characterSettings.characteristics.source"}}
          </th>
          <th>{{config.characteristic.str}}</th>
          <th>{{config.characteristic.tou}}</th>
          <th>{{config.characteristic.agi}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{localize "mythic.characterSettings.characteristics.soldierType"}}
          </td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input
                  class="calc-mythic-{{name}}"
                  name="data.mythicCharacteristics.{{name}}.soldierType"
                  value="{{stat.soldierType}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td style="height:33px">
            {{localize "mythic.characterSettings.characteristics.equipment"}}
          </td>
          <td>{{actor.data.data.mythicCharacteristics.str.equipment}}</td>
          <td>--</td>
          <td>{{actor.data.data.mythicCharacteristics.agi.equipment}}</td>
        </tr>
        <tr>
          {{#if (eq actor.type "Named Character")}}
            <td>
              {{localize "mythic.characterSettings.characteristics.advancements"}}
            </td>
            {{#each actor.data.data.mythicCharacteristics as |stat name|}}
              {{#unless (eq name "notes")}}
                <td>
                  <select name="data.mythicCharacteristics.{{name}}.advancements">
                    {{#select stat.advancements}}
                      {{#each ../config.advancements.mythicCharacteristics as |text num|}}
                        <option value="{{num}}">{{text}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </td>
              {{/unless}}
            {{/each}}
          {{else}}
            <td style="height:33px">
              {{localize "mythic.characterSettings.characteristics.difficulty"}}
            </td>
            {{#each actor.data.data.mythicCharacteristics as |stat name|}}
              {{#unless (eq name "notes")}}
                <td>{{stat.difficulty}}</td>
              {{/unless}}
            {{/each}}
          {{/if}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.other"}}</td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input
                  class="calc-mythic-{{name}}"
                  name="data.mythicCharacteristics.{{name}}.other"
                  value="{{stat.other}}"
                  type="number"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.total"}}</th>
          <th>{{data.data.mythicCharacteristics.str.total}}</th>
          <th>{{data.data.mythicCharacteristics.tou.total}}</th>
          <th>{{data.data.mythicCharacteristics.agi.total}}</th>
        </tr>
      </thead>
    </table>
    <textarea
      name="data.mythicCharacteristics.notes"
      placeholder="{{localize "mythic.characterSettings.characteristics.mythicsNotes"}}"
    >{{data.data.mythicCharacteristics.notes}}</textarea>
  </div>
  <div class="character-sheet-summary">
    <div>
      <h2>{{localize "mythic.characterSettings.initiative.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th>
              {{localize "mythic.characterSettings.initiative.battleMind"}}
            </th>
            <th>
              {{localize "mythic.characterSettings.initiative.fastFoot"}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                name="data.initiative.battleMind"
                type="checkbox"
                {{checked data.data.initiative.battleMind}}
              />
            </td>
            <td>
              <input
                name="data.initiative.fastFoot"
                type="checkbox"
                {{checked data.data.initiative.fastFoot}}
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>{{localize "mythic.characterSettings.fatigue.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{localize "mythic.characterSettings.fatigue.enduring"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                style="width:60px"
                name="data.fatigue.enduring"
                type="number"
                data-dtype="Number"
                value="{{data.data.fatigue.enduring}}"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="wide">
      <h2>{{localize "mythic.characterSettings.carry.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{{localize "mythic.characterSettings.carry.doubleStr"}}}</th>
            <th>{{{localize "mythic.characterSettings.carry.doubleTou"}}}</th>
            <th>{{localize "mythic.characterSettings.carry.strongBack"}}</th>
            <th>{{localize "mythic.characterSettings.carry.strongman"}}</th>
            <th>{{localize "mythic.characterSettings.carry.imposing"}}</th>
            <th>{{localize "mythic.characterSettings.carry.mod"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                name="data.carryingCapacity.doubleStr"
                type="checkbox"
                {{checked data.data.carryingCapacity.doubleStr}}
              />
            </td>
            <td>
              <input
                name="data.carryingCapacity.doubleTou"
                type="checkbox"
                {{checked data.data.carryingCapacity.doubleTou}}
              />
            </td>
            <td>
              <input
                name="data.carryingCapacity.strongBack"
                type="checkbox"
                {{checked data.data.carryingCapacity.strongBack}}
              />
            </td>
            <td>
              <input
                name="data.carryingCapacity.strongman"
                type="checkbox"
                {{checked data.data.carryingCapacity.strongman}}
              />
            </td>
            <td>
              <input
                name="data.carryingCapacity.imposing"
                type="checkbox"
                {{checked data.data.carryingCapacity.imposing}}
              />
            </td>
            <td>
              <input
                style="width:60px"
                name="data.carryingCapacity.mod"
                type="number"
                data-dtype="Number"
                value="{{data.data.carryingCapacity.mod}}"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="wide">
      <h2>{{localize "mythic.characterSettings.luck.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th style="width:50px">
              {{localize "mythic.characterSettings.total"}}
            </th>
            <th>{{localize "mythic.characterSettings.luck.starting"}}</th>
            {{#if (eq actor.type "Named Character")}}
              <th style="width:105px">
                {{localize "mythic.characterSettings.luck.advancements"}}
              </th>
            {{else}}
              <th style="width:105px">
                {{localize "mythic.characterSettings.luck.difficulty"}}
              </th>
            {{/if}}
            <th>{{localize "mythic.characterSettings.other"}}</th>
            <th>{{localize "mythic.characterSettings.luck.burnt"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>{{data.data.luck.max}}</b></td>
            <td>
              <input
                style="width:60px"
                name="data.luck.starting"
                type="number"
                value="{{data.data.luck.starting}}"
                data-dtype="Number"
                onfocus="this.select()"
              />
            </td>
            <td>
              {{#if (eq actor.type "Named Character")}}
                <input
                  name="data.luck.advancements"
                  type="number"
                  value="{{data.data.luck.advancements}}"
                  data-dtype="Number"
                  onfocus="this.select()"
                />
              {{else}}
                {{#if data.data.difficulty.normalOnly}}
                  <input
                    style="width:60px"
                    name="data.luck.difficulty.normal"
                    type="number"
                    value="{{data.data.luck.difficulty.normal}}"
                    data-dtype="Number"
                    onfocus="this.select()"
                  />
                {{else}}
                  {{!-- TODO: #each data.data.luck.difficulty as |luck tier| --}}
                  <div class="by-difficulty-tier">
                    <input
                      {{#if (eq data.data.luck.tier "easy")}}
                        style="font-weight:bold"
                      {{/if}}
                      class="luck-input"
                      name="data.luck.difficulty.easy"
                      type="number"
                      value="{{data.data.luck.difficulty.easy}}"
                      data-dtype="Number"
                      onfocus="this.select()"
                    />
                    <input
                      {{#if (eq data.data.luck.tier "normal")}}
                        style="font-weight:bold"
                      {{/if}}
                      class="luck-input"
                      name="data.luck.difficulty.normal"
                      type="number"
                      value="{{data.data.luck.difficulty.normal}}"
                      data-dtype="Number"
                      onfocus="this.select()"
                    />
                    <input
                      {{#if (eq data.data.luck.tier "heroic")}}
                        style="font-weight:bold"
                      {{/if}}
                      class="luck-input"
                      name="data.luck.difficulty.heroic"
                      type="number"
                      value="{{data.data.luck.difficulty.heroic}}"
                      data-dtype="Number"
                      onfocus="this.select()"
                    />
                    <input
                      {{#if (eq data.data.luck.tier "legendary")}}
                        style="font-weight:bold"
                      {{/if}}
                      class="luck-input"
                      name="data.luck.difficulty.legendary"
                      type="number"
                      value="{{data.data.luck.difficulty.legendary}}"
                      data-dtype="Number"
                      onfocus="this.select()"
                    />
                    <input
                      {{#if (eq data.data.luck.tier "nemesis")}}
                        style="font-weight:bold"
                      {{/if}}
                      class="luck-input"
                      name="data.luck.difficulty.nemesis"
                      type="number"
                      value="{{data.data.luck.difficulty.nemesis}}"
                      data-dtype="Number"
                      onfocus="this.select()"
                    />
                  </div>
                {{/if}}
              {{/if}}
            </td>
            <td>
              <input
                style="width:60px"
                name="data.luck.other"
                type="number"
                value="{{data.data.luck.other}}"
                data-dtype="Number"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                style="width:60px"
                name="data.luck.burnt"
                type="number"
                value="{{data.data.luck.burnt}}"
                data-dtype="Number"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="wide">
    <div class="offset-cols">
      <div>
        <h2>{{localize "mythic.characterSettings.wounds.label"}}</h2>
        <table>
          <thead>
            <tr>
              <th style="width:75px">
                {{localize "mythic.characterSettings.total"}}
              </th>
              <th>{{localize "mythic.characterSettings.wounds.doubleTou"}}</th>
              <th style="width: 140px">
                {{localize "mythic.characterSettings.wounds.aiDegen"}}
              </th>
              <th style="width:120px">
                {{#if (eq actor.type "Named Character")}}
                  {{localize "mythic.characterSettings.wounds.advancements"}}
                {{else}}
                  {{localize "mythic.characterSettings.wounds.difficulty"}}
                {{/if}}
              </th>
              <th style="width:75px">
                {{localize "mythic.characterSettings.other"}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>{{data.data.wounds.max}}</b></td>
              <td>
                <input
                  name="data.wounds.doubleTou"
                  type="checkbox"
                  {{checked data.data.wounds.doubleTou}}
                />
              </td>
              <td>
                <input
                  name="data.wounds.aiDegen"
                  type="number"
                  data-dtype="Number"
                  value="{{data.data.wounds.aiDegen}}"
                  onfocus="this.select()"
                />
              </td>
              <td>
                {{#if (eq actor.type "Named Character")}}
                  <select name="data.wounds.advancements">
                    {{#select data.data.wounds.advancements}}
                      {{#each config.advancements.wounds as |text num|}}
                        <option value="{{num}}">{{text}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                {{else}}
                  {{data.data.wounds.difficulty}}
                {{/if}}
              </td>
              <td>
                <input
                  name="data.wounds.other"
                  type="number"
                  data-dtype="Number"
                  value="{{data.data.wounds.other}}"
                  onfocus="this.select()"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2>{{localize "mythic.characterSettings.supportPoints.label"}}</h2>
        <table>
          <thead>
            <tr>
              <th>
                {{localize "mythic.characterSettings.supportPoints.rank"}}
              </th>
              <th>{{localize "mythic.characterSettings.other"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  name="data.supportPoints.rank"
                  type="number"
                  data-dtype="Number"
                  value="{{data.data.supportPoints.rank}}"
                  onfocus="this.select()"
                />
              </td>
              <td>
                <input
                  name="data.supportPoints.other"
                  type="number"
                  data-dtype="Number"
                  value="{{data.data.supportPoints.other}}"
                  onfocus="this.select()"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="wide">
    <h2>{{localize "mythic.characterSettings.movement.label"}}</h2>
    <table>
      <thead>
        <tr>
          <th>
            {{localize "mythic.characterSettings.movement.jumpMultiplier"}}
          </th>
          <th>
            {{localize "mythic.characterSettings.movement.leapAgiBonus"}}
          </th>
          <th>
            {{localize "mythic.characterSettings.movement.leapMultiplier"}}
          </th>
          <th>
            {{localize "mythic.characterSettings.movement.agiBonusRunCharge"}}
          </th>
          <th>{{localize "mythic.characterSettings.movement.blur"}}</th>
          <th>{{localize "mythic.characterSettings.movement.rush"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              name="data.movement.jumpMultiplier"
              type="number"
              value="{{data.data.movement.jumpMultiplier}}"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              name="data.movement.leapAgiBonus"
              type="number"
              value="{{data.data.movement.leapAgiBonus}}"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              name="data.movement.leapMultiplier"
              type="number"
              value="{{data.data.movement.leapMultiplier}}"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              name="data.movement.agiBonusRunCharge"
              type="number"
              value="{{data.data.movement.agiBonusRunCharge}}"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              name="data.movement.blur"
              type="checkbox"
              {{checked data.data.movement.blur}}
            />
          </td>
          <td>
            <input
              name="data.movement.rush"
              type="checkbox"
              {{checked data.data.movement.rush}}
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
