<section class="character-sheet-summary tab">
  <div class="characteristics-settings">
    <h2>{{localize "mythic.characterSettings.characteristics.charLabel"}}</h2>
    <table>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.characteristics.source"}}</th>
          {{#each config.characteristic as |name _|}}
            <td>{{name}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.soldierType"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.soldierType" value="{{stat.soldierType}}" type="number" data-dtype="Number" placeholder="0"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.abilityPool"}} (100)</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.abilityPool" value="{{stat.abilityPool}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.background"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.background" value="{{stat.background}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.equipment"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.equipment" value="{{stat.equipment}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.advancements"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.advancements" value="{{stat.advancements}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.other"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.other" value="{{stat.other}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.characteristics.total"}}</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
        </tr>
      </thead>
    </table>
    <textarea name="data.characteristics.notes" placeholder="{{localize "mythic.characterSettings.characteristics.charNotes"}}">{{data.data.characteristics.notes}}</textarea>
  </div>
  <div class="characteristics-settings">
    <h2>{{localize "mythic.characterSettings.characteristics.mythicsLabel"}}</h2>
    <table>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.characteristics.source"}}</th>
          <th>STR</th>
          <th>TOU</th>
          <th>AGI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.soldierType"}}</td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-mythic-{{name}}" name="data.mythicCharacteristics.{{name}}.soldierType" value="{{stat.soldierType}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.equipment"}}</td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-mythic-{{name}}" name="data.mythicCharacteristics.{{name}}.equipment" value="{{stat.equipment}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.advancements"}}</td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-mythic-{{name}}" name="data.mythicCharacteristics.{{name}}.advancements" value="{{stat.advancements}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.other"}}</td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-mythic-{{name}}" name="data.mythicCharacteristics.{{name}}.other" value="{{stat.other}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.characteristics.total"}}</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
        </tr>
      </thead>
    </table>
    <textarea name="data.mythicCharacteristics.notes" placeholder="{{localize "mythic.characterSettings.characteristics.mythicsNotes"}}">{{data.data.characteristics.notes}}</textarea>
  </div>
</section>