<section class="character-sheet-summary tab">
  <div class="characteristics-settings wide">
    <h2>{{localize "mythic.characterSettings.characteristics.charLabel"}}</h2>
    <table class="characteristics-settings">
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.characteristics.source"}}</th>
          {{#each config.characteristic as |name _|}}
            <td>{{name}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.soldierType"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.soldierType" value="{{stat.soldierType}}" type="number" data-dtype="Number" placeholder="0"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.abilityPool"}} ({{data.data.characteristics.extra.poolTotal}})</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input class="calc-{{name}} calc-pool" name="data.characteristics.{{name}}.abilityPool" value="{{stat.abilityPool}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.background"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.background" value="{{stat.background}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.equipment"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.equipment" value="{{stat.equipment}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.advancements"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.advancements" value="{{stat.advancements}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.other"}}</td>
          {{#each actor.data.data.characteristics as |stat name|}}
            {{#unless (eq name "extra")}}
              <td>
                <input class="calc-{{name}}" name="data.characteristics.{{name}}.other" value="{{stat.other}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.total"}}</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
        </tr>
      </thead>
    </table>
    <textarea name="data.characteristics.extra.notes" placeholder="{{localize "mythic.characterSettings.characteristics.charNotes"}}">{{data.data.characteristics.extra.notes}}</textarea>
  </div>
  <div class="characteristics-settings">
    <h2>{{localize "mythic.characterSettings.characteristics.mythicsLabel"}}</h2>
    <table>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.characteristics.source"}}</th>
          <th>STR</th>
          <th>TOU</th>
          <th>AGI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.soldierType"}}</td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-mythic-{{name}}" name="data.mythicCharacteristics.{{name}}.soldierType" value="{{stat.soldierType}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.equipment"}}</td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-mythic-{{name}}" name="data.mythicCharacteristics.{{name}}.equipment" value="{{stat.equipment}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.characteristics.advancements"}}</td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-mythic-{{name}}" name="data.mythicCharacteristics.{{name}}.advancements" value="{{stat.advancements}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
        <tr>
          <td>{{localize "mythic.characterSettings.other"}}</td>
          {{#each actor.data.data.mythicCharacteristics as |stat name|}}
            {{#unless (eq name "notes")}}
              <td>
                <input class="calc-mythic-{{name}}" name="data.mythicCharacteristics.{{name}}.other" value="{{stat.other}}" type="number" data-dtype="Number"/>
              </td>
            {{/unless}}
          {{/each}}
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.total"}}</th>
          <th>100</th>
          <th>100</th>
          <th>100</th>
        </tr>
      </thead>
    </table>
    <textarea name="data.mythicCharacteristics.notes" placeholder="{{localize "mythic.characterSettings.characteristics.mythicsNotes"}}">{{data.data.characteristics.notes}}</textarea>
  </div>
  <div class="character-sheet-summary">
    <div>
      <h2>{{localize "mythic.characterSettings.initiative.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{localize "mythic.characterSettings.initiative.battleMind"}}</th>
            <th>{{localize "mythic.characterSettings.initiative.fastFoot"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input name="data.initiative.battleMind" type="checkbox" {{checked data.data.initiative.battleMind}}/></td>
            <td><input name="data.initiative.fastFoot" type="checkbox" {{checked data.data.initiative.fastFoot}}/></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2>{{localize "mythic.characterSettings.fatigue.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{localize "mythic.characterSettings.fatigue.enduring"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input name="data.fatigue.enduring" type="checkbox" {{checked data.data.fatigue.enduring}}/></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="wide">
      <h2>{{localize "mythic.characterSettings.carry.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th>{{localize "mythic.characterSettings.carry.doubleStr"}}</th>
            <th>{{localize "mythic.characterSettings.carry.doubleTou"}}</th>
            <th>{{localize "mythic.characterSettings.carry.strongBack"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input name="data.carryingCapacity.doubleStr" type="checkbox" {{checked data.data.carryingCapacity.doubleStr}}/></td>
            <td><input name="data.carryingCapacity.doubleTou" type="checkbox" {{checked data.data.carryingCapacity.doubleTou}}/></td>
            <td><input name="data.carryingCapacity.strongBack" type="checkbox" {{checked data.data.carryingCapacity.strongBack}}/></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="wide">
      <h2>{{localize "mythic.characterSettings.luck.label"}}</h2>
      <table>
        <thead>
          <tr>
            <th style="width:75px">{{localize "mythic.characterSettings.total"}}</th>
            <th>{{localize "mythic.characterSettings.luck.starting"}}</th>
            <th style="width:105px">{{localize "mythic.characterSettings.luck.advancements"}}</th>
            <th>{{localize "mythic.characterSettings.other"}}</th>
            <th>{{localize "mythic.characterSettings.luck.burnt"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>20</b></td>
            <td><input name="data.luck.starting" type="number" value="{{data.data.luck.starting}}" data-dtype="Number"/></td>
            <td><input name="data.luck.advancements" type="number" value="{{data.data.luck.advancements}}" data-dtype="Number"/></td>
            <td><input name="data.luck.other" type="number" value="{{data.data.luck.other}}" data-dtype="Number"/></td>
            <td><input name="data.luck.burnt" type="number" value="{{data.data.luck.burnt}}" data-dtype="Number"/></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="wide">
    <h2>{{localize "mythic.characterSettings.wounds.label"}}</h2>
    <table>
      <thead>
        <tr>
          <th style="width:75px">{{localize "mythic.characterSettings.total"}}</th>
          <th>{{localize "mythic.characterSettings.wounds.doubleTou"}}</th>
          <th>{{localize "mythic.characterSettings.wounds.aiDegen"}}</th>
          <th>{{localize "mythic.characterSettings.wounds.advancements"}}</th>
          <th>{{localize "mythic.characterSettings.other"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>100</b></td>
          <td><input name="data.wounds.doubleTou" type="checkbox" {{checked data.data.wounds.doubleTou}}/></td>
          <td><input name="data.wounds.aiDegen" type="number" data-dtype="Number" value="{{data.data.wounds.aiDegen}}"/></td>
          <td><input name="data.wounds.advancements" type="number" data-dtype="Number" value="{{data.data.wounds.advancements}}"/></td>
          <td><input name="data.wounds.other" type="number" data-dtype="Number" value="{{data.data.wounds.other}}"/></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="wide">
    <h2>{{localize "mythic.characterSettings.movement.label"}}</h2>
    <table>
      <thead>
        <tr>
          <th>{{localize "mythic.characterSettings.movement.jumpMultiplier"}}</th>
          <th>{{localize "mythic.characterSettings.movement.leapAgiBonus"}}</th>
          <th>{{localize "mythic.characterSettings.movement.leapMultiplier"}}</th>
          <th>{{localize "mythic.characterSettings.movement.doubleAgiRunCharge"}}</th>
          <th>{{localize "mythic.characterSettings.movement.blur"}}</th>
          <th>{{localize "mythic.characterSettings.movement.rush"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input name="data.movement.jumpMultiplier" type="number" value="{{data.data.movement.jumpMultiplier}}" data-dtype="Number"/></td>
          <td><input name="data.movement.leapAgiBonus" type="number" value="{{data.data.movement.leapAgiBonus}}" data-dtype="Number"/></td>
          <td><input name="data.movement.leapMultiplier" type="number" value="{{data.data.movement.leapMultiplier}}" data-dtype="Number"/></td>
          <td><input name="data.movement.doubleAgiRunCharge" type="checkbox" {{checked data.data.movement.doubleAgiRunCharge}}/></td>
          <td><input name="data.movement.blur" type="checkbox" {{checked data.data.movement.blur}}/></td>
          <td><input name="data.movement.rush" type="checkbox" {{checked data.data.movement.rush}}/></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>