<section class="character-weapon-summary summary-table">
  <table>
    <thead>
      <tr>
        <th colspan="3">{{localize "mythic.characterWeaponSummary.title"}}</th>
        <th>
          <button class="initiative rollable" data-roll="{{data.data.initiative.formula}}" data-label="initiative">
            {{localize "mythic.characterWeaponSummary.initiative"}}: {{data.data.initiative.mods}}
          </button>
      </th>
      <th colspan="3">
        <button class="skill rollable" name="{{localize "mythic.skillNames.evasion"}} ({{data.data.skills.evasion.characteristic}})" value="{{data.data.skills.evasion.roll}}">
          {{localize "mythic.skillNames.evasion"}}: {{data.data.skills.evasion.roll}}
        </button>
      </th>
      <tr>
        <th>{{localize "mythic.characterWeaponSummary.name"}} ({{localize "mythic.characterWeaponSummary.target"}})</th>
        <th>{{localize "mythic.characterWeaponSummary.fireMode"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.range"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.mag"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.one"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.half"}}</th>
        <th>{{localize "mythic.characterWeaponSummary.full"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each weapons as |weapon _|}}
        <tr>
          {{!-- Nickname or Name --}}
          <td>
            {{#unless weapon.data.nickname}}
              {{weapon.name}}
            {{else}}
              {{weapon.data.nickname}}
            {{/unless}}
            ({{weapon.data.attack.target}})
          </td>
          {{!-- Fire Mode --}}
          <td>
            {{#if (eq weapon.data.group "ranged")}}
              <select class="item-edit-inline special-focus" data-field="attack.fireMode" data-item-id="{{weapon._id}}">
                {{#select weapon.data.attack.fireMode}}
                  <option value="none">--</option>
                  {{#each weapon.data.fireMode as |rate mode|}}
                    {{#if rate}}
                      <option value="{{mode}}-{{rate}}">{{localize (concat "mythic.weaponSheet.fireMode." mode)}} ({{rate}})</option>
                    {{/if}}
                  {{/each}}
                {{/select}}
              </select>
            {{else}}
              {{localize (concat "mythic.weaponGroups." weapon.data.group)}}
            {{/if}}
          </td>
          {{!-- Range --}}
          <td>
            {{#if (eq weapon.data.group "thrown")}}
              {{weapon.data.range.thrown}} m ({{weapon.data.special.blast.value}} / {{weapon.data.special.kill.value}})
            {{else if (eq weapon.data.group "melee")}}
              {{weapon.data.range.melee}} m
            {{else if (eq weapon.data.group "ranged")}}
              {{weapon.data.range.close}} - {{weapon.data.range.long}} m
            {{/if}}
          </td>
          {{!-- Magazine --}}
          <td style="width:120px">
            {{#unless (eq weapon.data.group "melee")}}
              <div class="magazine">
                <input class="item-edit-inline" data-field="magazine.current" data-item-id="{{weapon._id}}" type="number" data-dtype="Number" value="{{weapon.data.magazine.current}}"/>
                <p>/</p>
                <p>{{weapon.data.magazine.max}}</p>
                <div class="item-management">
                  <p>{{weapon.data.reload.total}}</p>
                  <a class="reload" data-field="magazine.current" data-item-id="{{weapon._id}}"><i class="clickable fas fa-sync-alt"></i></a>
                </div>
              </div>
            {{else}} --
            {{/unless}}
          </td>
          {{!-- Buttons --}}
          <td style="width:40px">
            <button
              {{#if (eq weapon.data.attack.fireMode "none")}} disabled="true" {{/if}}
            >
              <b>1</b>
            </button>
          </td>
          <td style="width:40px">
            <button
              {{#if (eq weapon.data.attack.fireMode "none")}} disabled="true" {{/if}}
              {{#unless weapon.data.attack.half}} disabled="true" {{/unless}}
            >
              <b>{{weapon.data.attack.half}}</b>
            </button>
          </td>
          <td style="width:40px">
            <button
              {{#if (eq weapon.data.attack.fireMode "none")}} disabled="true" {{/if}}
              {{#unless weapon.data.attack.full}} disabled="true" {{/unless}}
            >
              <b>{{weapon.data.attack.full}}</b>
            </button>
          </td>
        </tr>
      {{else}} <td colspan="8">No weapons have been added yet.</td>
      {{/each}}
    </tbody>
  </table>
</section>