<tr>
  <td>
    <div class="item-name flood-item">
      <img alt="{{this.name}}" src="{{this.img}}"/>
      <p>{{this.name}}</p>
      <div class="item-management">
        <a class="item-edit" data-item-id="{{this._id}}">
          <i class="clickable fas fa-edit"></i>
        </a>
        <a class="item-delete" data-item-id="{{this._id}}">
          <i class="clickable fas fa-trash"></i>
        </a>
      </div>
    </div>
  </td>
  <td>
    <input
      class="item-edit-inline"
      data-field="weight.carried"
      data-item-id="{{this._id}}"
      type="checkbox"
      {{checked this.system.weight.carried}}
    />
  </td>
  <td>
    <input
      class="item-edit-inline"
      data-field="weight.equipped"
      data-item-id="{{this._id}}"
      type="checkbox"
      {{checked this.system.weight.equipped}}
      {{#unless this.system.weight.carried}}
        disabled="true"
        aria-disabled="true"
      {{/unless}}
    />
  </td>
  <td>
    <input
      class="item-edit-inline"
      style="width:50px;"
      type="number" data-dtype="Number"
      data-item-id="{{this._id}}"
      onfocus="this.select()"
      {{#if (cond "&&" (eq this.type "weapon") (eq this.system.group "thrown"))}}
        data-field="magazine.current"
        value="{{this.system.magazine.current}}"
      {{else}}
        data-field="weight.quantity"
        value="{{this.system.weight.quantity}}"
      {{/if}}
    />
  </td>
  <td>{{localnum this.system.weight.total}}&nbsp;kg</td>
</tr>
