<section>
    <table>
    <thead>
      <tr>
        <th>{{localize "mythic.characterInventory.name"}}</th>
        <th>{{localize "mythic.characterInventory.carried"}}</th>
        <th>{{localize "mythic.characterInventory.equipped"}}</th>
        <th>{{localize "mythic.characterInventory.quantity"}}</th>
        <th>{{localize "mythic.characterInventory.total"}}</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th colspan="5">
          {{localize "mythic.characterInventory.weapon.label"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each weapons as |weapon|}}
        {{> "systems/mythic/templates/partials/flood-items.hbs" weapon}}
      {{else}}
        <tr>
          <td colspan="5">
            {{localize "mythic.characterInventory.weapon.empty"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
    <thead>
      <tr>
        <th colspan="5">
          {{localize "mythic.characterInventory.armor.label"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each armors as |armor|}}
        {{> "systems/mythic/templates/partials/flood-items.hbs" armor}}
      {{else}}
        <tr>
          <td colspan="5">
            {{localize "mythic.characterInventory.armor.empty"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
    <thead>
      <tr>
        <th colspan="5">
          {{localize "mythic.characterInventory.equipment.label"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each equipment as |equip|}}
        {{> "systems/mythic/templates/partials/flood-items.hbs" equip}}
      {{else}}
        <tr>
          <td colspan="5">
            {{localize "mythic.characterInventory.equipment.empty"}}
          </td>
        </tr>
      {{/each}}
      <td colspan="5">
        <textarea
          name="system.equipmentNotes"
          placeholder="{{localize "mythic.characterInventory.equipment.notes"}}"
        >{{system.equipmentNotes}}</textarea>
      </td>
    </tbody>
    <thead>
      <tr>
        <th colspan="2">
          {{localize "mythic.characterInventory.characterTotal"}}:&nbsp;{{localnum system.carryingCapacity.character}}&nbsp;kg
        </th>
        <th colspan="2">
          +{{system.carryingCapacity.hearing}}&nbsp;{{localize "mythic.characterInventory.heard"}}
        </th>
        <th>
          {{localnum system.carryingCapacity.total}}&nbsp;kg
        </th>
      </tr>
    </thead>
  </table>
</section>
