<div class="flood-details">
  <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
  <div>
    <h1>
      <input
        name="name"
        type="text"
        value="{{actor.name}}"
        onfocus="this.select()"
      />
    </h1>
    <div class="flood-physical">
      <p>
        <input
          name="system.soldierType"
          type="text"
          value="{{system.soldierType}}"
          placeholder="{{localize "mythic.characterDetails.soldierType"}}"
          onfocus="this.select()"
        />
      </p>
      <select name="system.size">
        {{#select system.size}}
          {{#each config.size as |name size|}}
            <option value="{{size}}">{{localize name}}</option>
          {{/each}}
        {{/select}}
      </select>
      <p>
        <input
          name="system.height"
          type="number"
          data-dtype="Number"
          value="{{system.height}}"
          placeholder="{{localize "mythic.characterDetails.height"}}"
          onfocus="this.select()"
        />
      </p>
      <p>
        <input
          name="system.weight"
          type="number"
          data-dtype="Number"
          value="{{system.weight}}"
          placeholder="{{localize "mythic.characterDetails.weight"}}"
          onfocus="this.select()"
        />
      </p>
      <div class="swarm">
        <p>{{localize "mythic.characterDetails.swarm"}}:</p>
        <p>{{system.swarm.total}}</p>
      </div>
    </div>
  </div>
</div>
