<div>
  {{!-- Break Points --}}
  <div>
    <table>
      <thead>
        <tr>
          {{!-- if has wep then colspan 10 else colspan 8 --}}
          <th colspan="10">BREAKPOINTS</th>
        </tr>
        <tr>
          {{!-- if has wep then display wep --}}
          <th colspan="2">WEP</th>
          <th colspan="2">MOB</th>
          <th colspan="2">ENG</th>
          <th colspan="2">OP</th>
          <th colspan="2">HULL</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          {{!-- if has wep then display wep --}}
          <td>Current</td>
          <td>
            <input class="padding:8px" style="width: 45px" type="text" />
          </td>
          <td>Current</td>
          <td>
            <input class="padding:8px" style="width: 45px" type="text" />
          </td>
          <td>Current</td>
          <td>
            <input class="padding:8px" style="width: 45px" type="text" />
          </td>
          <td>Current</td>
          <td>
            <input class="padding:8px" style="width: 45px" type="text" />
          </td>
          <td>Current</td>
          <td>
            <input class="padding:8px" style="width: 45px" type="text" />
          </td>
        </tr>
        <tr>
          {{!-- if has wep then display wep --}}
          <td>Max</td>
          <td>1,000</td>
          <td>Max</td>
          <td>1,000</td>
          <td>Max</td>
          <td>1,000</td>
          <td>Max</td>
          <td>1,000</td>
          <td>Max</td>
          <td>1,000</td>
        </tr>
        <tr>
          {{!-- if has wep then colspan 8 else colspan 6 --}}
          <td colspan="8">
            <div style="text-align: left; padding: 4px">Doomed state text will go here</div>
          </td>
          <td colspan="2">
            <button style="width:50px; margin: 0; display: inline">
              {{!-- unless can explode make disabled --}}
              <i class="fa-solid fa-bomb"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {{!-- Armor and Shields --}}
  <div class="armor-and-shields">
    <table>
      <thead>
        <tr>
          <th colspan="5">ARMOR</th>
        </tr>
        <tr>
          <th>FRONT</th>
          <th>BACK</th>
          <th>SIDE</th>
          <th>TOP</th>
          <th>BOTTOM</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="3">SHIELDS</th>
          <th>
            <a class="recharge"><i class="clickable fas fa-sync-alt"></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Current</td>
          <td>
            <input
              name="system.shields.integrity.current"
              style="width: 40px"
              type="number"
              data-dtype="Number"
              value="{{system.shields.integrity.current}}"
              onfocus="this.select()"
            />
          </td>
          <td>Delay</td>
          <td>{{localnum system.shields.delay}}</td>
        </tr>
        <tr>
          <td>Max</td>
          <td>{{localnum system.shields.integrity.max}}</td>
          <td>Charge</td>
          <td>{{localnum system.shields.recharge}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {{!-- Special Rules --}}
  <div>
    <table>
      <thead>
        <tr>
          <th>Special Rules</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="vehicle-special-rules">
              {{#each config.specialRules.vehicles as |type name|}}
                {{#with (lookup ../this.system.special name)}}
                  <span>
                    <input
                      name="system.special.{{name}}.has"
                      type="checkbox"
                      {{checked this.has}}
                    />
                    <p {{#if (eq type "none")}} style="grid-column: span 2" {{/if}}>
                      {{localize (concat "mythic.vehicleSheet.special." name)}}
                    </p>
                    {{#unless (eq type "none")}}
                      <input
                        name="system.special.{{name}}.value"
                        {{#if (eq type "text")}}
                          type="text"
                        {{else if (eq type "number")}}
                          type="number" data-dtype="Number"
                        {{/if}}
                        value="{{this.value}}"
                        onfocus="this.select()"
                      />
                    {{/unless}}
                  </span>
                {{/with}}
              {{/each}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
