<div
  class="vehicle-manifest"
  {{#with (doMath "+" system.crew.operators.length
                      system.crew.gunners.length
                      system.crew.complement.length
          )
  }}
    style="grid-template-columns: repeat(min(4, {{this}}), 1fr)"
  {{/with}}
>
  {{!-- Emptiness check. --}}
  {{#unless (cond "||" system.crew.operators.length
                       system.crew.gunners.length
                       system.crew.complement.length
            )
  }}
    <div>&lt;&nbsp;{{localize "mythic.vehicleSheet.crew.none"}}&nbsp;&gt;</div>
  {{/unless}}

  {{!-- Operators --}}
  {{#each system.crew.operators as |operator|}}
    <div>
      {{#if operator.display}}
        <b>[O{{doMath "+" operator.idx 1}}]</b>&nbsp;{{operator.display}}
      {{else}}
        <b>[O{{doMath "+" operator.idx 1}}]</b>&nbsp;&lt;{{localize "mythic.vehicleSheet.crew.empty"}}&gt;
      {{/if}}
    </div>
  {{/each}}

  {{!-- Gunners --}}
  {{#each system.crew.gunners as |gunner|}}
    <div>
      {{#if gunner.display}}
        <b>[G{{doMath "+" gunner.idx 1}}]</b>&nbsp;{{gunner.display}}
      {{else}}
        <b>[G{{doMath "+" gunner.idx 1}}]</b>&nbsp;&lt;{{localize "mythic.vehicleSheet.crew.empty"}}&gt;
      {{/if}}
    </div>
  {{/each}}

  {{!-- Active Complement --}}
  {{#each system.crew.complement as |complement|}}
    <div>
      {{#if complement.display}}
        <b>[C{{doMath "+" complement.idx 1}}]</b>&nbsp;{{complement.display}}
      {{else}}
        <b>[C{{doMath "+" complement.idx 1}}]</b>&nbsp;&lt;{{localize "mythic.vehicleSheet.crew.empty"}}&gt;
      {{/if}}
    </div>
  {{/each}}
</div>
