<div class="vehicle-stat-block">
  {{!-- Break Points --}}
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="10">{{localize "mythic.vehicleSheet.breakpoints.label"}}</th>
        </tr>
        <tr>
          <th colspan="2">{{localize "mythic.vehicleSheet.breakpoints.wep"}}</th>
          <th colspan="2">{{localize "mythic.vehicleSheet.breakpoints.mob"}}</th>
          <th colspan="2">{{localize "mythic.vehicleSheet.breakpoints.eng"}}</th>
          <th colspan="2">{{localize "mythic.vehicleSheet.breakpoints.op"}}</th>
          <th colspan="2">{{localize "mythic.vehicleSheet.breakpoints.hull"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localize "mythic.vehicleSheet.core.current"}}</td>
          {{#if system.breakpoints.wep.has}}
            <td>
              <input
                name="system.breakpoints.wep.current"
                type="number"
                data-dtype="Number"
                value="{{system.breakpoints.wep.current}}"
                onfocus="this.select()"
              />
            </td>
          {{else}}
            <td>&lt;N/A&gt;</td>
          {{/if}}
          <td>{{localize "mythic.vehicleSheet.core.current"}}</td>
          <td>
            <input
              name="system.breakpoints.mob.current"
              type="number"
              data-dtype="Number"
              value="{{system.breakpoints.mob.current}}"
              onfocus="this.select()"
            />
          </td>
          <td>{{localize "mythic.vehicleSheet.core.current"}}</td>
          <td>
            <input
              name="system.breakpoints.eng.current"
              type="number"
              data-dtype="Number"
              value="{{system.breakpoints.eng.current}}"
              onfocus="this.select()"
            />
          </td>
          <td>{{localize "mythic.vehicleSheet.core.current"}}</td>
          <td>
            <input
              name="system.breakpoints.op.current"
              type="number"
              data-dtype="Number"
              value="{{system.breakpoints.op.current}}"
              onfocus="this.select()"
            />
          </td>
          <td>{{localize "mythic.vehicleSheet.core.current"}}</td>
          <td>
            <input
              name="system.breakpoints.hull.current"
              type="number"
              data-dtype="Number"
              value="{{system.breakpoints.hull.current}}"
              onfocus="this.select()"
            />
          </td>
        </tr>
        <tr>
          <td>{{localize "mythic.vehicleSheet.core.max"}}</td>
          {{#if system.breakpoints.wep.has}}
            <td>{{localnum system.breakpoints.wep.max}}</td>
          {{else}}
            <td>&lt;N/A&gt;</td>
          {{/if}}
          <td>{{localize "mythic.vehicleSheet.core.max"}}</td>
          <td>{{localnum system.breakpoints.mob.max}}</td>
          <td>{{localize "mythic.vehicleSheet.core.max"}}</td>
          <td>{{localnum system.breakpoints.eng.max}}</td>
          <td>{{localize "mythic.vehicleSheet.core.max"}}</td>
          <td>{{localnum system.breakpoints.op.max}}</td>
          <td>{{localize "mythic.vehicleSheet.core.max"}}</td>
          <td>{{localnum system.breakpoints.hull.max}}</td>
        </tr>
        <tr>
          <td colspan="9">
            <div style="text-align: left; padding: 4px">
              {{localize (concat "mythic.vehicleSheet.doom." system.breakpoints.hull.doom)}}
            </div>
          </td>
          <td>
            <button
              style="width:50px; margin: 0; display: inline"
              {{#unless system.breakpoints.hull.doomed}}
                disabled="disabled"
              {{/unless}}
              >
                <i class="fa-solid fa-bomb"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {{!-- Armor and Shields --}}
  <div class="armor-and-shields">
    <table>
      <thead>
        <tr>
          <th colspan="5">{{localize "mythic.vehicleSheet.armor.label"}}</th>
        </tr>
        <tr>
          <th>{{localize "mythic.vehicleSheet.armor.front"}}</th>
          <th>{{localize "mythic.vehicleSheet.armor.back"}}</th>
          <th>{{localize "mythic.vehicleSheet.armor.side"}}</th>
          <th>{{localize "mythic.vehicleSheet.armor.top"}}</th>
          <th>{{localize "mythic.vehicleSheet.armor.bottom"}}</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localnum system.armor.front.current}}</td>
          <td>{{localnum system.armor.back.current}}</td>
          <td>{{localnum system.armor.side.current}}</td>
          <td>{{localnum system.armor.top.current}}</td>
          <td>{{localnum system.armor.bottom.current}}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="3">{{localize "mythic.shields.label"}}</th>
          <th>
            <a class="recharge"><i class="clickable fas fa-sync-alt"></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localize "mythic.vehicleSheet.core.current"}}</td>
          <td>
            <input
              name="system.shields.integrity.current"
              style="width: 40px"
              type="number"
              data-dtype="Number"
              value="{{system.shields.integrity.current}}"
              onfocus="this.select()"
            />
          </td>
          <td>{{localize "mythic.shields.delay"}}</td>
          <td>{{localnum system.shields.delay}}</td>
        </tr>
        <tr>
          <td>{{localize "mythic.vehicleSheet.core.max"}}</td>
          <td>{{localnum system.shields.integrity.max}}</td>
          <td>{{localize "mythic.shields.recharge"}}</td>
          <td>{{localnum system.shields.recharge}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {{!-- Special Rules --}}
  <div>
    <table>
      <thead>
        <tr>
          <th>{{localize "mythic.vehicleSheet.special.label"}}</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="vehicle-special-rules">
              {{#each config.specialRules.vehicles as |type name|}}
                {{#with (lookup ../this.system.special name)}}
                  <span>
                    <input
                      name="system.special.{{name}}.has"
                      type="checkbox"
                      {{checked this.has}}
                    />
                    <p
                      {{#if (eq type "none")}}
                        style="grid-column: span 2"
                      {{/if}}
                    >
                      {{localize (concat "mythic.vehicleSheet.special." name)}}
                    </p>
                    {{#unless (eq type "none")}}
                      <input
                        name="system.special.{{name}}.value"
                        {{#if (eq type "text")}}
                          type="text"
                        {{else if (eq type "number")}}
                          type="number" data-dtype="Number"
                        {{/if}}
                        value="{{this.value}}"
                        onfocus="this.select()"
                      />
                    {{/unless}}
                  </span>
                {{/with}}
              {{/each}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
