<div class="vehicle-stat-block">
  {{!-- Break Points --}}
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="10">{{localize "mythic.vehicleSheet.breakpoints.label"}}</th>
        </tr>
        <tr>
          {{#each config.vehicle.breakpoints as |value _|}}
            <th colspan="2">{{localize value}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          {{#each config.vehicle.breakpoints as |_ key|}}
            {{#with (lookup ../this.system.breakpoints key)}}
              <td>{{localize "mythic.vehicleSheet.core.current"}}</td>
              <td>
                {{#if (cond "&&" (eq "wep" key)
                                 (eq ../../equippedWeapons.length 0)
                      )
                }}
                  &lt;N/A&gt;
                {{else if (eq ../../this.system.propulsion.type "none")}}
                  {{#unless (eq key "hull")}}
                    &lt;N/A&gt;
                  {{else}}
                    <input
                      name="system.breakpoints.{{key}}.value"
                      type="number"
                      data-dtype="Number"
                      value="{{this.value}}"
                      onfocus="this.select()"
                    />
                  {{/unless}}
                {{else}}
                  <input
                    name="system.breakpoints.{{key}}.value"
                    type="number"
                    data-dtype="Number"
                    value="{{this.value}}"
                    onfocus="this.select()"
                  />
                {{/if}}
              </td>
            {{/with}}
          {{/each}}
        </tr>
        <tr>
          {{#each config.vehicle.breakpoints as |_ key|}}
            {{#with (lookup ../this.system.breakpoints key)}}
              <td>{{localize "mythic.vehicleSheet.core.max"}}</td>
              <td>
                {{#if (cond "&&" (eq "wep" key)
                                 (eq ../../equippedWeapons.length 0)
                      )
                }}
                  &lt;N/A&gt;
                {{else if (eq ../../this.system.propulsion.type "none")}}
                  {{#unless (eq key "hull")}}
                    &lt;N/A&gt;
                  {{else}}
                    {{localnum this.max}}
                  {{/unless}}
                {{else}}
                  {{localnum this.max}}
                {{/if}}
              </td>
            {{/with}}
          {{/each}}
        </tr>
        <tr>
          <td colspan="9">
            <div style="text-align: left; padding: 4px">
              {{localize (concat "mythic.vehicleSheet.doom." system.breakpoints.hull.doom.level)}}
            </div>
          </td>
          <td style="width: 62px">
            <button
              class="vehicle-btn vehicle-attack"
              data-atk-type="doom"
              {{#unless (cond "||" (gt system.breakpoints.hull.doom.blast 0)
                                   (gt system.breakpoints.hull.doom.kill  0)
                        )
              }}
                disabled="true"
                aria-disabled="true"
              {{/unless}}
            >
              <i class="fa-solid fa-bomb"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {{!-- Armor and Shields --}}
  <div class="armor-and-shields">
    <table>
      <thead>
        <tr>
          <th colspan="5">{{localize "mythic.vehicleSheet.armor.label"}}</th>
        </tr>
        <tr>
          {{#each config.vehicle.armor as |value _|}}
            <th>{{localize value}}</th>
          {{/each}}
        <tr>
      </thead>
      <tbody>
        <tr>
          {{#each config.vehicle.armor as |_ key|}}
            {{#with (lookup ../this.system.armor key)}}
              <td>{{localnum this.value}}</td>
            {{/with}}
          {{/each}}
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="3">{{localize "mythic.shields.label"}}</th>
          <th>
            <a class="recharge"><i class="clickable fas fa-sync-alt"></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localize "mythic.vehicleSheet.core.current"}}</td>
          <td>
            <input
              name="system.shields.value"
              style="width: 40px"
              type="number"
              data-dtype="Number"
              value="{{system.shields.value}}"
              onfocus="this.select()"
            />
          </td>
          <td>{{localize "mythic.shields.delay"}}</td>
          <td>{{localnum system.shields.delay}}</td>
        </tr>
        <tr>
          <td>{{localize "mythic.vehicleSheet.core.max"}}</td>
          <td>{{localnum system.shields.max}}</td>
          <td>{{localize "mythic.shields.recharge"}}</td>
          <td>{{localnum system.shields.recharge}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {{!-- Special Rules --}}
  <div>
    <table>
      <thead>
        <tr>
          <th>{{localize "mythic.vehicleSheet.special.label"}}</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="vehicle-special-rules">
              {{#each config.specialRules.vehicles as |type name|}}
                {{#with (lookup ../this.system.special name)}}
                  <span>
                    <input
                      name="system.special.{{name}}.has"
                      type="checkbox"
                      {{checked this.has}}
                      {{!-- Disable `autoloader` when is stationary turret --}}
                      {{#if (cond "&&" (eq name "autoloader")
                                       (eq ../../this.system.propulsion.type "none")
                            )
                      }}
                        disabled="true"
                        aria-disabled="true"
                      {{/if}}
                      {{!-- Disable `enclosedTop` when `openTop` is selected --}}
                      {{#if (cond "&&" (eq name "enclosedTop")
                                       ../../this.system.special.openTop.has
                            )
                      }}
                        class="disabled-special"
                        disabled="true"
                        aria-disabled="true"
                      {{/if}}

                      {{!-- Disable `openTop` when `enclosedTop` is selected --}}
                      {{#if (cond "&&" (eq name "openTop")
                                       ../../this.system.special.enclosedTop.has
                            )
                      }}
                        class="disabled-special"
                        disabled="true"
                        aria-disabled="true"
                      {{/if}}
                    />
                    <p
                      {{!-- Span 2 columns if no input is required --}}
                      {{#if (eq type "none")}}
                        style="grid-column: span 2"
                      {{/if}}

                      {{!-- Style as disabled if in doomed state --}}
                      {{#if (cond "&&"
                                  (eq name "heavyPlating")
                                  (lt ../../this.system.breakpoints.hull.value 1)
                            )
                      }}
                        class="disabled-special"
                      {{/if}}

                      {{!-- Disable `enclosedTop` when `openTop` is selected --}}
                      {{#if (cond "&&" (eq name "enclosedTop")
                                       ../../this.system.special.openTop.has
                            )
                      }}
                        class="disabled-special"
                        disabled="true"
                        aria-disabled="true"
                      {{/if}}

                      {{!-- Disable `openTop` when `enclosedTop` is selected --}}
                      {{#if (cond "&&" (eq name "openTop")
                                       ../../this.system.special.enclosedTop.has
                            )
                      }}
                        class="disabled-special"
                        disabled="true"
                        aria-disabled="true"
                      {{/if}}
                    >
                      {{localize (concat "mythic.vehicleSheet.special." name)}}
                    </p>
                    {{#unless (eq type "none")}}
                      <input
                        name="system.special.{{name}}.value"
                        {{#if (eq type "text")}}
                          type="text"
                        {{else if (eq type "number")}}
                          type="number" data-dtype="Number"
                        {{/if}}
                        value="{{this.value}}"
                        onfocus="this.select()"
                      />
                    {{/unless}}
                  </span>
                {{/with}}
              {{/each}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
