<div class="weapon-details">
  <p>{{localize "mythic.weaponSheet.stats.nickname"}}</p>
  <input name="system.nickname" type="text" value="{{system.nickname}}"/>
  <p>{{localize "mythic.weaponSheet.stats.type"}}</p>
  <input name="system.type" type="text" value="{{system.type}}"/>
  <p>{{localize "mythic.weaponSheet.stats.ammo"}}</p>
  <input name="system.ammo" type="text" value="{{system.ammo}}"/>
  <p>{{localize "mythic.weaponSheet.stats.ammoGroup"}}</p>
  <select name="system.ammoGroup">
    {{#select system.ammoGroup}}
      {{#each config.ammoGroups as |value key|}}
        <option value="{{key}}">{{localize value}}</option>
      {{/each}}
    {{/select}}
  </select>
  <p>{{localize "mythic.weaponSheet.stats.factionTraining"}}</p>
  <select name="system.trainings.faction">
    {{#select system.trainings.faction}}
      {{#each config.trainings.factions as |value key|}}
        <option value="{{key}}">{{localize value}}</option>
      {{/each}}
    {{/select}}
  </select>
  <p>{{localize "mythic.weaponSheet.stats.equipmentTraining"}}</p>
  <select name="system.trainings.equipment">
    {{#select system.trainings.equipment}}
      {{#each config.trainings.equipment as |value key|}}
        <option value="{{key}}">{{localize value}}</option>
      {{/each}}
    {{/select}}
  </select>
  <p>{{localize "mythic.weaponSheet.stats.price"}}</p>
  <input
    name="system.price.base"
    type="number"
    data-dtype="Number"
    value="{{system.price.base}}"
    onfocus="this.select()"
  />
  <p>{{localize "mythic.weaponSheet.stats.weight"}}</p>
  <input
    name="system.weight.each"
    type="number"
    data-dtype="Number"
    value="{{system.weight.each}}"
    onfocus="this.select()"
  />
</div>
<div class="weapon-core">
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.weaponSheet.tagsLabel"}}</th>
      </tr>
      <tbody>
        <tr>
          <td>
            {{#each system.tags as |has name|}}
              <div>
                <input
                  name="system.tags.{{name}}"
                  type="checkbox"
                  {{checked has}}
                />
                <p>{{name}}</p>
              </div>
            {{/each}}
          </td>
        </tr>
      </tbody>
    </thead>
  </table>
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.weaponSheet.fireMode.label"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{#each system.fireMode as |v mode|}}
            <div>
              <p>{{localize (concat "mythic.weaponSheet.fireMode." mode)}}</p>
              <input
                name="system.fireMode.{{mode}}"
                type="number"
                data-dtype="Number"
                value="{{v}}"
                onfocus="this.select()"
              />
            </div>
          {{/each}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<table>
  <thead>
    <tr>
      <th colspan="5">{{localize "mythic.weaponSheet.stats.label"}}</th>
    </tr>
    <tr>
      <th style="width:160px">{{localize "mythic.weaponSheet.groups"}}</th>
      <th width="105px">{{localize "mythic.weaponSheet.stats.damageRoll"}}</th>
      <th>{{localize "mythic.weaponSheet.stats.baseDamage"}}</th>
      {{#if (eq system.group "ranged")}}
        <th style="width:125px">
          <span>
            {{localize "mythic.weaponSheet.stats.magazine"}}
            &sol;
            {{localize "mythic.weaponSheet.stats.reload"}}
          </span>
        </th>
      {{/if}}
      <th>{{localize "mythic.weaponSheet.stats.attackBonus"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select name="system.group">
          {{#select system.group}}
            {{#each config.weaponGroups as |value key|}}
              <option value="{{key}}">{{localize value}}</option>
            {{/each}}
          {{/select}}
        </select>
      </td>
      <td>
        <span>
          <input
            style="width:30px"
            name="system.ammoList.STD.diceQuantity"
            type="number"
            data-dtype="Number"
            value="{{system.ammoList.STD.diceQuantity}}"
            onfocus="this.select()"
          />
          D
          <input
            style="width:30px"
            name="system.ammoList.STD.diceValue"
            type="number"
            data-dtype="Number"
            value="{{system.ammoList.STD.diceValue}}"
            onfocus="this.select()"
          />
        </span>
      </td>
      <td>
        {{#if (eq system.group "melee")}}
          <span>
            <input
              style="width:30px;"
              name="system.ammoList.STD.baseDamage"
              type="number"
              data-dtype="Number"
              value="{{system.ammoList.STD.baseDamage}}"
              onfocus="this.select()"
            />
            <b>&plus;</b>
            <select name="system.ammoList.STD.strDamage">
              {{#select system.ammoList.STD.strDamage}}
                <option value="0">--</option>
                <option value="0.5">&frac12; STR</option>
                <option value="1">STR</option>
                <option value="2">STR &times; 2</option>
              {{/select}}
            </select>
          </span>
        {{else}}
          <input
            name="system.ammoList.STD.baseDamage"
            type="number"
            data-dtype="Number"
            value="{{system.ammoList.STD.baseDamage}}"
            onfocus="this.select()"
          />
        {{/if}}
      </td>
      {{#if (eq system.group "ranged")}}
        <td>
          <span>
            <input
              style="width:60px"
              name="system.magazineCapacity"
              type="number"
              data-dtype="Number"
              value="{{system.magazineCapacity}}"
              onfocus="this.select()"
            />
            &sol;
            <input
              style="width:30px"
              name="system.reload.base"
              type="number"
              data-dtype="Number"
              value="{{system.reload.base}}"
              onfocus="this.select()"
            />
          </span>
        </td>
      {{/if}}
      <td>
        <input
          name="system.attack.attackBonus"
          type="number" data-dtype="Number"
          value="{{system.attack.attackBonus}}"
          onfocus="this.select()"
        />
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      {{#if (eq system.group "ranged")}}
        <th>{{localize "mythic.weaponSheet.stats.range"}}</th>
        <th>{{localize "mythic.weaponSheet.stats.critsOn"}}</th>
        <th>{{localize "mythic.weaponSheet.stats.piercing"}}</th>
        {{#if (cond "||" (eq (getSetting "ammoTracking") "ammoPool")
                         system.special.singleLoading.has)}}
          <th>{{localize "mythic.weaponSheet.stats.roundsCarried"}}</th>
        {{else}}
          <th>{{localize "mythic.weaponSheet.stats.magsCarried"}}</th>
        {{/if}}
        <th>{{localize "mythic.weaponSheet.stats.scopeMagnification"}}</th>
      {{else if (eq system.group "melee")}}
        <th colspan="2">{{localize "mythic.weaponSheet.stats.reachBonus"}}</th>
        <th>{{localize "mythic.weaponSheet.stats.piercing"}}</th>
        <th>{{localize "mythic.weaponSheet.stats.critsOn"}}</th>
      {{else if (eq system.group "thrown")}}
        <th colspan="2">{{localize "mythic.weaponSheet.stats.grip"}}</th>
        <th>{{localize "mythic.weaponSheet.stats.piercing"}}</th>
        <th>{{localize "mythic.weaponSheet.stats.critsOn"}}</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#if (eq system.group "ranged")}}
        <td>
          <span>
            <input
              style="width:50px"
              name="system.ammoList.STD.range.close"
              type="number"
              data-dtype="Number"
              value="{{system.ammoList.STD.range.close}}"
              onfocus="this.select()"
            />
            <b>&mdash;</b>
            <input
              style="width:65px"
              name="system.ammoList.STD.range.long"
              type="number"
              data-dtype="Number"
              value="{{system.ammoList.STD.range.long}}"
              onfocus="this.select()"
            />
            m
          </span>
        </td>
      {{else if (eq system.group "melee")}}
        <td colspan="2">
          <input
            name="system.ammoList.STD.range.close"
            type="number"
            data-dtype="Number"
            value="{{system.ammoList.STD.range.close}}"
          />
        </td>
      {{else if (eq system.group "thrown")}}
        <td colspan="2">
          <select name="system.ammoList.STD.range.grip">
            {{#select system.ammoList.STD.range.grip}}
              {{#each config.grips as |value key|}}
                <option value="{{key}}">{{localize value}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
      {{/if}}
      {{#if (eq system.group "ranged")}}
        <td>
          <input
            name="system.ammoList.STD.critsOn"
            type="number"
            data-dtype="Number"
            value="{{system.ammoList.STD.critsOn}}"
            onfocus="this.select()"
            />
        </td>
      {{/if}}
      <td>
        {{#if (eq system.group "melee")}}
          <span>
            <input
              style="width:30px"
              name="system.ammoList.STD.piercing"
              type="number"
              data-dtype="Number"
              value="{{system.ammoList.STD.piercing}}"
              onfocus="this.select()"
            />
            <b>&plus;</b>
            <select name="system.ammoList.STD.strPiercing">
              {{#select system.ammoList.STD.strPiercing}}
                <option value="0">--</option>
                <option value="0.5">&frac12; STR</option>
                <option value="1">STR</option>
              {{/select}}
            </select>
          </span>
        {{else if (eq system.group "thrown")}}
          <input
            name="system.ammoList.STD.piercing"
            type="number"
            data-dtype="Number"
            value="{{system.ammoList.STD.piercing}}"
            onfocus="this.select()"
          />
        {{else if (eq system.group "ranged")}}
          <input
            name="system.ammoList.STD.piercing"
            type="number"
            data-dtype="Number"
            value="{{system.ammoList.STD.piercing}}"
            onfocus="this.select()"
          />
        {{/if}}
      </td>
      {{#if (eq system.group "ranged")}}
        <td>
          {{#if (cond "||" (eq (getSetting "ammoTracking") "ammoPool")
                               ../this.system.special.singleLoading.has)}}
            <input
              name="system.ammoList.STD.ammoTracking.pool"
              type="number"
              data-dtype="Number"
              value="{{system.ammoList.STD.ammoTracking.pool}}"
            />
          {{else}}
            <input
              name="system.ammoList.STD.ammoTracking.mags"
              type="number"
              data-dtype="Number"
              value="{{system.ammoList.STD.ammoTracking.mags}}"
            />
          {{/if}}
        </td>
        <td>
          <input
            name="system.scopeMagnification"
            type="number"
            data-dtype="Number"
            value="{{system.scopeMagnification}}"
            onfocus="this.select()"
          />
        </td>
      {{else}}
        <td>
          <input
            name="system.ammoList.STD.critsOn"
            type="number"
            data-dtype="Number"
            value="{{system.ammoList.STD.critsOn}}"
            onfocus="this.select()"
          />
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>
<table class="special-rules">
  <thead>
    <tr>
      <th>{{localize "mythic.weaponSheet.specialRules.label"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{#each system.special as |details name|}}
          <span>
            <input
              name="system.special.{{name}}.has"
              type="checkbox"
              {{checked details.has}}
            />
            <p>{{localize (concat "mythic.weaponSheet.specialRules." name)}}</p>
            {{#if (cond "||" details.needsInput (eq name "electrified"))}}
              <input
                name="system.special.{{name}}.value"
                {{!-- TODO: Write a migration after the move to Foundry v10. --}}
                {{#if (cond "||" (eq name "flame") (eq name "cryo"))}}
                  type="text"
                {{else}}
                  type="number" data-dtype="Number"
                {{/if}}
                value="{{details.value}}"
                onfocus="this.select()"
              />
            {{/if}}
          </span>
        {{/each}}
      </td>
    </tr>
  </tbody>
</table>
