<div class="weapon-details">
  <p>{{localize "mythic.weaponSheet.stats.nickname"}}</p>
  <input name="data.nickname" type="text" value="{{data.data.nickname}}"/>
  <p>{{localize "mythic.weaponSheet.stats.type"}}</p>
  <input name="data.type" type="text" value="{{data.data.type}}"/>
  <p>{{localize "mythic.weaponSheet.stats.ammo"}}</p>
  <input name="data.ammo" type="text" value="{{data.data.ammo}}"/>
  <p>{{localize "mythic.weaponSheet.stats.price"}}</p>
  <input
    name="data.price.base"
    type="number"
    data-dtype="Number"
    value="{{data.data.price.base}}"
    onfocus="this.select()"
  />
  <p>{{localize "mythic.weaponSheet.stats.factionTraining"}}</p>
  <select name="data.trainings.faction">
    {{#select data.data.trainings.faction}}
      {{#each config.trainings.factions as |value key|}}
        <option value="{{key}}">{{localize value}}</option>
      {{/each}}
    {{/select}}
  </select>
  <p>{{localize "mythic.weaponSheet.stats.equipmentTraining"}}</p>
  <select name="data.trainings.equipment">
    {{#select data.data.trainings.equipment}}
      {{#each config.trainings.equipment as |value key|}}
        <option value="{{key}}">{{localize value}}</option>
      {{/each}}
    {{/select}}
  </select>
</div>
<div class="weapon-core">
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.weaponSheet.tagsLabel"}}</th>
      </tr>
      <tbody>
        <tr>
          <td>
            {{#each data.data.tags as |has name|}}
              <div>
                <input
                  name="data.tags.{{name}}"
                  type="checkbox"
                  {{checked has}}
                />
                <p>{{name}}</p>
              </div>
            {{/each}}
          </td>
        </tr>
      </tbody>
    </thead>
  </table>
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.weaponSheet.fireMode.label"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{#each data.data.fireMode as |v mode|}}
            <div>
              <p>{{localize (concat "mythic.weaponSheet.fireMode." mode)}}</p>
              <input
                name="data.fireMode.{{mode}}"
                type="number"
                data-dtype="Number"
                value="{{v}}"
                onfocus="this.select()"
              />
            </div>
          {{/each}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<table>
  <thead>
    <tr>
      <th colspan="5">{{localize "mythic.weaponSheet.stats.label"}}</th>
    </tr>
    <tr>
      <th>{{localize "mythic.weaponSheet.groups"}}</th>
      <th width="105px">{{localize "mythic.weaponSheet.stats.damageRoll"}}</th>
      <th>{{localize "mythic.weaponSheet.stats.baseDamage"}}</th>
      <th>{{localize "mythic.weaponSheet.stats.piercing"}}</th>
      <th>{{localize "mythic.weaponSheet.stats.attackBonus"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select name="data.group">
          {{#select data.data.group}}
            {{#each config.weaponGroups as |value key|}}
              <option value="{{key}}">{{localize value}}</option>
            {{/each}}
          {{/select}}
        </select>
      </td>
      <td>
        <span>
          <input
            style="width:30px"
            name="data.ammoList.STD.diceQuantity"
            type="number"
            data-dtype="Number"
            value="{{data.data.ammoList.STD.diceQuantity}}"
            onfocus="this.select()"
          />
          D
          <input
            style="width:30px"
            name="data.ammoList.STD.diceValue"
            type="number"
            data-dtype="Number"
            value="{{data.data.ammoList.STD.diceValue}}"
            onfocus="this.select()"
          />
        </span>
      </td>
      <td>
        {{#if (eq data.data.group "melee")}}
          <div class="melee-double">
            <input
              name="data.ammoList.STD.baseDamage"
              type="number"
              data-dtype="Number"
              value="{{data.data.ammoList.STD.baseDamage}}"
              onfocus="this.select()"
            />
            <p><b>&plus;</b></p>
            <select name="data.ammoList.STD.strDamage">
              {{#select data.data.ammoList.STD.strDamage}}
                <option value="0">--</option>
                <option value="0.5">&frac12; STR</option>
                <option value="1">STR</option>
                <option value="2">STR &times; 2</option>
              {{/select}}
            </select>
          </div>
        {{else}}
          <input
            name="data.ammoList.STD.baseDamage"
            type="number"
            data-dtype="Number"
            value="{{data.data.ammoList.STD.baseDamage}}"
            onfocus="this.select()"
          />
        {{/if}}
      </td>
      <td>
        {{#if (eq data.data.group "melee")}}
          <div class="melee-double">
            <input
              name="data.ammoList.STD.piercing"
              type="number"
              data-dtype="Number"
              value="{{data.data.ammoList.STD.piercing}}"
              onfocus="this.select()"
            />
            <p><b>&plus;</b></p>
            <select name="data.ammoList.STD.strPiercing">
              {{#select data.data.ammoList.STD.strPiercing}}
                <option value="0">--</option>
                <option value="0.5">&frac12; STR</option>
                <option value="1">STR</option>
              {{/select}}
            </select>
          </div>
        {{else}}
          <input
            name="data.ammoList.STD.piercing"
            type="number"
            data-dtype="Number"
            value="{{data.data.ammoList.STD.piercing}}"
            onfocus="this.select()"
          />
        {{/if}}
      </td>
      <td>
        <input
          name="data.attack.attackBonus"
          type="number" data-dtype="Number"
          value="{{data.data.attack.attackBonus}}"
          onfocus="this.select()"
        />
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      {{#if (eq data.data.group "ranged")}}
        <th>{{localize "mythic.weaponSheet.stats.range"}}</th>
        <th>{{localize "mythic.weaponSheet.stats.magazine"}}</th>
      {{else if (eq data.data.group "melee")}}
        <th colspan="2">{{localize "mythic.weaponSheet.stats.reachBonus"}}</th>
      {{else if (eq data.data.group "thrown")}}
        <th colspan="2">{{localize "mythic.weaponSheet.stats.grip"}}</th>
      {{/if}}
      <th>{{localize "mythic.weaponSheet.stats.baseReload"}}</th>
      <th>{{localize "mythic.weaponSheet.stats.critsOn"}}</th>
      <th>{{localize "mythic.weaponSheet.stats.weight"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#if (eq data.data.group "ranged")}}
        <td>
          <div class="range">
            <input
              name="data.ammoList.STD.range.close"
              type="number"
              data-dtype="Number"
              value="{{data.data.ammoList.STD.range.close}}"
              onfocus="this.select()"
            />
            <p><b>&mdash;</b></p>
            <input
              name="data.ammoList.STD.range.long"
              type="number"
              data-dtype="Number"
              value="{{data.data.ammoList.STD.range.long}}"
              onfocus="this.select()"
            />
            <p>m</p>
          </div>
        </td>
        <td>
          <input
            name="data.magazineCapacity"
            type="number"
            data-dtype="Number"
            value="{{data.data.magazineCapacity}}"
            onfocus="this.select()"
          />
        </td>
      {{else if (eq data.data.group "melee")}}
        <td colspan="2">
          <input
            name="data.ammoList.STD.range.close"
            type="number"
            data-dtype="Number"
            value="{{data.data.ammoList.STD.range.close}}"
          />
        </td>
      {{else if (eq data.data.group "thrown")}}
        <td colspan="2">
          <select name="data.ammoList.STD.range.grip">
            {{#select data.data.ammoList.STD.range.grip}}
              {{#each config.grips as |value key|}}
                <option value="{{key}}">{{localize value}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
      {{/if}}
      <td>
        <input
          name="data.reload.base"
          type="number"
          data-dtype="Number"
          value="{{data.data.reload.base}}"
          onfocus="this.select()"
        />
      </td>
      <td>
        <input
          name="data.ammoList.STD.critsOn"
          type="number"
          data-dtype="Number"
          value="{{data.data.ammoList.STD.critsOn}}"
          onfocus="this.select()"
          />
      </td>
      <td>
        <input
          name="data.weight.each"
          type="number"
          data-dtype="Number"
          value="{{data.data.weight.each}}"
          onfocus="this.select()"
        />
      </td>
    </tr>
  </tbody>
</table>
<table class="special-rules">
  <thead>
    <tr>
      <th>{{localize "mythic.weaponSheet.specialRules.label"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{#each data.data.special as |details name|}}
          <span>
            <input
              name="data.special.{{name}}.has"
              type="checkbox"
              {{checked details.has}}
            />
            <p>{{localize (concat "mythic.weaponSheet.specialRules." name)}}</p>
            {{#if (cond "||" details.needsInput (eq name "electrified"))}}
              <input
                name="data.special.{{name}}.value"
                {{!-- TODO: Write a migration after the move to Foundry v10. --}}
                {{#if (cond "||" (eq name "flame") (eq name "cryo"))}}
                  type="text"
                {{else}}
                  type="number" data-dtype="Number"
                {{/if}}
                value="{{details.value}}"
                onfocus="this.select()"
              />
            {{/if}}
          </span>
        {{/each}}
      </td>
    </tr>
  </tbody>
</table>
