<div class="weapon-settings">
  <h2>{{localize "mythic.weaponSheet.nav.settings"}}</h2>
  <span>
    {{localize "mythic.weaponSheet.settings.context.blurb"}}:&nbsp;
    <a href="{{localize "mythic.weaponSheet.settings.context.link"}}">
      {{localize "mythic.weaponSheet.settings.context.linkText"}}
    </a>
  </span>
  <div class="weapon-setting">
    <h4>{{localize "mythic.weaponSheet.settings.firearmType.field"}}</h4>
    <select name="system.settings.firearmType">
      {{#select system.settings.firearmType}}
        {{#each config.weaponSettings.firearmType as |value key|}}
          <option value="{{key}}">{{localize value}}</option>
        {{/each}}
      {{/select}}
    </select>
    <p>{{localize (concat "mythic.weaponSheet.settings.firearmTypeDescriptions." system.settings.firearmType)}}</p>
  </div>
  <div class="weapon-setting">
    <h4>{{localize "mythic.weaponSheet.settings.barrel.field"}}</h4>
    <select name="system.settings.barrel">
      {{#select system.settings.barrel}}
        {{#each config.weaponSettings.barrel as |value key|}}
          <option value="{{key}}">{{localize value}}</option>
        {{/each}}
      {{/select}}
    </select>
    <div class="weapon-setting-descriptions">
      {{#with system.settings.barrel}}
        <p>{{localize (concat "mythic.weaponSheet.settings.barrelLengths." this)}}</p>
        <p>{{localize (concat "mythic.weaponSheet.settings.barrelDescriptions." this)}}</p>
      {{/with}}
    </div>
  </div>
  <div class="weapon-setting">
    <h4>{{localize "mythic.weaponSheet.settings.bulletDiameter.field"}}</h4>
    <input
      name="system.settings.bulletDiameter"
      type="number"
      data-dtype="Number"
      value="{{system.settings.bulletDiameter}}"
      onfocus="this.select()"
    />
    <p>{{localize "mythic.weaponSheet.settings.bulletDiameter.description"}}</p>
  </div>
  <div class="weapon-setting">
    <h4>{{localize "mythic.weaponSheet.settings.caseLength.field"}}</h4>
    <input
      name="system.settings.caseLength"
      type="number"
      data-dtype="Number"
      value="{{system.settings.caseLength}}"
      onfocus="this.select()"
    />
    <p>{{localize "mythic.weaponSheet.settings.caseLength.description"}}</p>
  </div>
  <div class="weapon-setting">
    <h4>{{localize "mythic.weaponSheet.settings.singleUse.field"}}</h4>
    <input
      name="system.settings.singleUse"
      type="checkbox"
      {{checked system.settings.singleUse}}
    />
    <p>{{localize "mythic.weaponSheet.settings.singleUse.description"}}</p>
  </div>
</div>
