<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1 class="link-header">
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize "mythic.abilitySheet.name"}}"
      />
      <a class="postable-item-sheet">
        <i class="clickable fas fa-dice-d20"></i>
      </a>
    </h1>
  </header>
  <div class="sheet-content">
    <p>
      <input
        name="system.summary"
        type="text"
        value="{{system.summary}}"
        placeholder="{{localize "mythic.abilitySheet.summary"}}"
      />
    </p>
    <table>
      <thead>
        <tr>
          <th>{{localize "mythic.abilitySheet.prerequisite"}}</th>
          <th>{{localize "mythic.abilitySheet.cost"}}</th>
          <th>{{localize "mythic.abilitySheet.type"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              name="system.prerequisite"
              type="text"
              value="{{system.prerequisite}}"
              placeholder="{{localize "mythic.abilitySheet.prerequisite"}}"
            />
          </td>
          <td>
            <input
              name="system.cost"
              type="number"
              value="{{system.cost}}"
              data-dtype="Number"
              placeholder="{{localize "mythic.abilitySheet.cost"}}"
              onfocus="this.select()"
            />
          </td>
          <td>
            <select name="system.type">
              {{#select system.type}}
                {{#each config.abilityTypes as |value key|}}
                  <option value="{{key}}">{{localize value}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    {{editor system.description target="system.description" button=true owner=owner editable=this.options.editable}}
  </div>
</form>
