<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1 class="link-header">
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize "mythic.armorSheet.name"}}"
      />
      <a class="postable-item-sheet">
        <i class="clickable fas fa-dice-d20"></i>
      </a>
    </h1>
  </header>
  <nav class="item-tabs tabs" data-group="primary">
    <a class="item" data-tab="basic">
      {{localize "mythic.armorSheet.nav.basic"}}
    </a>
    <a class="item" data-tab="details">
      {{localize "mythic.armorSheet.nav.details"}}
    </a>
    <a class="item" data-tab="variant">
      {{localize "mythic.armorSheet.nav.variant"}}
    </a>
    <a class="item" data-tab="mods">
      {{localize "mythic.armorSheet.nav.mods"}}
    </a>
    <a class="item" data-tab="notes">
      {{localize "mythic.armorSheet.nav.notes"}}
    </a>
  </nav>
  <section class="item-sheet-body">
    {{!-- Basic Info Page --}}
    <div class="tab" data-group="primary" data-tab="basic">
      {{> "systems/mythic/templates/partials/armor-sheet-info.hbs"}}
    </div>

    {{!-- Armor Details Page --}}
    <div class="tab" data-group="primary" data-tab="details">
      {{> "systems/mythic/templates/partials/editor.hbs" content=system.notes.armor target="system.notes.armor" link="armorSheet.notes.armor"}}
    </div>

    {{!-- Variant Page --}}
    <div class="tab" data-group="primary" data-tab="variant">
      {{> "systems/mythic/templates/partials/editor.hbs" content=system.notes.variant target="system.notes.variant" link="armorSheet.notes.variant"}}
    </div>

    {{!-- Modifications Page --}}
    <div class="tab" data-group="primary" data-tab="mods">
      <table>
        <thead>
          <tr>
            <th colspan="6">{{localize "mythic.armorSheet.hardpoints"}}</th>
          </tr>
          <tr>
            <th>{{localize "mythic.armorSheet.locations.head"}}</th>
            <th>{{localize "mythic.armorSheet.locations.chest"}}</th>
            <th>{{localize "mythic.armorSheet.locations.leftArm"}}</th>
            <th>{{localize "mythic.armorSheet.locations.rightArm"}}</th>
            <th>{{localize "mythic.armorSheet.locations.leftLeg"}}</th>
            <th>{{localize "mythic.armorSheet.locations.rightLeg"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>
                <input
                  style="width:40px"
                  name="system.hardpoints.head"
                  type="number"
                  data-dtype="Number"
                  value="{{system.hardpoints.head}}"
                  onfocus="this.select()"
                >&nbsp;/&nbsp;{{localnum config.armorHardpoints.head}}
              </span>
            </td>
            <td>
              <span>
                <input
                  style="width:40px"
                  name="system.hardpoints.chest"
                  type="number"
                  data-dtype="Number"
                  value="{{system.hardpoints.chest}}"
                  onfocus="this.select()"
                >&nbsp;/&nbsp;{{localnum config.armorHardpoints.chest}}
              </span>
            </td>
            <td>
              <span>
                <input
                  style="width:40px"
                  name="system.hardpoints.leftArm"
                  type="number"
                  data-dtype="Number"
                  value="{{system.hardpoints.leftArm}}"
                  onfocus="this.select()"
                >&nbsp;/&nbsp;{{localnum config.armorHardpoints.arm}}
              </span>
            </td>
            <td>
              <span>
                <input
                  style="width:40px"
                  name="system.hardpoints.rightArm"
                  type="number"
                  data-dtype="Number"
                  value="{{system.hardpoints.rightArm}}"
                  onfocus="this.select()"
                >&nbsp;/&nbsp;{{localnum config.armorHardpoints.arm}}
              </span>
            </td>
            <td>
              <span>
                <input
                  style="width:40px"
                  name="system.hardpoints.leftLeg"
                  type="number"
                  data-dtype="Number"
                  value="{{system.hardpoints.leftLeg}}"
                  onfocus="this.select()"
                >&nbsp;/&nbsp;{{localnum config.armorHardpoints.leg}}
              </span>
            </td>
            <td>
              <span>
                <input
                  style="width:40px"
                  name="system.hardpoints.rightLeg"
                  type="number"
                  data-dtype="Number"
                  value="{{system.hardpoints.rightLeg}}"
                  onfocus="this.select()"
                >&nbsp;/&nbsp;{{localnum config.armorHardpoints.leg}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="sheet-content">
        {{editor system.notes.permutations target="system.notes.permutations" button=true owner=owner editable=this.options.editable}}
      </div>
    </div>

    {{!-- Notes Page --}}
    <div class="tab" data-group="primary" data-tab="notes">
      {{> "systems/mythic/templates/partials/editor.hbs" content=system.notes.other target="system.notes.other" link="armorSheet.notes.other"}}
    </div>
  </section>
</form>
