<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1 class="link-header">
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize "mythic.educationSheet.name"}}"
      />
      <a class="postable-item-sheet">
        <i class="clickable fas fa-dice-d20"></i>
      </a>
    </h1>
  </header>
  <div class="sheet-content">
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "mythic.educationSheet.details"}}</th>
          <th colspan="2">{{localize "mythic.educationSheet.cost"}}</th>
        </tr>
        <tr>
          <th>{{localize "mythic.educationSheet.difficulty"}}</th>
          <th>{{localize "mythic.educationSheet.type"}}</th>
          <th>+5</th>
          <th>+10</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select name="system.difficulty">
              {{#select system.difficulty}}
                {{#each config.skillDifficulty as |name diff|}}
                  <option value="{{diff}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
          <td>
            <select name="system.type">
              {{#select system.type}}
                {{#each config.educationType as |name type|}}
                  <option value="{{type}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
          <td>
            <input
              name="system.cost.plus5"
              type="text"
              value="{{system.cost.plus5}}"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              name="system.cost.plus10"
              type="text"
              value="{{system.cost.plus10}}"
              onfocus="this.select()"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <table class="skill-list">
      <thead>
        <tr>
          <th>{{localize "mythic.educationSheet.skills"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{#each system.skills as |has key|}}
              <div>
                <input
                  name="system.skills.{{key}}"
                  type="checkbox"
                  {{checked has}}
                />
                <p>{{localize (concat "mythic.skillNames." key)}}</p>
              </div>
            {{/each}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
