<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1 class="link-header">
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize "mythic.weaponSheet.name"}}"
      />
      <a class="postable-item-sheet">
        <i class="clickable fas fa-dice-d20"></i>
      </a>
    </h1>
  </header>
  <nav class="item-tabs tabs" data-group="primary">
    <a class="item" data-tab="basic">
      {{localize "mythic.weaponSheet.nav.basic"}}
    </a>
    <a class="item" data-tab="ammo">
      {{localize "mythic.weaponSheet.nav.ammo"}}
    </a>
    <a class="item" data-tab="mods">
      {{localize "mythic.weaponSheet.nav.mods"}}
    </a>
    <a class="item" data-tab="notes">
      {{localize "mythic.weaponSheet.nav.notes"}}
    </a>
    <a class="item" data-tab="settings">
      {{localize "mythic.weaponSheet.nav.settings"}}
    </a>
  </nav>
  <section class="item-sheet-body">
    {{!-- Basic Info Page --}}
    <div class="tab" data-group="primary" data-tab="basic">
      {{> "systems/mythic/templates/partials/weapon-sheet-info.hbs"}}
    </div>

    {{!-- Special Ammo Page --}}
    <div class="tab" data-group="primary" data-tab="ammo">
      <p><b>Coming soon!</b></p>
    </div>

    {{!-- Modifications Page --}}
    <div class="tab" data-group="primary" data-tab="mods">
      <p><b>Coming soon!</b></p>
    </div>

    {{!-- Notes Page --}}
    <div class="tab" data-group="primary" data-tab="notes">
      {{> "systems/mythic/templates/partials/editor.hbs" content=system.description target="system.description" link="weaponSheet.nav.notes"}}
    </div>

    {{!-- Settings Page --}}
    <div class="tab" data-group="primary" data-tab="settings">
      {{> "systems/mythic/templates/partials/weapon-sheet-settings.hbs"}}
    </div>
  </section>
</form>
