<div class="post-attack">
  <h1 class="post-header">
    <img alt="{{this.name}}" src="{{this.img}}"/>
    {{this.name}}
  </h1>
  {{#each this.attacks as |attack|}}
    <div>
      <h3>{{localize "mythic.chat.attack.title"}} {{attack.attackNumber}}</h3>
      <p>
        <b style="color:{{attack.color}}">[[{{attack.roll}}]]</b><b> vs {{../this.target}}:</b>
        {{#if attack.critical}}
          Critical {{attack.outcome}}!
        {{else}}
          {{attack.degrees}} degrees of {{attack.outcome}}!
        {{/if}}
      </p>
      {{#if (cond "||" (eq attack.outcome "success") attack.damageRoll)}}
        <div class="damage-block">
          {{#times attack.damages}}
            <p>
              [[{{attack.damageRoll}}]] P{{attack.piercing}}
              {{#unless attack.apply}}
                : {{attack.location}}
              {{else}}
                {{#if (eq attack.outcome "failure")}}
                  :
                  <span 
                    class="scatter"
                    data-wfm="{{../../this.wfm}}"
                    data-dof="{{attack.degrees}}"
                    {{#if (eq ../../this.weaponData.group "thrown")}}
                      data-range="{{../../this.weaponData.range.thrown}}"
                    {{else}}
                      data-range="{{../../this.weaponData.range.long}}"
                    {{/if}}
                  >
                    {{localize "mythic.chat.scatter.title"}}!
                  </span>
                {{/if}}
              {{/unless}}
            </p>
          {{/times}}
        </div>
      {{/if}}
    </div>
  {{/each}}
  <aside class="special">
    <span class="special-damage">
      {{#if weaponData.special.flame.has}}
        <p><b>{{localize "mythic.weaponSheet.specialRules.flame"}}:</b> [[{{weaponData.special.flame.value}}]]</p>
      {{/if}}
      {{#if weaponData.special.needle.has}}
        <p><b>{{localize "mythic.weaponSheet.specialRules.needle"}}:</b> [[{{weaponData.special.needle.value}}D5]]</p>
      {{/if}}
    </span>
    {{#each weaponData.special as |special name|}}
      {{#if special.has}}
        <span class="special-rule">
          {{localize (concat "mythic.weaponSheet.specialRules." name)}}
          {{#if special.value}} ({{special.value}}) {{/if}}
        </span>
      {{/if}}
    {{/each}}
  </aside>
</div>
