<div class="post-attack">
  <h1 class="post-header">
    <img alt="{{this.name}}" src="{{this.img}}"/>
    {{this.name}}
  </h1>
  {{#each this.attacks as |attack|}}
    <div>
      <span class="outcome">
        <p><b>{{attack.attackNumber}}</b></p>
        <p><b>&vert;&vert;</b></p>
        <p>
          <b style="color:{{attack.color}}">{{{attack.roll}}}</b>
          <b>vs&nbsp;{{../this.target}}:&nbsp;
          </b>
          {{#if attack.critical}}
            Critical&nbsp;{{attack.outcome}}!
          {{else}}
            &nbsp;{{attack.degrees}}&nbsp;degrees&nbsp;of&nbsp;{{attack.outcome}}!
          {{/if}}
        </p>
      </span>
      {{#if (cond "||" (eq attack.outcome "success") attack.damageRoll)}}
        <div class="damage-block">
          {{#times attack.damages}}
            <p>
              <i class="fas fa-long-arrow-alt-right"></i>
              {{{attack.damageRoll}}}&nbsp;{{localize "mythic.chat.attack.pierce"}}&nbsp;{{attack.piercing}}
              {{#unless attack.apply}}
                :&nbsp;{{attack.location}}
              {{else}}
                {{#if (eq attack.outcome "failure")}}
                  :&nbsp;
                  <span
                    class="chat-link scatter"
                    data-scatter="{{attack.scatter}}"
                  >
                    {{localize "mythic.chat.scatter.title"}}!
                  </span>
                {{/if}}
              {{/unless}}
              {{#if attack.doesSpecialDamage}}
                <i
                  class="fas fa-bullseye"
                  title="{{localize "mythic.chat.attack.specialDamage"}}"
                ></i>
              {{/if}}
            </p>
          {{/times}}
        </div>
      {{/if}}
    </div>
  {{/each}}
  <aside class="special">
    <span class="special-damage">
      {{#each this.specials as |formula name|}}
        <p>
          <span
            class="special-rule-dmg"
            data-rule="{{name}}"
            data-actor_id="{{../this.actorId}}"
            {{#with (lookup ../this.weaponData.ammoList ../this.weaponData.currentAmmo)}}
              {{#with (lookup this.special name)}}
                data-formula="{{this.value}}"
              {{/with}}
            {{/with}}
          >
            <b class="chat-link">
              {{localize (concat "mythic.weaponSheet.specialRules." name)}}
            </b>
          </span>
          :&nbsp;[[{{formula}}]]
        </p>
      {{/each}}
    </span>
    {{#each weaponData.special as |special name|}}
      {{#if special.has}}
        <span class="special-rule">
          {{localize (concat "mythic.weaponSheet.specialRules." name)}}
          {{#unless (eq name "cauterize")}}
            {{#if special.value}}&nbsp;({{special.value}}){{/if}}
          {{/unless}}
        </span>
      {{/if}}
    {{/each}}
  </aside>
</div>
