<div class="post-attack">
  <h1 class="post-header">
    <img alt="{{this.name}}" src="{{this.img}}"/>
    {{this.name}}
  </h1>
  {{#each this.attacks as |attack|}}
    <div>
      <span class="outcome">
        <p><b>{{attack.attackNumber}}</b></p>
        <p><b>&vert;&vert;</b></p>
        <p>
          <b style="color:{{attack.color}}">[[{{attack.roll}}]]</b><b>&nbsp;vs&nbsp;{{../this.target}}:&nbsp;</b>
          {{#if attack.critical}}
            Critical&nbsp;{{attack.outcome}}!
          {{else}}
            &nbsp;{{attack.degrees}}&nbsp;degrees&nbsp;of&nbsp;{{attack.outcome}}!
          {{/if}}
        </p>
      </span>
      {{#if (cond "||" (eq attack.outcome "success") attack.damageRoll)}}
        <div class="damage-block">
          {{#times attack.damages}}
            <p>
              <i class="fas fa-bullseye"></i>
              [[{{attack.damageRoll}}]]&nbsp;P{{attack.piercing}}
              {{#unless attack.apply}}
                :&nbsp;{{attack.location}}
              {{else}}
                {{#if (eq attack.outcome "failure")}}
                  :&nbsp;
                  <span 
                    class="scatter"
                    data-wfm="{{../../this.wfm}}"
                    data-dof="{{attack.degrees}}"
                    {{#if (eq ../../this.weaponData.group "thrown")}}
                      data-range="{{../../this.weaponData.range.thrown}}"
                    {{else}}
                      data-range="{{../../this.weaponData.range.long}}"
                    {{/if}}
                  >
                    {{localize "mythic.chat.scatter.title"}}!
                  </span>
                {{/if}}
              {{/unless}}
            </p>
          {{/times}}
        </div>
      {{/if}}
    </div>
  {{/each}}
  <aside class="special">
    <span class="special-damage">
      {{#if weaponData.special.flame.has}}
        <p><b>{{localize "mythic.weaponSheet.specialRules.flame"}}:</b>&nbsp;[[{{weaponData.special.flame.value}}]]</p>
      {{/if}}
      {{#if weaponData.special.needle.has}}
        <p><b>{{localize "mythic.weaponSheet.specialRules.needle"}}:</b>&nbsp;[[{{weaponData.special.needle.value}}D5]]</p>
      {{/if}}
    </span>
    {{#each weaponData.special as |special name|}}
      {{#if special.has}}
        <span class="special-rule">
          {{localize (concat "mythic.weaponSheet.specialRules." name)}}
          {{#if special.value}}&nbsp;({{special.value}}) {{/if}}
        </span>
      {{/if}}
    {{/each}}
  </aside>
</div>
