<div>
  <h1 class="post-header">
    <img alt="{{this.name}}" src="{{this.img}}"/>
    {{this.name}}
  </h1>
  {{#if this.system.weight.selfSupported}}
    <p><b>{{localize "mythic.armorSheet.details.chatSelfSupported"}}</b></p>
  {{/if}}
  <table>
    <tbody>
      <tr>
        <td>
          {{localize "mythic.armorSheet.details.weight"}}
          :&nbsp;
          {{this.system.weight.total}}
        </td>
        <td>
          {{localize "mythic.armorSheet.details.price"}}
          :&nbsp;
          {{this.system.price.total}}
        </td>
      </tr>
      <tr>
        <td>
          {{localize "mythic.armorSheet.details.size"}}
          :&nbsp;
          {{localize (concat "mythic.sizes." this.system.size)}}
        </td>
        <td>
          {{localize "mythic.armorSheet.details.training"}}
          :&nbsp;
          {{localize (concat "mythic.trainings.factions." this.system.trainings.faction)}}
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="3">{{localize "mythic.armorSheet.locations.label"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{localize "mythic.armorSheet.locations.head"}}
          :&nbsp;
          {{this.system.protection.head.total}}
        </td>
        <td>
          {{localize "mythic.armorSheet.locations.leftArm"}}
          :&nbsp;
          {{this.system.protection.leftArm.total}}
        </td>
        <td>
          {{localize "mythic.armorSheet.locations.leftLeg"}}
          :&nbsp;
          {{this.system.protection.leftLeg.total}}
        </td>
      </tr>
      <tr>
        <td>
          {{localize "mythic.armorSheet.locations.chest"}}
          :&nbsp;
          {{this.system.protection.chest.total}}
        </td>
        <td>
          {{localize "mythic.armorSheet.locations.rightArm"}}
          :&nbsp;
          {{this.system.protection.rightArm.total}}
        </td>
        <td>
          {{localize "mythic.armorSheet.locations.rightLeg"}}
          :&nbsp;
          {{this.system.protection.rightLeg.total}}
        </td>
      </tr>
    </tbody>
  </table>
  {{#if this.system.shields.has}}
    <table>
      <thead>
        <tr>
          <th colspan="3">{{localize "mythic.armorSheet.shields.label"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{localize "mythic.armorSheet.shields.integrity"}}
            :&nbsp;
            {{this.system.shields.integrity.total}}
          </td>
          <td>
            {{localize "mythic.armorSheet.shields.recharge"}}
            :&nbsp;
            {{this.system.shields.recharge.total}}
          </td>
          <td>
            {{localize "mythic.armorSheet.shields.delay"}}
            :&nbsp;
            {{this.system.shields.delay.total}}
          </td>
        </tr>
      </tbody>
    </table>
  {{/if}}
  {{#if this.system.characteristics.has}}
    <table>
      <thead>
        <tr>
          <th colspan="4">{{localize "mythic.armorSheet.characteristics"}}</th>
        </tr>
        <tr>
          <th>STR</th>
          <th>AGI</th>
          <th>{{localize "mythic.armorSheet.mythic"}}&nbsp;STR</th>
          <th>{{localize "mythic.armorSheet.mythic"}}&nbsp;AGI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{this.system.characteristics.str.total}}</td>
          <td>{{this.system.characteristics.agi.total}}</td>
          <td>{{this.system.characteristics.mythicStr.total}}</td>
          <td>{{this.system.characteristics.mythicAgi.total}}</td>
        </tr>
      </tbody>
    </table>
  {{/if}}
  {{{this.system.notes.armor}}}
</div>
