<div>
  <h1 class="post-header">
    <img alt="{{this.name}}" src="{{this.img}}"/>
    {{this.name}}
  </h1>
  <div>
    {{#each this.system.tags as |tag name|}}
      {{#if tag}}
        <span style="padding: 0px 2px">{{name}}</span>
      {{/if}}
    {{/each}}
  </div>
  <table>
    <tbody>
      <tr>
        <td>
          {{localize "mythic.weaponSheet.stats.price"}}
          :&nbsp;
          {{this.system.price.total}}
        </td>
        <td>
          {{localize "mythic.weaponSheet.stats.weight"}}
          :&nbsp;
          {{this.system.weight.each}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="weapon-split">
    {{#with (lookup this.system.ammoList this.system.currentAmmo)}}
      <div>
        {{this.diceQuantity}}D{{this.diceValue}}&plus;{{this.baseDamage}}
        &nbsp;{{localize "mythic.weaponSheet.stats.piercing"}}
        &nbsp;{{this.piercing}}
      </div>
      <div>
        {{#if (eq ../this.system.group "ranged")}}
          {{localize "mythic.weaponSheet.stats.range"}}:&nbsp;
          {{localnum this.range.close}}
          &nbsp;&ndash;&nbsp;
          {{localnum this.range.long}}&nbsp;m
        {{else if (eq ../this.system.group "melee")}}
          {{localize "mythic.weaponSheet.stats.reach"}}:&nbsp;
          {{this.range.melee}}&nbsp;m
        {{else if (eq ../this.system.group "thrown")}}
          {{localize "mythic.weaponSheet.stats.range"}}:&nbsp;
          {{this.range.thrown}}&nbsp;m
        {{/if}}
      </div>
    {{/with}}
  </div>
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.weaponSheet.groups"}}</th>
        <th>{{localize "mythic.weaponSheet.stats.ammoGroup"}}</th>
      </tr>
      <tbody>
        <tr>
          <td>{{localize (concat "mythic.weaponGroups." this.system.group)}}</td>
          <td>{{localize (concat "mythic.ammoGroups." this.system.ammoGroup)}}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>{{localize "mythic.weaponSheet.stats.factionTraining"}}</th>
          <th>{{localize "mythic.weaponSheet.stats.equipmentTraining"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{localize (concat "mythic.trainings.factions." this.system.trainings.faction)}}</td>
        <td>{{localize (concat "mythic.trainings.equipment." this.system.trainings.equipment)}}</td>
      </tr>
    </tbody>
  </table>
  {{#if (eq this.system.group "ranged")}}
    {{#with (lookup this.system.ammoList this.system.currentAmmo)}}
      <div class="weapon-split">
        <div>
          {{localize "mythic.weaponSheet.stats.magazine"}}:&nbsp;
          {{localnum this.currentMag}}
          &nbsp;/&nbsp;
          {{localnum ../this.system.magazineCapacity}}
        </div>
        <div>
          {{#if (cond "||" (eq (getSetting "ammoTracking") "ammoPool")
                               this.special.singleLoading.has)}}
            {{localize "mythic.weaponSheet.stats.roundsCarried"}}:&nbsp;
            {{this.ammoTracking.pool}}
          {{else}}
            {{localize "mythic.weaponSheet.stats.magsCarried"}}:&nbsp;
            {{this.ammoTracking.mags}}
          {{/if}}
        </div>
      </div>
      <div class="fire-modes">
        {{#each ../this.system.fireMode as |fireMode name|}}
          {{#if fireMode}}
            <p
              {{#if (contains ../../this.system.attack.fireMode name)}}
                style="font-weight: bold"
              {{/if}}
            >
              {{localize (concat "mythic.weaponSheet.fireMode." name)}}
              &nbsp;({{fireMode}})
            </p>
          {{/if}}
        {{/each}}
      </div>
    {{/with}}
  {{/if}}
  <aside class="special">
    {{#with (lookup this.system.ammoList this.system.currentAmmo)}}
      {{#each this.special as |special name|}}
        {{#if special.has}}
          <span class="special-rule">
            {{localize (concat "mythic.weaponSheet.specialRules." name)}}
            {{#if special.value}}&nbsp;({{special.value}}){{/if}}
          </span>
        {{/if}}
      {{/each}}
    {{/with}}
  </aside>
  {{{this.system.description}}}
</div>
