<div>
  <h1 class="post-header">
    <img alt="{{this.name}}" src="{{this.img}}"/>
    {{this.name}}
  </h1>
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.abilitySheet.type"}}</th>
        <th>{{localize "mythic.abilitySheet.cost"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{localize (concat "mythic.characterTalents.abilities.type." this.system.type)}}</td>
        <td>{{localnum this.system.cost}}</td>
      </tr>
    </tbody>
  </table>
  <p>
    <b>{{localize "mythic.abilitySheet.prerequisite"}}:</b>
    &nbsp;
    {{this.system.prerequisite}}
  </p>
  {{{this.system.description}}}
</div>
