<form class="scatter-dialog">
  <div class="form-group">
    <label>{{localize "mythic.chat.options.dof"}}</label>
    <input 
      type="number" name="dof" 
      {{#if this.dof}}
        value="{{this.dof}}" disabled="true"
      {{else}}
        value="0"
      {{/if}}
    />
  </div>
  <div class="form-group">
    <label>{{localize "mythic.chat.options.distance"}}</label>
    <input type="number" name="distance" value="0"/>
  </div>
  <div class="form-group">
    <label>{{localize "mythic.chat.options.isZeroG"}}</label>
    <input type="checkbox" name="isZeroG"/>
  </div>
</form>