<div>
  <p>
    <b style="color:{{this.color}}">
      [[{{this.roll}}]]</b><b>&nbsp;vs&nbsp;{{this.target}}:&nbsp;
    </b>
    {{#if this.critical}}
      Critical&nbsp;{{this.outcome}}!
    {{else}}
      {{this.degrees}}&nbsp;degrees&nbsp;of&nbsp;{{this.outcome}}!
    {{/if}}
  </p>
</div>
