<div>
  <p>
    <b style="color:{{this.color}}">[[{{this.roll}}]]</b><b> vs {{this.target}}:</b>
    {{#if this.critical}}
      Critical {{this.outcome}}!
    {{else}}
      {{this.degrees}} degrees of {{this.outcome}}!
    {{/if}}
  </p>
</div>