<div>
  <p>
    <b>[[{{this.roll}}]] vs {{this.target}}:</b>
    {{#if this.critical}}
      Critical {{this.outcome}}!
    {{else}}
      {{this.degrees}} degrees of {{this.outcome}}!
    {{/if}}
  </p>
</div>