<table class="abilities-table">
  <thead>
    <tr>
      <th colspan="3">
        <div class="add-item-header">
          {{localize "mythic.characterTalents.abilities.labels.abilities"}}
          <a
            class="item-create"
            data-item-type="ability"
            data-item-subtype="ability"
          >
            <i class="clickable fa-solid fa-plus"></i>
          </a>
        </div>
      </th>
    </tr>
    <tr>
      <th>{{localize "mythic.characterTalents.abilities.name"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.summary"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.cost"}}</th>
    </tr>
  </thead>
  <tbody class="item-list">
    {{#each abilities as |ability _|}}
      {{> "systems/mythic/templates/partials/character-sheet-ability.hbs" ability}}
    {{else}}
      <tr>
        <td colspan="3">
          {{localize "mythic.characterTalents.abilities.empty.ability"}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <thead>
    <tr>
      <th colspan="3">
        <div class="add-item-header">
          {{localize "mythic.characterTalents.abilities.labels.racials"}}
          <a
            class="item-create"
            data-item-type="ability"
            data-item-subtype="racial"
          >
            <i class="clickable fa-solid fa-plus"></i>
          </a>
        </div>
      </th>
    </tr>
    <tr>
      <th>{{localize "mythic.characterTalents.abilities.name"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.summary"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.cost"}}</th>
    </tr>
  </thead>
  <tbody class="item-list">
    {{#each racials as |racial _|}}
      {{> "systems/mythic/templates/partials/character-sheet-ability.hbs" racial}}
    {{else}}
      <tr>
        <td colspan="3">
          {{localize "mythic.characterTalents.abilities.empty.racial"}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <thead>
    <tr>
      <th colspan="3">
        <div class="add-item-header">
          {{localize "mythic.characterTalents.abilities.labels.traits"}}
          <a
            class="item-create"
            data-item-type="ability"
            data-item-subtype="trait"
          >
            <i class="clickable fa-solid fa-plus"></i>
          </a>
        </div>
      </th>
    </tr>
    <tr>
      <th>{{localize "mythic.characterTalents.abilities.name"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.summary"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.cost"}}</th>
    </tr>
  </thead>
  <tbody class="item-list">
    {{#each traits as |trait _|}}
      {{> "systems/mythic/templates/partials/character-sheet-ability.hbs" trait}}
    {{else}}
      <tr>
        <td colspan="3">
          {{localize "mythic.characterTalents.abilities.empty.trait"}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <thead>
    <tr>
      <th colspan="3">
        <div class="add-item-header">
          {{localize "mythic.characterTalents.abilities.labels.augmentations"}}
          <a
            class="item-create"
            data-item-type="ability"
            data-item-subtype="augmentation"
          >
            <i class="clickable fa-solid fa-plus"></i>
          </a>
        </div>
      </th>
    </tr>
    <tr>
      <th>{{localize "mythic.characterTalents.abilities.name"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.summary"}}</th>
      <th>{{localize "mythic.characterTalents.abilities.cost"}}</th>
    </tr>
  </thead>
  <tbody class="item-list">
    {{#each augmentations as |augmentation _|}}
      {{> "systems/mythic/templates/partials/character-sheet-ability.hbs" augmentation}}
    {{else}}
      <tr>
        <td colspan="3">
          {{localize "mythic.characterTalents.abilities.empty.augmentation"}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<textarea
  name="system.abilityNotes"
  placeholder="{{localize "mythic.characterTalents.abilities.notes"}}"
>{{system.abilityNotes}}</textarea>
