<div class="character-details">
  <img
    src="{{actor.img}}"
    data-edit="img"
    title="{{system.rank}}&nbsp;{{actor.name}}"
  />
  <div class="basic-info">
    <div class="identity">
      <h1 id="rank">
        <input
          name="system.rank"
          type="text"
          value="{{system.rank}}"
          placeholder="{{localize "mythic.characterDetails.rank"}}"
          onfocus="this.select()"
        />
      </h1>
      <h1 id="name">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize "mythic.characterDetails.name"}}"
          onfocus="this.select()"
        />
      </h1>
      <h1 id="faction">
        <input
          name="system.faction"
          type="text"
          value="{{system.faction}}"
          placeholder="{{localize "mythic.characterDetails.faction"}}"
          onfocus="this.select()"
        />
      </h1>
    </div>
    <div class="background">
      <p>
        <input
          name="system.soldierType"
          type="text"
          value="{{system.soldierType}}"
          placeholder="{{localize "mythic.characterDetails.soldierType"}}"
          onfocus="this.select()"
        />
      </p>
      <p>
        <input
          name="system.race"
          type="text"
          value="{{system.race}}"
          placeholder="{{localize "mythic.characterDetails.race"}}"
          onfocus="this.select()"
        />
      </p>
      <p>
        <input
          name="system.specialization"
          type="text"
          value="{{system.specialization}}"
          placeholder="{{localize "mythic.characterDetails.specialization"}}"
          onfocus="this.select()"
        />
      </p>
      <p>
        <input
          name="system.upbringing"
          type="text"
          value="{{system.upbringing}}"
          placeholder="{{localize "mythic.characterDetails.upbringing"}}"
          onfocus="this.select()"
        />
      </p>
      <p>
        <input
          name="system.environment"
          type="text"
          value="{{system.environment}}"
          placeholder="{{localize "mythic.characterDetails.environment"}}"
          onfocus="this.select()"
        />
      </p>
      <p>
        <input
          name="system.lifestyle"
          type="text"
          value="{{system.lifestyle}}"
          placeholder="{{localize "mythic.characterDetails.lifestyle"}}"
          onfocus="this.select()"
        />
      </p>
    </div>
    <div class="physical">
      <select name="system.size">
        {{selectOptions config.size selected=system.size localize=true}}
      </select>
      <p>
        <input
          name="system.height"
          type="number"
          data-dtype="Number"
          value="{{system.height}}"
          placeholder="{{localize "mythic.characterDetails.height"}}"
          onfocus="this.select()"
        />
      </p>
      <p>
        <input
          name="system.weight"
          type="number"
          data-dtype="Number"
          value="{{system.weight}}"
          placeholder="{{localize "mythic.characterDetails.weight"}}"
          onfocus="this.select()"
        />
      </p>
      {{#if (eq actor.type "Named Character")}}
        <p>
          <input
            name="system.age"
            type="number"
            value="{{system.age}}"
            placeholder="{{localize "mythic.characterDetails.age"}}"
            onfocus="this.select()"
          />
        </p>
        <p>
          <input
            name="system.gender"
            type="text"
            value="{{system.gender}}"
            placeholder="{{localize "mythic.characterDetails.gender"}}"
            onfocus="this.select()"
          />
        </p>
      {{else}}
        <select name="system.difficulty.tier">
          {{#if system.difficulty.normalOnly}}
            <option value="1" selected>{{localize "mythic.difficulty.normal"}}</option>
           {{else}}
            {{selectOptions config.difficulty selected=system.difficulty.tier localize=true}}
           {{/if}}
        </select>
      {{/if}}
    </div>
  </div>
</div>
