<section class="character-stat-block">
  <table>
    <thead>
      <tr>
        {{#each config.characteristic as |value _|}}
          <th>{{value}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each system.characteristics as |details stat|}}
          {{#unless (eq stat "extra")}}
            <td>
              <button
                class="characteristic rollable"
                name="{{stat}}"
                value="{{details.roll}}"
              >
                {{details.roll}}
              </button>
            </td>
          {{/unless}}
        {{/each}}
      </tr>
    </tbody>
  </table>
  <div class="physical-stats">
    <table>
      <thead>
        <tr>
          <th colspan="3">{{localize "mythic.characterStatBlock.mythics"}}</th>
        </tr>
        <tr>
          <th>STR</th>
          <th>TOU</th>
          <th>AGI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{system.mythicCharacteristics.str.total}}</td>
          <td>{{system.mythicCharacteristics.tou.total}}</td>
          <td>{{system.mythicCharacteristics.agi.total}}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="7">
            {{localize "mythic.characterStatBlock.movement.title"}}
          </th>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.movement.half"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.full"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.charge"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.run"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.sprint"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.jump"}}</th>
          <th>{{localize "mythic.characterStatBlock.movement.leap"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localnum system.movement.half}}</td>
          <td>{{system.movement.full}}</td>
          <td>{{system.movement.charge}}</td>
          <td>{{system.movement.run}}</td>
          <td>{{system.movement.sprint}}</td>
          <td>{{localnum system.movement.jump}}</td>
          <td>{{system.movement.leap}}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="3">
            {{localize "mythic.characterStatBlock.capacity.title"}}
          </th>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.capacity.carry"}}</th>
          <th>{{localize "mythic.characterStatBlock.capacity.lift"}}</th>
          <th>{{localize "mythic.characterStatBlock.capacity.push"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{localnum system.carryingCapacity.carry}}</td>
          <td>{{localnum system.carryingCapacity.lift}}</td>
          <td>{{localnum system.carryingCapacity.push}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="scaled">
    <table >
      <thead>
        <tr>
          <th colspan="2">
            {{localize "mythic.characterStatBlock.physical.wounds"}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td>
            <input
              name="system.wounds.value"
              value="{{system.wounds.value}}"
              type="number"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{system.wounds.max}}</td>
        </tr>
      </tbody>
    </table>
    <table >
      <thead>
        <tr>
          <th colspan="2">
            {{localize "mythic.characterStatBlock.physical.fatigue"}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td>
            <input
              name="system.fatigue.value"
              value="{{system.fatigue.value}}"
              type="number"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{system.fatigue.max}}</td>
        </tr>
      </tbody>
    </table>
    <table >
      <thead>
        <tr>
          <th colspan="2">
            {{localize "mythic.characterStatBlock.physical.luck"}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td>
            <input
              name="system.luck.value"
              value="{{system.luck.value}}"
              type="number"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{system.luck.max}}</td>
        </tr>
      </tbody>
    </table>
    <table >
      <thead>
        <tr>
          <th colspan="2">
            {{localize "mythic.characterStatBlock.physical.support"}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td>
            <input
              name="system.supportPoints.value"
              value="{{system.supportPoints.value}}"
              type="number"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{system.supportPoints.max}}</td>
        </tr>
      </tbody>
    </table>
    <table >
      <thead>
        <tr>
          <th colspan="3">
            {{localize "mythic.characterStatBlock.physical.shields"}}
          </th>
          <th>
            <a class="recharge"><i class="clickable fas fa-sync-alt"></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.current"}}</th>
          <td>
            <input
              name="system.shields.value"
              value="{{system.shields.value}}"
              type="number"
              data-dtype="Number"
              onfocus="this.select()"
            />
          </td>
          <th>{{localize "mythic.characterStatBlock.physical.delay"}}</th>
          <td>{{system.shields.delay}}</td>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.max"}}</th>
          <td>{{system.shields.max}}</td>
          <th>{{localize "mythic.characterStatBlock.physical.charge"}}</th>
          <td>{{system.shields.recharge}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="scaled">
    {{#if (eq actor.type "Named Character")}}
      <table style="grid-column: span 2">
        <thead>
          <tr>
            <th colspan="4">
              {{localize "mythic.characterStatBlock.experience.label"}}
            </th>
          </tr>
          <tr>
            <th>{{localize "mythic.characterStatBlock.experience.tier"}}</th>
            <th>{{localize "mythic.characterStatBlock.experience.total"}}</th>
            <th>{{localize "mythic.characterStatBlock.experience.spent"}}</th>
            <th>{{localize "mythic.characterStatBlock.experience.current"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{system.experience.tier}}</td>
            <td>{{localnum system.experience.total}}</td>
            <td>{{localnum system.experience.spent}}</td>
            <td>{{localnum system.experience.current}}</td>
          </tr>
        </tbody>
      </table>
    {{else}}
      <table style="grid-column: span 2">
        <thead>
          <tr>
            <th colspan="4">
              {{localize "mythic.characterStatBlock.experience.payout"}}
            </th>
          </tr>
          <tr>
            <th>{{localize "mythic.characterStatBlock.experience.total"}}</th>
            <th>{{localize "mythic.characterStatBlock.experience.base"}}</th>
            <th>
              {{localize "mythic.characterStatBlock.experience.multiplier"}}
            </th>
            <th>{{localize "mythic.characterStatBlock.experience.kit"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>{{localnum system.experiencePayout.total}}</b></td>
            <td>{{localnum system.experiencePayout.base}}</td>
            <td>&times;{{system.experiencePayout.diffMultiplier}}</td>
            <td>{{localnum system.experiencePayout.kit}}</td>
          </tr>
        </tbody>
      </table>
    {{/if}}
    <table style="grid-column: span 3">
      <thead>
        <tr>
          <th colspan="7">
            {{localize "mythic.characterStatBlock.physical.damageResistance"}}
          </th>
        </tr>
        <tr>
          <th>{{localize "mythic.characterStatBlock.physical.head"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.chest"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.arms.left"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.arms.right"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.legs.left"}}</th>
          <th>{{localize "mythic.characterStatBlock.physical.legs.right"}}</th>
          <th>TOU</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {{#each system.armor as |stats loc|}}
            <td>
              <b>{{stats.resistance}}</b>&nbsp;&nbsp;({{stats.protection}})
            </td>
          {{/each}}
          <td>{{system.characteristics.extra.touDR}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
