<section class="character-sheet-skills">
  <table id="skill-table">
    <thead>
      <tr>
        <th colspan="7">{{localize "mythic.characterSkills.skillsTitle"}}</th>
      </tr>
      <tr>
        <th>{{localize "mythic.characterSkills.name"}}</th>
        <th>{{localize "mythic.characterSkills.difficulty"}}</th>
        <th>{{localize "mythic.characterSkills.type"}}</th>
        <th>{{localize "mythic.characterSkills.characteristic"}}</th>
        <th>{{localize "mythic.characterSkills.training"}}</th>
        <th style="width:90px">{{localize "mythic.characterSkills.mods"}}</th>
        <th>{{localize "mythic.characterSkills.roll"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each config.skills as |details skill|}}
        {{#with (lookup ../this.actor.system.skills skill)}}
          <tr>
            <td>{{localize (concat "mythic.skillNames." skill)}}</td>
            <td>{{localize details.difficulty}}</td>
            <td>{{localize details.type}}</td>
            <td>
              <select name="system.skills.{{skill}}.characteristic">
                {{#if (eq ../../actor.type "Flood")}}
                  {{selectOptions details.floodCharacteristics selected=this.characteristic}}
                {{else}}
                  {{selectOptions details.characteristics selected=this.characteristic}}
                {{/if}}
            </td>
            <td>
              <select name="system.skills.{{skill}}.training.tier">
                {{selectOptions ../../config.skillTraining selected=this.training.tier localize=true}}
              </select>
            </td>
            <td>
              <input
                style="width:50px"
                name={{concat "system.skills." skill ".mods"}}
                type="number"
                data-dtype="Number"
                value="{{this.mods}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <button
                class="skill rollable"
                {{#if (cond "&&" (eq skill "evasion") (eq this.characteristic "WFM"))}}
                  name="{{localize "mythic.skillNames.parry"}} ({{this.characteristic}})"
                {{else}}
                  name="{{localize (concat "mythic.skillNames." skill)}} ({{this.characteristic}})"
                {{/if}}
                value="{{this.roll}}"
              >
                <b>{{this.roll}}</b>
              </button>
            </td>
          </tr>
        {{/with}}
      {{/each}}
      <tr>
        <td colspan="7">
          <textarea
            name="system.skills.notes"
            placeholder="{{localize "mythic.characterSkills.skillNotes"}}"
          >{{system.skills.notes}}</textarea>
        </td>
      </tr>
    </tbody>
  </table>
</section>
