{{!-- Speed Gauge --}}
<table>
  <thead>
    <tr>
      <th colspan="2">{{localize "mythic.vehicleSheet.movement.speed"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">
        <div class="vehicle-dash">
          <div class="speed-current-value">
            <a>
              <i class="fas fa-minus speed-change" data-operation="dec"></i>
            </a>
            <input
              name="system.movement.speed.value"
              style="width:75px"
              type="number"
              data-dtype="Number"
              value="{{system.movement.speed.value}}"
              onfocus="this.select()"
            />
            <a><i class="fas fa-plus speed-change" data-operation="inc"></i></a>
          </div>
          <div class="gauge" style="width:140px">
            <span class="dial band"></span>
            {{#times 24}}
              <span class="tick tick-speedo"></span>
            {{/times}}
            <span
              style="transform:rotate({{angle "speed" system.movement.speed}}deg)"
              {{#if (gt system.movement.speed.value system.movement.speed.max)}}
                class="needle pushed"
              {{else}}
                class="needle"
              {{/if}}
            ></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="speed-conversion">
          <span>{{localnum system.movement.speed.value}}</span>
          <span>/</span>
          <span>{{localnum system.movement.speed.max}}</span>
          <span>MPT</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="speed-conversion">
          <span>{{localnum (doMath "*" 0.6 system.movement.speed.value)}}</span>
          <span>/</span>
          <span>{{localnum (doMath "*" 0.6 system.movement.speed.max)}}</span>
          <span>KPH</span>
        </div>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>{{localize "mythic.vehicleSheet.movement.brake"}}</th>
      <th>{{localize "mythic.vehicleSheet.movement.accelerate"}}</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td>{{localnum system.movement.brake.value}}&nbsp;MPT</td>
      <td>{{localnum system.movement.accelerate.value}}&nbsp;MPT</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th colspan="2">{{localize "mythic.vehicleSheet.movement.maneuver"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">
        <span>
          <select name="system.movement.maneuver.owner">
            <option value="" {{#if (eq "" system.movement.maneuver.owner)}}selected{{/if}}>--</option>
            {{#if system.crew.operators}}
              {{#each system.crew.operators as |operator|}}
                {{#if operator.display}}
                  <option
                    value="{{concat "o_" operator.id}}"
                    {{#if (eq (concat "o_" operator.id) ../system.movement.maneuver.owner)}}selected{{/if}}
                  >
                    [O{{doMath "+" operator.idx 1}}]
                  </option>
                {{/if}}
              {{/each}}
            {{/if}}
          </select>
          <button
            name="{{localize "mythic.vehicleSheet.movement.maneuver"}}"
            class="gauge-btn rollable"
            value="{{system.movement.maneuver.total}}"
            {{#if (eq system.movement.maneuver.total 0)}}
              disabled="true"
              aria-disabled="true"
            {{/if}}
          >
            {{localnum system.movement.maneuver.total}}
          </button>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <button
          class="vehicle-btn vehicle-attack"
          data-atk-type="splatter"
          {{#if (eq system.movement.speed.value 0)}}
            disabled="true"
            aria-disabled="true"
          {{/if}}
        >
          <i class="fa-solid fa-person-walking"></i>
        </button>
      </td>
      <td>
        <button
          class="vehicle-btn vehicle-attack"
          data-atk-type="wreck"
          {{#if (eq system.movement.speed.value 0)}}
            disabled="true"
            aria-disabled="true"
          {{/if}}
        >
          <i class="fa-solid fa-car-burst"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
