<div class="vehicle-common-stats">
  <table>
    <thead>
      <tr>
        <th colspan="5">
          {{localize "mythic.vehicleSheet.breakpoints.label"}}
        </th>
      </tr>
      <tr>
        {{#each config.vehicle.breakpoints as |value _|}}
          <th>{{localize value}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each config.vehicle.breakpoints as |_ key|}}
          {{#with (lookup ../this.system.breakpoints key)}}
            <td>
              <input
                name="system.breakpoints.{{key}}.max"
                type="number"
                data-dtype="Number"
                value="{{this.max}}"
                onfocus="this.select()"
              />
            </td>
          {{/with}}
        {{/each}}
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="5">{{localize "mythic.vehicleSheet.armor.label"}}</th>
      </tr>
      <tr>
        {{#each config.vehicle.armor as |value _|}}
          <th>{{localize value}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each config.vehicle.armor as |_ key|}}
          {{#with (lookup ../this.system.armor key)}}
            <td>
              <input
                name="system.armor.{{key}}.max"
                type="number"
                data-dtype="Number"
                value="{{this.max}}"
                onfocus="this.select()"
              />
            </td>
          {{/with}}
        {{/each}}
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="3">{{localize "mythic.shields.label"}}</th>
      </tr>
      <tr>
        <th>{{localize "mythic.shields.integrity"}}</th>
        <th>{{localize "mythic.shields.delay"}}</th>
        <th>{{localize "mythic.shields.recharge"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            name="system.shields.max"
            type="number"
            data-dtype="Number"
            value="{{system.shields.max}}"
            onfocus="this.select()"
          />
        </td>
        <td>
          <input
            name="system.shields.delay"
            type="number"
            data-dtype="Number"
            value="{{system.shields.delay}}"
            onfocus="this.select()"
          />
        </td>
        <td>
          <input
            name="system.shields.recharge"
            type="number"
            data-dtype="Number"
            value="{{system.shields.recharge}}"
            onfocus="this.select()"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="vehicle-split">
  {{#if (eq system.propulsion.type "none")}}
    <div>
      <table>
        <thead>
          <tr>
            <th colspan="4">{{localize "mythic.vehicleSheet.stationary"}}</th>
          </tr>
          <tr>
            <th>WFR</th>
            <th>INT</th>
            <th>PER</th>
            <th>{{localize "mythic.vehicleSheet.automated"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                name="system.characteristics.wfr"
                type="number"
                data-dtype="Number"
                value="{{system.characteristics.wfr}}"
                onfocus="this.select()"
                {{#unless system.automated}}
                  disabled="true" aria-disabled="true"
                {{/unless}}
              />
            </td>
            <td>
              <input
                name="system.characteristics.int"
                type="number"
                data-dtype="Number"
                value="{{system.characteristics.int}}"
                onfocus="this.select()"
                {{#unless system.automated}}
                  disabled="true" aria-disabled="true"
                {{/unless}}
              />
            </td>
            <td>
              <input
                name="system.characteristics.per"
                type="number"
                data-dtype="Number"
                value="{{system.characteristics.per}}"
                onfocus="this.select()"
                {{#unless system.automated}}
                  disabled="true" aria-disabled="true"
                {{/unless}}
              />
            </td>
            <td>
              <input
                name="system.automated"
                type="checkbox"
                {{checked system.automated}}
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {{else if (eq system.propulsion.type "legs")}}
    <div>
      <table>
        <thead>
          <tr>
            <th colspan="6">
              {{localize "mythic.vehicleSheet.walkerStats.label"}}
            </th>
          </tr>
          <tr>
            <th>STR</th>
            <th>AGI</th>
            <th>{{localize "mythic.vehicleSheet.walkerStats.mythicStr"}}</th>
            <th>{{localize "mythic.vehicleSheet.walkerStats.mythicAgi"}}</th>
            <th>{{localize "mythic.vehicleSheet.movement.jump"}}</th>
            <th>{{localize "mythic.vehicleSheet.movement.leap"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                name="system.characteristics.str"
                type="number"
                data-dtype="Number"
                value="{{system.characteristics.str}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                name="system.characteristics.agi"
                type="number"
                data-dtype="Number"
                value="{{system.characteristics.agi}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                name="system.characteristics.mythicStr"
                type="number"
                data-dtype="Number"
                value="{{system.characteristics.mythicStr}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                name="system.characteristics.mythicAgi"
                type="number"
                data-dtype="Number"
                value="{{system.characteristics.mythicAgi}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                name="system.movement.walker.jump"
                type="number"
                data-dtype="Number"
                value="{{system.movement.walker.jump}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                name="system.movement.walker.leap"
                type="number"
                data-dtype="Number"
                value="{{system.movement.walker.leap}}"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="split-left">
      <table>
        <thead>
          <tr>
            <th colspan="4">
              {{localize "mythic.vehicleSheet.movement.label"}}
            </th>
          </tr>
          <tr>
            <th>{{localize "mythic.vehicleSheet.movement.accelerate"}}</th>
            <th>{{localize "mythic.vehicleSheet.movement.brake"}}</th>
            <th>{{localize "mythic.vehicleSheet.movement.topSpeed"}}</th>
            <th>{{localize "mythic.vehicleSheet.movement.maneuver"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                name="system.movement.accelerate.max"
                type="number"
                data-dtype="Number"
                value="{{system.movement.accelerate.max}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                name="system.movement.brake.max"
                type="number"
                data-dtype="Number"
                value="{{system.movement.brake.max}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                name="system.movement.speed.base"
                type="number"
                data-dtype="Number"
                value="{{system.movement.speed.base}}"
                onfocus="this.select()"
              />
            </td>
            <td>
              <input
                name="system.movement.maneuver.base"
                type="number"
                data-dtype="Number"
                value="{{system.movement.maneuver.base}}"
                onfocus="this.select()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/if}}
  <div class="split-right">
    <table>
      <thead>
        <tr>
          <th colspan="3">
            {{localize "mythic.vehicleSheet.propulsion.label"}}
          </th>
        </tr>
        <tr>
          <th>{{localize "mythic.vehicleSheet.propulsion.type"}}</th>
          <th>{{localize "mythic.vehicleSheet.propulsion.intact"}}</th>
          <th>{{localize "mythic.vehicleSheet.propulsion.total"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select name="system.propulsion.type">
              {{#select system.propulsion.type}}
                {{#each config.vehicle.propulsion as |value key|}}
                  <option value="{{key}}">{{localize value}}</option>
                {{/each}}
              {{/select}}
          </td>
          <td>
            <input
              name="system.propulsion.value"
              type="number"
              data-dtype="Number"
              value="{{system.propulsion.value}}"
              {{#if (eq system.propulsion.type "none")}}
                disabled="true" aria-disabled="true"
              {{/if}}
              onfocus="this.select()"
            />
          </td>
          <td>
            {{#if (eq system.propulsion.type "thrusters")}}
              <input
                name="system.propulsion.max"
                type="number"
                data-dtype="Number"
                value="{{system.propulsion.max}}"
                onfocus="this.select()"
              />
            {{else}}
              <select
                name="system.propulsion.max"
                {{#if (eq system.propulsion.type "none")}}
                  disabled="true" aria-disabled="true"
                {{/if}}
              >
                {{#select system.propulsion.max}}
                  {{#each (lookup config.vehicle.mobility system.propulsion.type)}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{/select}}
              </select>
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "mythic.vehicleSheet.points.label"}}</th>
        </tr>
        <tr>
          <th>{{localize "mythic.vehicleSheet.points.size"}}</th>
          <th>{{localize "mythic.vehicleSheet.points.weapon"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              name="system.sizePoints"
              type="number"
              data-dtype="Number"
              value="{{system.sizePoints}}"
              onfocus="this.select()"
            />
          </td>
          <td>
            <input
              name="system.weaponPoints"
              type="number"
              data-dtype="Number"
              value="{{system.weaponPoints}}"
              onfocus="this.select()"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{{#unless system.automated}}
  <h2>{{localize "mythic.vehicleSheet.crew.label"}}</h2>
  <div class="vehicle-role-assignment">
    <div>
      <h3 class="add-item-header">
        <span>{{localize "mythic.vehicleSheet.crew.operators.label"}}</span>
        <a class="crew-create" data-role="operator">
          <i class="clickable fa-solid fa-plus"></i>
        </a>
      </h3>
      {{#if system.crew.operators}}
        {{#each system.crew.operators as |operator|}}
          <div>
            <span><b>[O{{doMath "+" operator.idx 1}}]</b></span>
            <input
              class="crew-edit"
              data-role="operator"
              data-index="{{operator.idx}}"
              type="text"
              value="{{operator.id}}"
            />
            <span>
              {{#if operator.id}}
                <b>{{operator.display}}</b>
              {{else}}
                &lt;{{localize "mythic.vehicleSheet.crew.empty"}}&gt;
              {{/if}}
            </span>
            <a
              class="crew-delete"
              data-role="operator"
              data-index="{{operator.idx}}"
            >
              <i class="clickable fas fa-trash"></i>
            </a>
          </div>
        {{/each}}
      {{else}}
        <div>
          <p style="grid-column: span 4">
            {{localize "mythic.vehicleSheet.crew.operators.empty"}}
          </p>
        </div>
      {{/if}}
    </div>
    <div>
      <h3 class="add-item-header">
        <span>{{localize "mythic.vehicleSheet.crew.gunners.label"}}</span>
        <a class="crew-create" data-role="gunner">
          <i class="clickable fa-solid fa-plus"></i>
        </a>
      </h3>
      {{#if system.crew.gunners}}
        {{#each system.crew.gunners as |gunner|}}
          <div>
            <span><b>[G{{doMath "+" gunner.idx 1}}]</b></span>
            <input
              class="crew-edit"
              data-role="gunner"
              data-index="{{gunner.idx}}"
              type="text"
              value="{{gunner.id}}"
            />
            <span>
              {{#if gunner.id}}
                <b>{{gunner.display}}</b>
              {{else}}
                &lt;{{localize "mythic.vehicleSheet.crew.empty"}}&gt;
              {{/if}}
            </span>
            <a
              class="crew-delete"
              data-role="gunner"
              data-index="{{gunner.idx}}"
            >
              <i class="clickable fas fa-trash"></i>
            </a>
          </div>
        {{/each}}
      {{else}}
        <div>
          <p style="grid-column: span 4">
            {{localize "mythic.vehicleSheet.crew.gunners.empty"}}
          </p>
        </div>
      {{/if}}
    </div>
    <div>
      <h3 class="add-item-header">
        <span>{{localize "mythic.vehicleSheet.crew.complement.label"}}</span>
        <a class="crew-create" data-role="complement">
          <i class="clickable fa-solid fa-plus"></i>
        </a>
      </h3>
      {{#if system.crew.complement}}
        {{#each system.crew.complement as |complement|}}
          <div>
            <span><b>[C{{doMath "+" complement.idx 1}}]</b></span>
            <input
              class="crew-edit"
              data-role="complement"
              data-index="{{complement.idx}}"
              type="text"
              value="{{complement.id}}"
            />
            <span>
              {{#if complement.id}}
                <b>{{complement.display}}</b>
              {{else}}
                &lt;{{localize "mythic.vehicleSheet.crew.empty"}}&gt;
              {{/if}}
            </span>
            <a
              class="crew-delete"
              data-role="complement"
              data-index="{{complement.idx}}"
            >
              <i class="clickable fas fa-trash"></i>
            </a>
          </div>
        {{/each}}
      {{else}}
        <div>
          <p style="grid-column: span 4">
            {{localize "mythic.vehicleSheet.crew.complement.empty"}}
          </p>
        </div>
      {{/if}}
    </div>
    <div>
      <h3 class="add-item-header">
        {{localize "mythic.vehicleSheet.crew.notes.label"}}
      </h3>
      <textarea
        name="system.crew.notes"
        placeholder="{{localize "mythic.vehicleSheet.crew.notes.notes"}}"
      >{{system.crew.notes}}</textarea>
    </div>
  </div>
{{/unless}}
