<div class="vehicle-details">
  <img
    src="{{actor.img}}"
    data-edit="img"
    title="{{actor.name}}"
  />
  <div class="vehicle-info">
    <div class="vehicle-identity">
      <h1 id="name">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize "mythic.characterDetails.name"}}"
          onfocus="this.select()"
        />
      </h1>
      <h1 id="faction">
        <input
          name="system.faction"
          type="text"
          value="{{system.faction}}"
          placeholder="{{localize "mythic.characterDetails.faction"}}"
          onfocus="this.select()"
        />
      </h1>
    </div>
    <div class="vehicle-taxonomy">
      <p style="grid-column: span 3">
        <input
          name="system.designation"
          type="text"
          value="{{system.designation}}"
          placeholder="{{localize "mythic.vehicleDetails.designation"}}"
          onfocus="this.select()"
        />
      </p>
      <p style="grid-column: span 2">
        <input
          name="system.variant"
          type="text"
          value="{{system.variant}}"
          placeholder="{{localize "mythic.vehicleDetails.variant"}}"
          onfocus="this.select()"
        />
      </p>
    </div>
    <div class="vehicle-physical">
      <select name="system.factionTraining">
        {{selectOptions config.trainings.factions selected=system.factionTraining localize=true}}
      </select>
      <span class="offset-label">
        <p>{{localize "mythic.vehicleDetails.price"}}</p>
        <input
          name="system.price"
          style="width: 82px"
          type="number"
          data-dtype="Number"
          placeholder="0"
          value="{{system.price}}"
          onfocus="this.select()"
        />
      </span>
      <span class="offset-label">
        <p>{{localize "mythic.vehicleDetails.experience"}}</p>
        <input
          name="system.experience"
          style="width: 67px"
          type="number"
          data-dtype="Number"
          placeholder="0"
          value="{{system.experience}}"
          onfocus="this.select()"
        />
      </span>
      <select name="system.size">
        {{selectOptions config.size selected=system.size localize=true}}
      </select>
      <span class="offset-label">
        <p>{{localize "mythic.vehicleDetails.length"}}</p>
        <input
          name="system.dimensions.length"
          style="width: 75px"
          type="number"
          data-dtype="Number"
          placeholder="0"
          value="{{system.dimensions.length}}"
          onfocus="this.select()"
        />
      </span>
      <span class="offset-label">
        <p>{{localize "mythic.vehicleDetails.width"}}</p>
        <input
          name="system.dimensions.width"
          style="width: 80px"
          type="number"
          data-dtype="Number"
          placeholder="0"
          value="{{system.dimensions.width}}"
          onfocus="this.select()"
        />
      </span>
      <span class="offset-label">
        <p>{{localize "mythic.vehicleDetails.height"}}</p>
        <input
          name="system.dimensions.height"
          style="width: 76px"
          type="number"
          data-dtype="Number"
          placeholder="0"
          value="{{system.dimensions.height}}"
          onfocus="this.select()"
        />
      </span>
      <span class="offset-label">
        <p>{{localize "mythic.vehicleDetails.weight"}}</p>
        <input
          name="system.dimensions.weight"
          style="width: 80px"
          type="number"
          data-dtype="Number"
          placeholder="0"
          value="{{system.dimensions.weight}}"
          onfocus="this.select()"
        />
      </span>
    </div>
  </div>
</div>
