<table>
  <thead>
    <tr>
      <th>STR</th>
      <th>AGI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button
          name="str"
          class="characteristic rollable"
          value="{{system.characteristics.str}}"
          {{#if (eq system.characteristics.str 0)}}
            disabled="true" aria-disabled="true"
          {{/if}}
        >
          {{localnum system.characteristics.str}}
        </button>
      </td>
      <td>
        <button
          name="agi"
          class="characteristic rollable"
          value="{{system.characteristics.agi}}"
          {{#if (eq system.characteristics.agi 0)}}
            disabled="true" aria-disabled="true"
          {{/if}}
        >
          {{localnum system.characteristics.agi}}
        </button>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>{{localize "mythic.vehicleSheet.walkerStats.mythicStr"}}</th>
      <th>{{localize "mythic.vehicleSheet.walkerStats.mythicAgi"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&plus;{{system.characteristics.mythicStr}}</td>
      <td>&plus;{{system.characteristics.mythicAgi}}</td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th>{{localize "mythic.characterStatBlock.movement.half"}}</th>
      <th>{{localize "mythic.characterStatBlock.movement.full"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{localnum system.movement.walker.half}}</td>
      <td>{{localnum system.movement.walker.full}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>{{localize "mythic.characterStatBlock.movement.charge"}}</th>
      <th>{{localize "mythic.characterStatBlock.movement.run"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{localnum system.movement.walker.charge}}</td>
      <td>{{localnum system.movement.walker.run}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>{{localize "mythic.skillNames.evasion"}}</th>
      <th>{{localize "mythic.skillNames.parry"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">
        <div class="walker">
          <button
            name="{{localize "mythic.skillNames.evasion"}}"
            class="gauge-btn rollable"
            value="{{system.movement.walker.evasion}}"
            {{#if (eq system.movement.walker.evasion 0)}}
              disabled="true"
              aria-disabled="true"
            {{/if}}
          >
            {{localnum system.movement.walker.evasion}}
          </button>
          <select name="system.movement.walker.owner">
            <option value="" {{#if (eq "" system.movement.walker.owner)}}selected{{/if}}>--</option>
            {{#if system.crew.operators}}
              {{#each system.crew.operators as |operator|}}
                {{#if operator.display}}
                  <option
                    value="{{concat "o_" operator.id}}"
                    {{#if (eq (concat "o_" operator.id) ../system.movement.walker.owner)}}selected{{/if}}
                  >
                    [O{{doMath "+" operator.idx 1}}]
                  </option>
                {{/if}}
              {{/each}}
            {{/if}}
          </select>
          <button
            name="{{localize "mythic.skillNames.parry"}}"
            class="gauge-btn rollable"
            value="{{system.movement.walker.parry}}"
            {{#if (eq system.movement.walker.parry 0)}}
              disabled="true"
              aria-disabled="true"
            {{/if}}
          >
            {{localnum system.movement.walker.parry}}
          </button>
        </div>
      </td>
    </tr>
      <td colspan="2">
        <button
          class="vehicle-btn vehicle-attack"
          data-atk-type="trample"
          {{#unless system.movement.walker.owner}}
            disabled="true"
            aria-disabled="true"
          {{/unless}}
        >
          <i class="fa-solid fa-shoe-prints"></i>
        </button>
      </td>
  </tbody>
</table>
