<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
    </h1>
  </header>
  <nav class="armor-tabs tabs" data-group="primary">
    <a class="item" data-tab="basic">{{localize "mythic.armorSheet.nav.basic"}}</a>
    <a class="item" data-tab="details">{{localize "mythic.armorSheet.nav.details"}}</a>
    <a class="item" data-tab="variant">{{localize "mythic.armorSheet.nav.variant"}}</a>
    <a class="item" data-tab="permutations">{{localize "mythic.armorSheet.nav.permutations"}}</a>
    <a class="item" data-tab="notes">{{localize "mythic.armorSheet.nav.notes"}}</a>
  </nav>
  <section class="armor-body">
    {{!-- Basic Info Page --}}
    <div class="tab" data-group="primary" data-tab="basic">
      {{> "systems/mythic/templates/partials/armor-sheet-info.hbs"}}
    </div>

    {{!-- Armor Details Page --}}
    <div class="tab" data-group="primary" data-tab="details">
      {{> "systems/mythic/templates/partials/editor.hbs" content=data.data.notes.armor target="data.notes.armor" link="armorSheet.notes.armor"}}
    </div>

    {{!-- Variant Page --}}
    <div class="tab" data-group="primary" data-tab="variant">
      {{> "systems/mythic/templates/partials/editor.hbs" content=data.data.notes.variant target="data.notes.variant" link="armorSheet.notes.variant"}}
    </div>

    {{!-- Permutations Page --}}
    <div class="tab" data-group="primary" data-tab="permutations">
      <table>
        <thead>
          <tr>
            <th colspan="6">{{localize "mythic.armorSheet.hardpoints"}}</th>
          </tr>
          <tr>
            <th>{{localize "mythic.armorSheet.locations.head"}}</th>
            <th>{{localize "mythic.armorSheet.locations.chest"}}</th>
            <th>{{localize "mythic.armorSheet.locations.leftArm"}}</th>
            <th>{{localize "mythic.armorSheet.locations.rightArm"}}</th>
            <th>{{localize "mythic.armorSheet.locations.leftLeg"}}</th>
            <th>{{localize "mythic.armorSheet.locations.rightLeg"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>
                <input style="width:40px" name="data.hardpoints.head" type="number" data-dtype="Number" value="{{data.data.hardpoints.head}}" onfocus="this.select()"> / 3
              </span>
            </td>
            <td>
              <span>
                <input style="width:40px" name="data.hardpoints.chest" type="number" data-dtype="Number" value="{{data.data.hardpoints.chest}}" onfocus="this.select()"> / 6
              </span>
            </td>
            <td>
              <span>
                <input style="width:40px" name="data.hardpoints.leftArm" type="number" data-dtype="Number" value="{{data.data.hardpoints.leftArm}}" onfocus="this.select()"> / 2
              </span>
            </td>
            <td>
              <span>
                <input style="width:40px" name="data.hardpoints.rightArm" type="number" data-dtype="Number" value="{{data.data.hardpoints.rightArm}}" onfocus="this.select()"> / 2
              </span>
            </td>
            <td>
              <span>
                <input style="width:40px" name="data.hardpoints.leftLeg" type="number" data-dtype="Number" value="{{data.data.hardpoints.leftLeg}}" onfocus="this.select()"> / 2
              </span>
            </td>
            <td>
              <span>
                <input style="width:40px" name="data.hardpoints.rightLeg" type="number" data-dtype="Number" value="{{data.data.hardpoints.rightLeg}}" onfocus="this.select()"> / 2
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="sheet-content">
        {{editor content=data.data.notes.permutations target="data.notes.permutations" button=true owner=owner editable=this.options.editable}}
      </div>
    </div>

    {{!-- Notes Page --}}
    <div class="tab" data-group="primary" data-tab="notes">
      {{> "systems/mythic/templates/partials/editor.hbs" content=data.data.notes.other target="data.notes.other" link="armorSheet.notes.other"}}
    </div>
  </section>
</form>