<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
    </h1>
  </header>
  <div class="sheet-content">
    <table>
      <thead>
        <tr>
          <th>{{localize "mythic.skillSheet.difficulty"}}</th>
          <th>{{localize "mythic.skillSheet.type"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select name="data.difficulty">
              {{#select data.data.difficulty}}
                {{#each config.skillDifficulty as |name diff|}}
                  <option value="{{diff}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
          <td>
            <select name="data.type">
              {{#select data.data.type}}
                {{#each config.skillType as |name type|}}
                  <option value="{{type}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="10">{{localize "mythic.skillSheet.stats"}}</th>
        </tr>
        <tr>
          <th>STR</th>
          <th>TOU</th>
          <th>AGI</th>
          <th>WFR</th>
          <th>WFM</th>
          <th>INT</th>
          <th>PER</th>
          <th>CR</th>
          <th>CH</th>
          <th>LD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input name="data.stat.str" type="checkbox" {{checked data.data.stat.str}}/></td>
          <td><input name="data.stat.tou" type="checkbox" {{checked data.data.stat.tou}}/></td>
          <td><input name="data.stat.agi" type="checkbox" {{checked data.data.stat.agi}}/></td>
          <td><input name="data.stat.wfr" type="checkbox" {{checked data.data.stat.wfr}}/></td>
          <td><input name="data.stat.wfm" type="checkbox" {{checked data.data.stat.wfm}}/></td>
          <td><input name="data.stat.int" type="checkbox" {{checked data.data.stat.int}}/></td>
          <td><input name="data.stat.per" type="checkbox" {{checked data.data.stat.per}}/></td>
          <td><input name="data.stat.cr" type="checkbox" {{checked data.data.stat.cr}}/></td>
          <td><input name="data.stat.ch" type="checkbox" {{checked data.data.stat.ch}}/></td>
          <td><input name="data.stat.ld" type="checkbox" {{checked data.data.stat.ld}}/></td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="3">{{localize "mythic.skillSheet.cost"}}</th>
        </tr>
        <tr>
          <th>{{localize "mythic.skillSheet.trained"}}</th>
          <th>+10</th>
          <th>+20</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input name="data.cost.trained" type="text" value="{{data.data.cost.trained}}"/>
          </td>
          <td>
            <input name="data.cost.plus10" type="text" value="{{data.data.cost.plus10}}"/>
          </td>
          <td>
            <input name="data.cost.plus20" type="text" value="{{data.data.cost.plus20}}"/>
          </td>
        </tr>
      </tbody>
    </table>
    {{editor content=data.data.description target="data.description" button=true owner=owner editable=this.options.editable}}
  </div>
</form>