<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
    </h1>
  </header>
  <table>
    <thead>
      <tr>
        <th>{{localize "mythic.skillSheet.difficulty"}}</th>
        <th>{{localize "mythic.skillSheet.type"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select name="data.difficulty">
            {{#select data.data.difficulty}}
              {{#each config.skillDifficulty as |name diff|}}
                <option value="{{diff}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
        <td>
          <select name="data.type">
            {{#select data.data.type}}
              {{#each config.skillType as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <p>TODO: Checkbox characteristics.</p>
  <table>
    <thead>
      <tr>
        <th colspan="3">{{localize "mythic.skillSheet.cost"}}</th>
      </tr>
      <tr>
        <th>{{localize "mythic.skillSheet.trained"}}</th>
        <th>+10</th>
        <th>+20</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <input name="data.cost.trained" type="text" value="{{data.data.cost.trained}}"/>
        </th>
        <th>
          <input name="data.cost.plus10" type="text" value="{{data.data.cost.plus10}}"/>
        </th>
        <th>
          <input name="data.cost.plus20" type="text" value="{{data.data.cost.plus20}}"/>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="text-entry">
    <textarea class="editor" name="data.description">{{data.data.description}}</textarea>
  </div>
</form>