<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="summary">
      {{localize "mythic.characterNav.summary"}}
    </a>
    <a class="item" data-tab="cargo">
      {{localize "mythic.characterNav.cargo"}}
    </a>
    <a class="item" data-tab="notes">
      {{localize "mythic.characterNav.notes"}}
    </a>
    <a class="item" data-tab="settings">
      {{localize "mythic.characterNav.settings"}}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Summary Page: --}}
    <div class="tab" data-group="primary" data-tab="summary">
      {{> "systems/mythic/templates/partials/vehicle-sheet-summary.hbs"}}
    </div>

    {{!-- Cargo Page: --}}
    <div class="tab" data-group="primary" data-tab="cargo">
      {{> "systems/mythic/templates/partials/vehicle-sheet-cargo.hbs"}}
    </div>

    {{!-- Notes Page: --}}
    <div class="tab" data-group="primary" data-tab="notes">
      {{> "systems/mythic/templates/partials/editor.hbs" content=system.notes target="system.notes" link="characterNav.notes"}}
    </div>

    {{!-- Settings Page: --}}
    <div class="tab" data-group="primary" data-tab="settings">
      {{> "systems/mythic/templates/partials/vehicle-sheet-settings.hbs"}}
    </div>
  </section>
</form>
