<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
    </h1>
  </header>
  <div class="sheet-content">
    <table class="weapon-info">
      <thead>
        <tr>
          <th>Weapon Tags</th>
          <th>Weapon Group</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              {{#each data.data.tags as |has name|}}
                <input name="data.tags.{{name}}" type="checkbox" {{checked has}}/>
                <p>{{name}}</p>
              {{/each}}
            </div>
          </td>
          <td>
            <div>
              {{#each data.data.group as |in name|}}
                <input name="data.group.{{name}}" type="checkbox" {{checked in}}/>
                <p>{{name}}</p>
              {{/each}}
            </div>
          </td>
        </tr>        
      </tbody>
    </table>
    <p>TODO weapon stats</p>
    <table class="special-rules">
      <thead>
        <tr>
          <th>Weapon Special Rules</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{#each data.data.special as |details name|}}
              <span>
                <input name="data.special.{{name}}.has" type="checkbox" {{checked details.has}}/>
                <p>{{localize (concat "mythic.weaponSheet.specialRules." name)}}</p>
                {{#if details.value includeZero=true}}
                  <input name="data.special.{{name}}.value" type="number" data-dtype="Number" value="{{details.value}}"/>
                {{/if}}
              </span>
            {{/each}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</form>